/*
 * NextEvent styles
 */

body.skinmedNextEvent h1,
body.skinmedNextEvent h2,
body.skinmedNextEvent h3,
body.skinmedNextEvent h4,
body.skinmedNextEvent h5,
body.skinmedNextEvent h6,
p, label, button, input[type="button"],input[type="submit"] {
	font-family: Helvetica,Arial,san-serif !important;
}
body.skinmedNextEvent h1 {
	display: none;
}
body.skinmedNextEvent h2 {
	color: #003672;
	font-weight: 600;
}

body.skinmedNextEvent .page-footer {
	display: none;
}
body.skinmedNextEvent .btn-next-panel {
	margin-top: 3rem;
}
body.skinmedNextEvent .sidebar.primary {
	display: none;
}
body.skinmedNextEvent .content {
	float: none !important;
	margin-left: auto;
	margin-right: auto;
}
body.skinmedNextEvent .error .small {
	display: none;
}
body.skinmedNextEvent .content .error {
	background-color: inherit;
}
body.skinmedNextEvent .checkbox-description {
	top: -5px;
}
body.skinmedNextEvent #Vprices .panel-heading.price-item .ticket-select {
	width: auto;
}
body.skinmedNextEvent #Vprices .panel-heading.price-item .ticket-price {
	width: 20%;
}
body.skinmedNextEvent .input .lbl {
	margin-top: 0;
}
body.skinmedNextEvent .btn-lg.more {
	display: none;
}
body.skinmedNextEvent #personalization_wrapper-personalization-parent .input.text.btn-next-panel {
	display: none;
}

/** Buttons **/
.btn.continue:not(.btn-secondary),
.btn.btn-primary,
.btn.continue:not(.btn-secondary):hover,
.btn.btn-primary:hover,
.btn.continue:not(.btn-secondary):focus,
.btn.btn-primary:focus {
	background-color: #003672 !important;
}

/** Appointment selection **/
.categories ul.categories > li.selected,
.facets .facet-widget ul.facet-input > li.selected,
.facets .facet-widget .facet-input > label.selected .block-check {
	border-color: #003672;
	box-shadow: 0 2px #dddddd, inset 0px 0px 0px 3px #003672;
}

/** Select fields **/
.block:hover,
.bootstrap-select button:hover,
.bootstrap-select button:focus,
.bootstrap-select.open button,
.bootstrap-select.open button:hover,
.bootstrap-select .selected a,
.bootstrap-select .selected a:hover {
	border-color: #003672 !important;
}

/** Price selection **/
.price ul.price-list-items > li.chip.selected {
	border-color: #003672 !important;
	box-shadow: 0 2px #dddddd, inset 0px 0px 0px 3px #003672;
}

/** Personalization **/
body.skinmedNextEvent #Vpersonalization .upload.chosen,
body.skinmedNextEvent #Vpersonalization .upload.chosen .glyph-bg {
	background-color: #003672 !important;
}

/** Payment **/
.payment #Vmethods .block-clicked {
	webkit-box-shadow: inset 0px 0px 0px 4px #003672 !important;
	-moz-box-shadow: inset 0px 0px 0px 4px #003672 !important;
	box-shadow: inset 0px 0px 0px 4px #003672 !important;
}

/** Address form **/
.block-check.block-clicked {
	webkit-box-shadow: inset 0px 0px 0px 4px #003672 !important;
	-moz-box-shadow: inset 0px 0px 0px 4px #003672 !important;
	box-shadow: inset 0px 0px 0px 4px #003672 !important;
}

/**
 * Careful, breakpoints are for width of embeded iframe, not device width
 */
@media only screen and (min-width: 700px) {
	body.skinmedNextEvent #Vprices .panel-heading.price-item .ticket-price {
		width: 15%;
	}
}
@media only screen and (max-width: 720px) {
	body.skinmedNextEvent #Vbuttons button {
		width: 100%;
	}
}

@media only screen and (max-width: 687px) {
	body.skinmedNextEvent .input .val .month {
		padding: 0 !important;
	}
	body.skinmedNextEvent #personalization .panel-body {
		padding-bottom: 7rem;
	}
}
@media only screen and (max-width: 351px) {
	body.skinmedNextEvent #address-form .panel-body {
		padding-bottom: 5rem;
	}
}
@media only screen and (max-width: 480px) {
	body.skinmedNextEvent #htmlelement_4105 p:nth-of-type(2) {
		padding: 0 15px;
	}
	body.skinmedNextEvent .input.html {
		padding-left: 15px;
		padding-right: 15px;
	}
}
@media only screen and (max-width: 465px) {
	body.skinmedNextEvent .btn-next-panel {
		margin-top: 8rem;
	}
}
@media only screen and (max-width: 360px) {
	body.skinmedNextEvent .btn-next-panel {
		margin-top: 12rem;
	}
}
@media only screen and (max-width: 355px) {
	body.skinmedNextEvent .btn.to-payment {
		/*margin-top: 1rem;*/
	}
}
@media only screen and (max-width: 349px) {
	body.skinmedNextEvent #Vbuttons .btn.btn-lg.continue {
		margin-bottom: 3px;
	}
}

@media only screen and (max-width: 325px) {
	body.skinmedNextEvent .into-basket.panel-buttons button {
		width: 100%;
		margin-top: 3px;
	}
}
@media only screen and (max-width: 283px) {
	body.skinmedNextEvent #personalization .panel-body {
		padding-bottom: 10rem;
	}
}
