/*
Theme name: skinmed -- Skinmed ACF  Gutenberg
Description: Custom Theme
*/

/*
	Source post-css styles are located in resources/css/
	The compiled bundle is saved to `dist/css/bundle-${fingerprint}.css`
	(dist/manifest.json provides the exact path mapping).

	DEVELOPMENT.md file contains instructions how to get the compilation
	process up & running.

	If you need to make a quick fix, feel free to add CSS
	below this comment -- it's loaded after the compiled bundle.
*/

p {  }

@media (max-width: 767px) {
	.app-block-locations,
	.app-block-heading-with-actions .app__block-content,
	.app-block-heading .app__block-content {
		opacity: 1;
		-webkit-transform: translateZ(0);
				transform: translateZ(0);
	}
}
