/* ------------------------------------------------------------ *\
	Base
\* ------------------------------------------------------------ */

body {
	min-width: 320px;
	background: #fff;
	font-family: $ff-sans-serif;
	font-weight: $font-weight-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
	color: #000;
	opacity: 0;
	transition: all .4s;

	@include breakpoint-down(mobile) {
		font-size: 16px;
	}
}

body.is-loaded {
	opacity: 1;
}

ul,
ol,
p {
	color: $c-dark;
}

a {
	color: inherit;
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}

	&[href^="tel"] {
		text-decoration: none;
	}
}


.h1,
h1,
.h2,
h2,
.h3,
h3,
.h4,
h4,
.h5,
h5,
.h6,
h6 {
	margin-bottom: calc(#{$line-height-base}em / 2);
	font-family: $ff-serif;
	font-weight: 400;
}

.h1,
h1 {
	font-size: clamp(48px, 9vw, 120px);
	line-height: 1;
	color: #003672;

	@include breakpoint-down(mobile-small) {
		font-size: clamp(40px, 7.6875vw, 90px);
	}
}

.h2,
h2 {
	font-size: clamp(48px, 7.6875vw, 90px);
	line-height: 1.0556;
	color: $c-dark-blue;

	@include breakpoint-down(mobile-small) {
		font-size: clamp(40px, 7.6875vw, 90px);
	}
}

.h3,
h3 {
	font-size: clamp(37px, 5.5vw, 65px);
	line-height: 1.2308;
	color: $c-dark-blue;
	margin-bottom: clamp(10px, 2vw, 25px);

	@include breakpoint-down(mobile-small) {
		font-size: clamp(30px, 5.5vw, 65px);
	}
}

.h4,
h4 {
	font-size: clamp(30px, 3vw, 48px);
	font-family: $ff-sans-serif;
	text-transform: uppercase;
	color: #2E2E2D;
	font-weight: 300;
	line-height: 1.1458;

	@include breakpoint-down(mobile-small) {
		font-size: clamp(26px, 3vw, 48px);
	}
}

.h5,
h5 {
	font-size: clamp(17px, 3vw, 26px);
	font-weight: 300;
	line-height: 1.3846;
	text-transform: uppercase;
	font-family: $ff-sans-serif;
	color: #2E2E2D;
}

p,
ul,
ol,
dl,
hr,
table,
blockquote {
	margin-bottom: #{$line-height-base}em;
}

h1[class],
h2[class],
h3[class],
h4[class],
h5[class],
h6[class],
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child,
ul:last-child,
ol:last-child,
dl:last-child,
table:last-child,
blockquote:last-child {
	margin-bottom: 0;
}

::selection {
	color: $c-white;
	background: $c-base;
}

/* ------------------------------------------------------------ *\
	- Scroll Bar
\* ------------------------------------------------------------ */

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $c-dark;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $c-dark-blue;
}
