/* ------------------------------------------------------------ *\
  Fonts
\* ------------------------------------------------------------ */

@font-face {
	font-family: 'Avenir Next';
	src: url('../fonts/AvenirNext-DemiBold.woff2') format('woff2'),
		url('../fonts/AvenirNext-DemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Avenir Next';
	src: url('../fonts/AvenirNext-DemiBoldItalic.woff2') format('woff2'),
		url('../fonts/AvenirNext-DemiBoldItalic.woff') format('woff');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Avenir Next';
	src: url('../fonts/AvenirNext-Regular.woff2') format('woff2'),
		url('../fonts/AvenirNext-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

