$font-size-base             : 18px;
$font-weight-base           : 300;
$line-height-base           : 1.5556;

$ff-sans-serif              : 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$ff-sans-serif-alt          : 'Avenir Next', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$ff-serif                   : 'meno-banner', Georgia, 'Times New Roman', Times, serif;

$t-duration                 : 0.4s;

$shell-max-width            : 1090px;
$shell-gutter               : 35px;

$c-black                    : #000;
$c-white                    : #fff;
$c-base                     : #3C3C3C;
$c-dark-blue                : #003672;
$c-dark                     : #4B4B4B;

$responsive-ios             : 812px;

$breakpoints: (
	mobile-small: 374px,
	mobile-medium: 575px,
	mobile: 767px,
	admin-bar: 782px,
	tablet: 1023px,
	small-desktop: 1279px,
	large-desktop: 1441px
);
