/* ------------------------------------------------------------ *\
	- Pages
\* ------------------------------------------------------------ */

body.page-template-landing-html {
	.main {
		margin-top: 0 !important;
	}
}
