/* ------------------------------------------------------------ *\
	Gravity Forms Deafult Style
\* ------------------------------------------------------------ */

/*  Placeholders  */

.gform_wrapper ::-webkit-input-placeholder,
.gform_wrapper ::-moz-placeholder,
.gform_wrapper :-ms-input-placeholder,
.gform_wrapper ::placeholder {

}

/* Heading */

.gform_wrapper.gform_wrapper.gravity-theme {}
.gform_wrapper.gform_wrapper.gravity-theme .gform_heading {
	margin-bottom: 30px;
}

.gform_wrapper.gform_wrapper.gravity-theme .gform_heading .gform_title {}
.gform_wrapper.gform_wrapper.gravity-theme .gform_heading .gform_required_legend {}
.gform_wrapper.gform_wrapper.gravity-theme span.gform_description {}
.gform_wrapper.gform_wrapper.gravity-theme .gform_body {}

/*  Fields  */
.gform_wrapper.gform_wrapper.gravity-theme .gform_fields {
	grid-column-gap: 16px;
	grid-row-gap: 40px;

	@include breakpoint-down(small-desktop) {
		grid-row-gap: 30px;
	}

	@include breakpoint-down(mobile) {
		grid-row-gap: 25px;
	}
}

/* Field */
.gform_wrapper.gform_wrapper.gravity-theme .gfield.gfield--medium {
	grid-column: span 6;

	@include breakpoint-down(mobile) {
		grid-column: span 12;
	}
}

.gform_wrapper.gform_wrapper.gravity-theme .gfield.gfield--small {
	grid-column: span 4;
}

.gform_wrapper.gform_wrapper.gravity-theme .gfield_label {
	display: none;
}

.gform_wrapper.gform_wrapper.gravity-theme .gform_body .gform_fields .gfield,
.gform_wrapper.gform_wrapper.gform_wrapper.gform_validation_error .gform_body .gform_fields .gfield.gfield_error {
	position: relative;
}

.gform_wrapper .gform_body .gform_fields .gfield,
.gform_wrapper.gform_wrapper.gform_wrapper.gform_validation_error .gform_body .gform_fields .gfield.gfield_error {
	position: relative;
}

.gform_wrapper.gform_wrapper.gravity-theme .gfield input.medium,
.gform_wrapper.gform_wrapper.gravity-theme .gfield select.medium,
.gform_wrapper.gform_wrapper.gravity-theme .gfield input.small,
.gform_wrapper.gform_wrapper.gravity-theme .gfield select.small {
	width: 100%;
}

.gform_wrapper.gform_wrapper.gravity-theme input[type=color],
.gform_wrapper.gform_wrapper.gravity-theme input[type=date],
.gform_wrapper.gform_wrapper.gravity-theme input[type=datetime-local],
.gform_wrapper.gform_wrapper.gravity-theme input[type=datetime],
.gform_wrapper.gform_wrapper.gravity-theme input[type=email],
.gform_wrapper.gform_wrapper.gravity-theme input[type=month],
.gform_wrapper.gform_wrapper.gravity-theme input[type=number],
.gform_wrapper.gform_wrapper.gravity-theme input[type=password],
.gform_wrapper.gform_wrapper.gravity-theme input[type=search],
.gform_wrapper.gform_wrapper.gravity-theme input[type=tel],
.gform_wrapper.gform_wrapper.gravity-theme input[type=text],
.gform_wrapper.gform_wrapper.gravity-theme input[type=time],
.gform_wrapper.gform_wrapper.gravity-theme input[type=url],
.gform_wrapper.gform_wrapper.gravity-theme input[type=week],
.gform_wrapper.gform_wrapper.gravity-theme select,
.gform_wrapper.gform_wrapper.gravity-theme textarea {
	width: 100%;
	height: auto;
	padding: 25px 30px;
	border: 1px solid #7E7E7E;
	border-radius: 0;
	font-weight: inherit;
	font-size: 18px;
	font-weight: 300;
	color: #C1C1C1;
	line-height: normal !important;
	background-color: $c-white;

	@include breakpoint-down(small-desktop) {
		padding: 20px;
	}

	@include breakpoint-down(mobile) {
		padding: 18px 20px;
		font-size: 16px;
	}
}

.gform_wrapper.gform_wrapper.gform_wrapper.gravity-theme textarea {
	display: block;
	height: 200px;
	resize: none;
}

.gform_wrapper.gform_wrapper.gravity-theme .gfield textarea.large {
	height: 325px;

	@include breakpoint-down(mobile) {
		height: 200px;
	}
}

.gform_wrapper.gform_wrapper.gravity-theme select {
	padding: 24px 30px;
	border-width: 2px;
	appearance: none;


	@include breakpoint-down(tablet) {
		padding: 19px 20px;
	}

	@include breakpoint-down(mobile) {
		padding: 17px 20px;
		font-size: 16px;
	}
}

.gform_wrapper.gform_wrapper.gravity-theme .ginput_container_select {
	position: relative;

	&:after {
		content: '';
		background: url(../images/ico-double-arrows.svg) no-repeat 0 0;
		background-size: contain;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 24px;
		width: 11px;
		height: 26px;
		pointer-events: none;
	}
}

.gform_wrapper.gform_wrapper.gravity-theme .gfield_html hr {
	border-top: 1px solid #ADADAD;
	appearance: none;
	margin-bottom: 0;
}

.gform_wrapper.gform_wrapper.gravity-theme select[multiple="multiple"] {
	height: auto;
	padding: 15px;
}

.gform_wrapper.gform_wrapper.gravity-theme .gform_footer button,
.gform_wrapper.gform_wrapper.gravity-theme .gform_footer input,
.gform_wrapper.gform_wrapper.gravity-theme .gform_page_footer button,
.gform_wrapper.gform_wrapper.gravity-theme .gform_page_footer input  {
	background-color: #7E7E7E;
	border: 1px solid #7E7E7E;
	font-size: 18px;
	font-weight: 500;
	color: $c-white;
	letter-spacing: 0;
	padding: 25px 35px;
	min-width: 260px;
	transition: all .4s;
	line-height: normal !important;
	text-transform: none;

	&:hover {
		background-color: #CBCBCB;
		border-color: #CBCBCB;
		color: $c-white;
	}

	@include breakpoint-down(small-desktop) {
		padding: 20px;
		min-width: 220px;
	}

	@include breakpoint-down(mobile) {
		padding: 18px 20px;
		font-size: 16px;
		min-width: 200px;
	}
}

.gform_wrapper.gform_wrapper.gravity-theme .gform_footer {
	margin-top: 19px;

	@include breakpoint-down(mobile) {
		margin-top: 5px;
	}
}

/*  Description  */

.gform_wrapper.gform_wrapper.gravity-theme .description,
.gform_wrapper.gform_wrapper.gravity-theme .gfield_description,
.gform_wrapper.gform_wrapper.gravity-theme .gsection_description,
.gform_wrapper.gform_wrapper.gravity-theme .instruction {}

/*  Validation  */

.gform_wrapper.gform_wrapper .gfield_validation_message,
.gform_wrapper.gform_wrapper .validation_message {
	border-color: #f00;
}

.gform_wrapper.gform_wrapper .gfield_error .gfield_repeater_cell label,
.gform_wrapper.gform_wrapper .gfield_error legend,
.gform_wrapper.gform_wrapper .gfield_validation_message,
.gform_wrapper.gform_wrapper .gfield_description.gfield_validation_message,
.gform_wrapper.gform_wrapper .validation_message,
.gform_wrapper.gform_wrapper [aria-invalid=true]+label,
.gform_wrapper.gform_wrapper label+[aria-invalid=true] {
	color: #f00;
	padding: 0;
	background-color: transparent;
	border: none;
	font-size: 11px;
	text-transform: uppercase;
	margin-top: 1px;
	left: 0;
	top: 100%;
	font-weight: 700;
	letter-spacing: 1px;
	line-height: 1.3;
	display: block;

}

/* Checkbox and Radio */

.gform_wrapper.gform_wrapper.gravity-theme .gfield-choice-input {
	@extend .sr-only;
}

.gform_wrapper.gform_wrapper.gravity-theme .gfield_checkbox label,
.gform_wrapper.gform_wrapper.gravity-theme .gfield_radio label {
	position: relative;
	max-width: 100%;
	padding-left: 20px;
}

.gform_wrapper.gform_wrapper.gravity-theme .gfield_checkbox label:before,
.gform_wrapper.gform_wrapper.gravity-theme .gfield_checkbox label:after,
.gform_wrapper.gform_wrapper.gravity-theme .gfield_radio label:before,
.gform_wrapper.gform_wrapper.gravity-theme .gfield_radio label:after {
	content: '';
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
}

.gform_wrapper.gform_wrapper.gravity-theme .gfield_checkbox label:before,
.gform_wrapper.gform_wrapper.gravity-theme .gfield_radio label:before {
	width: 14px;
	height: 14px;
	border: 1px solid grey;
}

.gform_wrapper.gform_wrapper.gravity-theme .gfield_checkbox label:after,
.gform_wrapper.gform_wrapper.gravity-theme .gfield_radio label:after {
	display: none;
}

.gform_wrapper.gform_wrapper.gravity-theme .gfield_checkbox input:checked + label,
.gform_wrapper.gform_wrapper.gravity-theme .gfield_radio input:checked + label {
	font-weight: 400;
}

.gform_wrapper.gform_wrapper.gravity-theme .gfield_checkbox input:checked + label:after,
.gform_wrapper.gform_wrapper.gravity-theme .gfield_radio input:checked + label:after {
	display: block;
}

.gform_wrapper.gform_wrapper.gravity-theme .gfield_radio label:before,
.gform_wrapper.gform_wrapper.gravity-theme .gfield_radio label:after {
	border-radius: 100%;
}

.gform_wrapper.gform_wrapper.gravity-theme .gfield_radio label:after,
.gform_wrapper.gform_wrapper.gravity-theme .gfield_checkbox label:after {
	left: 2px;
	width: 10px;
	height: 10px;
	background: grey;
}

.gform_wrapper.gform_wrapper.gravity-theme .gfield_radio label:after {
	border-radius: 100%;
}

/* Footer */

.gform_wrapper .gform_footer {
	position: relative;
}

.gform_wrapper.gform_wrapper.gravity-theme .gform_footer button,
.gform_wrapper.gform_wrapper.gravity-theme .gform_footer input,
.gform_wrapper.gform_wrapper.gravity-theme .gform_page_footer button,
.gform_wrapper.gform_wrapper.gravity-theme .gform_page_footer input {
	@extend .btn;
	margin: 0;
}

/* Spinner */

.gform_wrapper .gform_footer .gform_ajax_spinner {
	position: absolute;
	top: 50%;
	padding: 0;
	transform: translateY(-50%);
}


/* Error States */

.gform_wrapper.gform_wrapper.gform_wrapper .gform_validation_errors {
	color: #f00;
	border-color: #f00;
	margin: 0 0 30px;
	display: none;
}

.gform_wrapper.gform_wrapper .gform_validation_errors > h2 {
	color: inherit;
}


/* Confirmation */

.gform_confirmation_wrapper .gform_confirmation_message {
	text-align: center;
}

@include breakpoint-down(mobile) {
	.gform_wrapper.gform_wrapper.gravity-theme .gform_fields {
		grid-column-gap: 0;
	}

	.gform_wrapper.gform_wrapper.gravity-theme .gfield.gfield--medium {
		grid-column: 1/-1;
	}

	.gform_wrapper.gform_wrapper.gravity-theme .gfield.gfield--medium {
		grid-column: 1/-1;
	}
}
