/* ------------------------------------------------------------ *\
	- All Blocks
\* ------------------------------------------------------------ */

body.page-id-7141 {
	.animation-parent > * { opacity: 1; }

	.main > h3 {
		width: 100%;
		max-width: 100%;
		background-color: color(black a(50%));
		text-align: center;
		color: white;
		padding: 10px 20px;
	}
}
