.accordion {
	.accordion__section {
		border-bottom: 1px solid #707070;

		&:first-child {
			border-top: 1px solid #707070;
		}
	}

	.accordion__head {
		padding: 23px 65px 23px 0px;
		cursor: pointer;
		position: relative;
		transition: all .4s;

		&:hover {
			opacity: .7;
		}

		@include breakpoint-down(mobile) {
			padding: 20px 40px 20px 0;
		}
	}

	.accordion__icon {
		position: absolute;
		top: 26px;
		right: 50px;
		display: flex;
		align-items: center;

		@include breakpoint-down(mobile) {
			right: 25px;
			top: 24px;
		}
	}

	.accordion__icon i {
		font-size: 11px;
		color: #4B4B4B;
	}

	.fa-minus {
		display: none;
	}

	.accordion__head h6 {
		font-family: $ff-sans-serif;
		font-size: 18px;
		line-height: 1;
		font-weight: 300;
		color: #4B4B4B;

		@include breakpoint-down(mobile) {
			font-size: 16px;
		}
	}

	.accordion__body {
		padding: 0px 23px 23px 0px;
		display: none;

		@include breakpoint-down(mobile) {
			padding: 0 20px 20px 0;
		}
	}

	.accordion__section.is-current {
		.fa-minus {
			display: block;
		}

		.fa-plus {
			display: none;
		}
	}
}
