.app-block-single-career {
	padding: 181px 0 292px;
	@include breakpoint-down(large-desktop) {
		padding: 100px 0;
	}
	@include breakpoint-down(small-desktop) {
		padding: 70px 0;
	}
	@include breakpoint-down(tablet) {
		padding: 10px 0 70px;
	}
	.shell {
		max-width: 1020px;
		padding-left: 35px;
		padding-right: 35px;
		@include breakpoint-down(mobile) {
			padding: 0 22px;
		}
	}
	.section__title {
		position: relative;
		max-width: 810px;
		margin-bottom: 20px;
		padding-bottom: 10px;
		border-bottom: 1px solid #707070;
		@include breakpoint-down(large-desktop) {
			padding-left: 70px;
			max-width: 100%;
		}
		@include breakpoint-down(small-desktop) {
			margin: 0;
			padding: 0 46px;
		}
		@include breakpoint-down(mobile) {
			padding: 40px 0 0;
		}
	}
	.section__title h6 {
		margin-bottom: 52px;
		font-family: $ff-sans-serif;
		font-size: 24px;
		line-height: 1.08;
		letter-spacing: 2.4px;
		color: #4B4B4B;
		font-weight: 600;
		@include breakpoint-down(large-desktop) {
			margin-bottom: 40px;
		}
		@include breakpoint-down(small-desktop) {
			margin-bottom: 30px;
			font-size: 20px;
		}
		@include breakpoint-down(mobile) {
			margin-bottom: 20px;
		}
	}
	.section__title h2 {
		margin-bottom: 86px;
		font-family: $ff-serif;
		font-size: 90px;
		line-height: 1;
		font-weight: 400;
		color: #003672;
		@include breakpoint-down(large-desktop) {
			margin-bottom: 40px;
		}
		@include breakpoint-down(small-desktop) {
			margin-bottom: 30px;
			font-size: 60px;
		}
		@include breakpoint-down(mobile) {
			margin-bottom: 20px;
			font-size: 40px;
		}
	}
	.section__title .btn--back {
		position: absolute;
		top: 50%;
		left: -208px;
		width: 69px;
		height: 69px;
		display: block;
		margin-top: -35px;
		background: url(../images/ico-btn-back.svg) no-repeat 0 0/contain;
		@include breakpoint-down(large-desktop) {
			left: 0;
			width: 50px;
			height: 50px;
			margin-top: -25px;
		}
		@include breakpoint-down(small-desktop) {
			top: -7px;
			width: 30px;
			height: 30px;
			margin-top: 0;
		}
	}

	.section__body {
		padding: 163px 0 102px;
		@include breakpoint-down(large-desktop) {
			padding: 100px 0 50px;
		}
		@include breakpoint-down(small-desktop) {
			padding: 50px 0 30px;
		}
		@include breakpoint-down(mobile) {
			padding: 30px 0;
		}
	}
	.section__body p.tags {
		margin-bottom: 21px;
		font-size: 18px;
		line-height: 1.56;
		color: #4B4B4B;
		font-weight: 500;
		@include breakpoint-down(small-desktop) {
			margin-bottom: 15px;
		}
		@include breakpoint-down(tablet) {
			font-size: 16px;
		}
		@include breakpoint-down(mobile) {
			margin-bottom: 15px;
		}
	}
	.section__body h3 {
		margin-bottom: 80px;
		font-size: 60px;
		line-height: 1.25;
		font-weight: 400;
		color: #003672;
		@include breakpoint-down(large-desktop) {
			margin-bottom: 50px;
		}
		@include breakpoint-down(small-desktop) {
			margin-bottom: 30px;
			font-size: 40px;
		}
		@include breakpoint-down(mobile) {
			margin-bottom: 20px;
			font-size: 30px;
		}
	}
	.section__body h4 {
		margin-bottom: 32px;
		font-family: $ff-sans-serif;
		font-size: 24px;
		line-height: 1.52;
		color: #003672;
		font-weight: 600;
		@include breakpoint-down(small-desktop) {
			margin-bottom: 20px;
			font-size: 20px;
		}
		@include breakpoint-down(mobile) {
			margin-bottom: 15px;
			font-size: 18px;
		}
	}
	.section__body h5 {
		margin-bottom: 30px;
		font-family: $ff-sans-serif;
		font-size: 21px;
		line-height: 1.52;
		color: #003672;
		font-weight: 600;
		@include breakpoint-down(small-desktop) {
			margin-bottom: 20px;
			font-size: 18px;
		}
		@include breakpoint-down(mobile) {
			margin-bottom: 15px;
			font-size: 16px;
		}
	}
	.section__body h6 {
		padding-top: 33px;
		margin-bottom: 31px;
		font-family: $ff-sans-serif;
		font-size: 21px;
		line-height: 1.52;
		color: #3B3B3B;
		font-weight: 600;
		@include breakpoint-down(small-desktop) {
			padding-top: 0;
			margin-bottom: 20px;
			font-size: 18px;
		}
		@include breakpoint-down(mobile) {
			font-size: 16px;
		}
	}
	.section__body ul {
		margin-bottom: 65px;
		list-style: none;
		@include breakpoint-down(small-desktop) {
			margin-bottom: 30px;
		}
		@include breakpoint-down(mobile) {
			margin-bottom: 15px;
		}
	}
	.section__body ul li {
		position: relative;
		padding-left: 27px;
		font-size: 21px;
		line-height: 1.52;
		color: #3B3B3B;
		@include breakpoint-down(small-desktop) {
			font-size: 18px;
		}
		@include breakpoint-down(mobile) {
			padding: 0 0 10px 15px;
			font-size: 18px;
			line-height: 1.3;
		}
		&:before {
			position: absolute;
			top: 0;
			left: 0;
			font-family: $ff-sans-serif;
			font-size: 21px;
			line-height: 1.52;
			color: #3B3B3B;
			content: '•';
			display: block;
			@include breakpoint-down(small-desktop) {
				font-size: 18px;
				top: -2px;
			}
			@include breakpoint-down(mobile) {
				font-size: 18px;
				line-height: 1.3;
			}
		}
	}
	.section__body p {
		font-size: 21px;
		line-height: 1.52;
		color: #3B3B3B;
		@include breakpoint-down(small-desktop) {
			font-size: 18px;
		}
		@include breakpoint-down(mobile) {
			font-size: 16px;
			line-height: 1.3;
		}
	}
	.section__body p a {
		color: #003672;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
	.section__body p strong {
		font-weight: 600;
	}
	.section__body .btn-blue {
		margin-top: 46px;
		padding: 12px ​14px;
		color: #003672;
		font-weight: 600;
		border: 1px solid #003672;
		&:hover {
			background: #003672;
			color: #fff;
		}
		@include breakpoint-down(small-desktop) {
			margin-top: 20px;
		}
		@include breakpoint-down(mobile) {
			margin-top: 10px;
		}
	}

	.job_application {
		display: none;
		min-width: 100%;
	}
	.application_details {
		border-top: 1px solid #707070;
		max-width: 812px;
		@include breakpoint-down(small-desktop) {
			max-width: 100%;
		}
	}
	.application_details form {
		padding-top: 96px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		@include breakpoint-down(small-desktop) {
			padding-top: 40px;
		}
		@include breakpoint-down(mobile) {
			padding-top: 20px;
		}
	}
	.application_details fieldset {
		width: 49.01%;
		border: 0;
		margin-bottom: 41px;
		@include breakpoint-down(small-desktop) {
			margin-bottom: 30px;
		}
		@include breakpoint-down(mobile) {
			width: 100%;
			margin-bottom: 20px;
		}
		&.fieldset-nachricht {
			width: 100%;
		}
		&.fieldset-zeugnisse-diplome,
		&.fieldset-motivationsschreiben,
		&.fieldset-cv-hochladen {
			width: 33.33%;
			@include breakpoint-down(mobile) {
				width: 100%;
			}
		}
	}
	.application_details label {
		display: none;
	}
	.application_details textarea,
	.application_details input {
		display: block;
		width: 100%;
		padding: 25px 24px;
		font-size: 18px;
		line-height: 1;
		color: #C1C1C1;
		height: auto;
		resize: none;
		border: 1px solid #7E7E7E;
		border-radius: 0;
		@include breakpoint-down(mobile) {
			padding: 10px;
			font-size: 16px;
		}
	}
	.application_details textarea {
		height: 408px;
		@include breakpoint-down(small-desktop) {
			height: 250px;
		}
		@include breakpoint-down(mobile) {
			height: 170px;
		}
	}
	.form-content {
		padding-top: 7px;
		margin-bottom: 140px;
		width: 100%;
		font-size: 21px;
		line-height: 1.52;
		color: #3B3B3B;
		@include breakpoint-down(small-desktop) {
			padding-top: 0;
			margin-bottom: 40px;
		}
		@include breakpoint-down(mobile) {
			font-size: 16px;
			line-height: 1.3;
			margin-bottom: 10px;
		}
	}

	.fieldset-zeugnisse-diplome,
	.fieldset-motivationsschreiben,
	.fieldset-cv-hochladen {
		position: relative;
		padding: 120px 0 0;
		text-align: center;
		background: url(../images/feather-file-plus.svg) no-repeat center top;
		@include breakpoint-down(mobile) {
			padding-top: 80px;
		}
		label {
			display: block;
			font-size: 21px;
			line-height: 1.52;
			color: #3B3B3B;
			font-weight: 500;
			@include breakpoint-down(mobile) {
				font-size: 16px;
				line-height: 1.3;
			}
		}
		input {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 130px;
			opacity: 0;
		}
		.description {
			font-size: 14px;
			line-height: 1;
			color: #676D71;
		}
	}
	.wp_job_manager_send_application_button {
		margin: 97px 0 10px;
		width: 260px !important;
		padding: 25px 10px !important;
		height: 74px !important;
		font-size: 18px;
		line-height: 1 !important;
		color: #fff !important;
		background: #7E7E7E !important;
		border: 1px solid #7E7E7E !important;
		border-radius: 0 !important;
		transition: all .6s;
		@include breakpoint-down(small-desktop) {
			margin: 40px 0 0;
		}
		@include breakpoint-down(mobile) {
			margin-top: 20px;
			padding: 14px !important;
			height: auto !important;
			width: auto !important;
		}
		&:hover {
			color: #7E7E7E !important;
			background: #fff !important;
		}
	}
}
