.app-block-numbers {
	margin: clamp(50px, 16.6667vw, 320px) 0 clamp(50px, 10.9375vw, 210px);

	.app__block-head {
		padding-bottom: clamp(40px, 5.625vw, 108px);
	}

	.app__block-body ul {
		list-style: none;
		display: flex;
		flex-wrap: wrap;
	}

	.app__block-body ul li {
		width: 25%;
		padding-bottom: clamp(30px, 2.8125vw, 54px);

		@include breakpoint-down(mobile) {
			width: 50%;
		}
	}

	.app__block-body ul h3 {
		font-size: clamp(37px, 3.6458vw, 70px);
		font-weight: 600;
	}

	.app__block-body ul p {
		margin-bottom: 10px;
	}
}
