.app-block-reference-slider {
	margin-bottom: clamp(50px, 10.1563vw, 157px);
	overflow: hidden;

	.app__block-heading {
		padding-top: 59px;
		margin-bottom: 90px;
		text-align: center;
		@include breakpoint-down(large-desktop) {
			padding-top: 40px;
			margin-bottom: 80px;
		}
		@include breakpoint-down(tablet) {
			padding-top: 40px;
			margin-bottom: 40px;
		}
		@include breakpoint-down(tablet) {
			padding-top: 20px;
			margin-bottom: 20px;
		}
	}
	.app__block-heading img {
		margin: 0 auto 10px;
	}
	.app__block-heading h6 {
		margin-bottom: 0;
		font-family: $ff-sans-serif;
		font-size: 24px;
		line-height: 1.2;
		font-weight: 400;
		color: #4B4B4B;
		@include breakpoint-down(mobile) {
			font-size: 18px;
		}
	}
	.rplg-slider .rplg-slider-next {
		position: absolute;
		top: auto !important;
		left: -88px !important;
		bottom: 0 !important;
		width: 47px;
		height: 47px;
		background: #fff url(../images/arrow-plugin-next.svg) no-repeat 0 0;
		transform: rotate(180deg);
		background-size: contain;
		span {
			opacity: 0;
		}
		@include breakpoint-down(large-desktop) {
			top: -45px !important;
			left: 65px !important;
		}
		@include breakpoint-down(mobile) {
			top: -25px !important;
			width: 25px;
			height: 25px;
			left: 25px !important;
		}
	}
	.rplg-slider .rplg-slider-prev {
		position: absolute;
		top: auto !important;
		left: -172px !important;
		bottom: 0;
		width: 47px;
		height: 47px;
		background: #fff url(../images/arrow-plugin-prev.svg) no-repeat 0 0;
		background-size: contain;
		span {
			opacity: 0;
		}
		@include breakpoint-down(large-desktop) {
			top: -45px !important;
			left: -10px !important;
		}
		@include breakpoint-down(mobile) {
			top: -25px !important;
			width: 25px;
			height: 25px;
		}
	}
	.rplgsw-pagination,
	.rplg-grid {
		display: none;
	}
	.app__block-slider {
		position: relative;
		width: 1224px;
		max-width: 1224px;

		@media(max-width: 1545px){
			width: 100%;
			max-width: 100%;
		}
	}

	.rplg-slider .rplg-box .rplg-box-content {
		height: auto !important;
		margin: 0 40px 0 20px !important;
		padding-bottom: 20px !important;
	}
	.rplg-slider .rplg-row {
		padding-bottom: 10px !important;
	}
	.rplg-stars {
		margin-bottom: 10px !important;
		display: block !important;
		text-align: center !important;
	}
	.rplg-stars svg * {
		fill: #fec401 !important;
	}
	.rplg-slider-review {
		margin: 5px 5px 10px !important;
		border: 1px solid #D6D6D6 !important;
		border-radius: 5px !important;
		box-shadow: 0 3px 5px rgba(0,0,0,0.16) !important;
		display: flex !important;
		flex-direction: column-reverse !important;
	}
	.rplg .rplg-box {
		border: 0 !important;
		background: transparent !important;
	}
	.rplg-slider .rplg-box .rplg-box-content:before,
	.rplg-slider .rplg-box:before {
		display: none !important;
	}
}
