.app-block-heading {
	h1 {
		padding-bottom: 20px;

		@include breakpoint-down(mobile) {
			padding-bottom: 0;
		}
	}

	h3 {
		margin-bottom: clamp(35px, 3.125vw, 60px);
	}

	ul,
	ol,
	p {
		font-size: clamp(16px, 1.0938vw, 21px);
		line-height: 1.5;
		color: #3B3B3B;
		list-style-position: inside;
		font-weight: 400;
	}

	.app__block-inner {
		padding-left: clamp(40px, 7.2917vw, 140px);
		padding-top: clamp(60px, 8.3333vw, 160px);
		padding-bottom: clamp(60px, 5.9896vw, 115px);
		padding-right: 3vw;

		@include breakpoint-down(mobile) {
			padding: 50px 0 35px;
		}
	}
}

/*  app-block-heading--smaller  */
.app-block-heading--smaller {
	.app__block-inner {
		padding-top: clamp(60px, 9.375vw, 180px);
		padding-bottom: clamp(60px, 5.4688vw, 105px);
		padding-right: 0;
		padding-left: 0;
		max-width: 810px;
		margin: 0 auto;

		@include breakpoint-down(mobile) {
			padding: 50px 0 35px;
		}
	}

	h1 {
		padding-bottom: 0;
	  	font-size: clamp(37px,5.5vw,65px);

		@include breakpoint-down(mobile) {
			padding-bottom: 0;
		}
	}

	ul,
	ol,
	p {
		font-size: clamp(16px, 1.65vw, 21px);
		line-height: 1.5;
		color: #3B3B3B;
		list-style-position: inside;
		margin-right: -50px;

		@include breakpoint-down(tablet) {
			margin-right: 0;
		}
	}

	strong {
		font-weight: 600;
	}
}

/*  app-block-heading--smaller  */
.app-block-heading--smaller {
	h5 {
		color: #4B4B4B;
		font-size: clamp(20px, 2vw, 24px);
		margin-bottom: clamp(25px, 2.5vw, 48px);
		font-weight: 600;
		letter-spacing: 0.1em;
	}

	h2 {
		max-width: 850px;
	}
}

