.app-block-locations {
	padding: 208px 0 170px;
	@include breakpoint-down(small-desktop) {
		padding: 100px 0 30px;
	}
	@include breakpoint-down(tablet) {
		padding: 70px 0 30px;
	}
	@include breakpoint-down(mobile) {
		padding: 40px 0 20px;
	}
	.location__head {
		max-width: 880px;
		margin: 0 auto 110px;
		@include breakpoint-down(small-desktop) {
			margin-bottom: 70px;
		}
		@include breakpoint-down(tablet) {
			margin-bottom: 50px;
		}
		@include breakpoint-down(mobile) {
			margin-bottom: 30px;
		}
	}
	h2 {
		margin-bottom: 84px;
		@include breakpoint-down(small-desktop) {
			margin-bottom: 60px;
		}
		@include breakpoint-down(tablet) {
			margin-bottom: 40px;
		}
		@include breakpoint-down(mobile) {
			margin-bottom: 20px;
		}
	}
	p {
		font-size: 24px;
		line-height: 1.5;
		color: #3B3B3B;
		@include breakpoint-down(tablet) {
			font-size: 22px;
		}
		@include breakpoint-down(mobile) {
			font-size: 20px;
			line-height: 1.3;
		}
	}
	.locations__lists {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		max-width: 1090px;
		@include breakpoint-down(mobile) {
			justify-content: center;
		}
	}
	.single__location {
		width: 49.27%;
		margin: 0 0 105px;
		@include breakpoint-down(small-desktop) {
			margin-bottom: 70px;
		}
		@include breakpoint-down(tablet) {
			margin-bottom: 40px;
		}
		@include breakpoint-down(mobile) {
			margin: 0 5px 20px;
			width: 300px;
		}
	}

	.location__image {
		overflow: hidden;
		border-radius: 3px 3px 0 0;
	}
	.location__image a {
		display: block;
		transition: all .6s;
		&:hover {
			opacity: .7;
		}
	}
	.location__image a img {
		width: 100%;
	}

	.entry {
		position: relative;
		z-index: 2;
		padding: 30px 10px 25px 40px;
		border: 1px solid #707070;
		border-top: 0;
		border-radius: 0 0 3px 3px;
		@include breakpoint-down(small-desktop) {
			padding: 15px;
		}
		@include breakpoint-down(tablet) {
			padding: 10px;
		}
	}
	.entry h4 {
		margin-bottom: 20px;
		font-family: $ff-sans-serif;
		font-size: 32px;
		line-height: 1.72;
		text-transform: uppercase;
		color: #2E2E2D;
		font-weight: 500;
		@include breakpoint-down(small-desktop) {
			font-size: 30px;
		}
		@include breakpoint-down(tablet) {
			margin-bottom: 10px;
			font-size: 26px;
		}
		@include breakpoint-down(mobile) {
			font-size: 22px;
		}
	}
	.entry h4 a {
		text-decoration: none;
		transition: all .6s;
		&:hover {
			opacity: 0.7;
		}
	}
	.entry h6 {
		margin-bottom: 0;
		font-family: $ff-sans-serif;
		font-size: 24px;
		line-height: 1.5;
		font-weight: 500;
		@include breakpoint-down(small-desktop) {
			font-size: 22px;
		}
		@include breakpoint-down(tablet) {
			font-size: 20px;
		}
		@include breakpoint-down(mobile) {
			font-size: 18px;
		}
	}
	.entry p {
		margin-bottom: 35px;
		font-family: $ff-sans-serif;
		font-size: 24px;
		line-height: 1.5;
		@include breakpoint-down(small-desktop) {
			margin-bottom: 20px;
			font-size: 22px;
		}
		@include breakpoint-down(tablet) {
			font-size: 20px;
		}
		@include breakpoint-down(mobile) {
			margin-bottom: 10px;
			font-size: 18px;
		}
	}
	.entry p a {
		text-decoration: none;
		transition: all .6s;
		&:hover {
			color: #003672;
		}
		&[href^="tel"] {
			font-weight: 500;
		}
	}
	.buchen-link {
		position: absolute;
		top: -62px;
		right: 42px;
		width: 147px;
		height: 147px;
		display: flex;
		align-items: center;
		justify-content: center;
		text-decoration: none;
		font-size: 18px;
		line-height: 1.44;
		text-transform: uppercase;
		font-weight: 600;
		letter-spacing: 1.8px;
		text-align: center;
		border: 1px solid #003672;
		background: #fff;
		border-radius: 50%;
		transition: all .4s;
		color: #003672;
		@include breakpoint-down(small-desktop) {
			top: -60px;
			right: 10px;
			width: 120px;
			height: 120px;
			font-size: 14px;
		}
		@include breakpoint-down(mobile) {
			top: -45px;
			right: 10px;
			max-width: 90px;
			height: 90px;
			font-size: 10px;
		}
		&:hover {
			background-color: #003672;
			color: #fff;
		}

		span {
			transform: rotate(16deg);
		}
		img {
			display: none;
		}
	}
	.ico-buchen {
		width: 100%;
		backface-visibility: hidden;
		transform: translate3d(0,0,0);
	}
}
