.app-block-plain-text {
	margin: clamp(50px, 10.4479vw, 143px)  0;

	.app__block-content {
		padding-left: clamp(50px, 7.2917vw, 140px);
		display: flex;
		flex-wrap: wrap;

		@include breakpoint-down(tablet) {
			padding-left: 0;
		}
	}

	.app__block-content h4 {
		margin-bottom: clamp(35px, 7.4271vw, 85px);
	}

	.app__block-content strong {
		font-weight: 500;
	}
}
