.app-block-image-left  {
	.app__block-inner {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-end
	}

	.app__block-image {
		width: calc((100vw + 1085px) / 2 );

		@media(max-width: 1160px){
			padding-right: 35px;
			width: 100%;
		}

		@include breakpoint-down(mobile) {
			padding-right: 22px;
		}
	}

	.app__block-image img {
		display: block;
		width: 100%;
	}

	.app__block-caption {
		width: calc((100vw - 1120px) / 2 );
		padding: 0 16px;

		@include breakpoint-down(large-desktop) {
			width: 100%;
			text-align: right;
			padding: 16px calc((100vw - 1090px) / 2 ) 16px 0;
		}

		@media(max-width: 1160px){
			padding: 12px 35px;
		}

		@include breakpoint-down(mobile) {
			padding-right: 22px;
		}
	}

	.app__block-caption h6 {
		font-size: 18px;
		color: #4B4B4B;
		font-weight: 600;
		font-family: $ff-sans-serif;
		margin-bottom: 5px;

		@include breakpoint-down(mobile) {
			font-size: 16px;
			line-height: 1.2;
		}
	}

	.app__block-caption p {
		line-height: 1;
	}
}
