.app-block-custom-cols {
	margin: clamp(50px, 8.5938vw, 165px) 0;

	&:last-child {
		margin-bottom: clamp(100px, 13.5417vw, 260px);
	}

	.app__block-head {
		padding-bottom: clamp(30px, 6.1458vw, 118px);
	}

	.app__block-cols {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -8px;
	}

	.app__block-col {
		width: 50%;
		padding: 0 8px;
		display: flex;
		flex-flow: column;

		@include breakpoint-down(mobile) {
			width: 100%;
		}
	}

	.app__block-image {
		max-width: 88.7%;
		padding-top: clamp(30px, 7.7083vw, 148px);
		margin-top: auto;

		@include breakpoint-down(mobile) {
			width: 100%;
			max-width: 500px;
			margin: 0 auto;

		}
	}

	.app__block-image img {
		width: 100%;
	}

	.app__block-quote {
		max-width: 85%;
		margin: 0 auto;
		padding-top: clamp(25px, 2.9688vw, 57px);
		padding-bottom: clamp(25px, 5.9375vw, 114px);

		@include breakpoint-down(mobile) {
			max-width: 100%;
		}
	}

	.app__block-quote blockquote {
		font-size: clamp(24px, 1.6667vw, 32px);
		color: #003672;
		text-align: center;
		font-style: italic;
		font-weight: 400;
	}

	.app__block-quote blockquote * {
		color: inherit;
	}

	.app__block-foot {
		margin-top: auto;
		padding-top: 5vw;
	}

	.app__block-foot h6 {
		font-size: 18px;
		color: #4B4B4B;
		font-weight: 600;
		font-family: $ff-sans-serif;
		margin-bottom: 5px;

		@include breakpoint-down(mobile) {
			font-size: 16px;
			line-height: 1.2;
		}
	}

	.app__block-foot p {
		line-height: 1;
	}

	.app__block-spacer {
		height: clamp(100px, 14.3229vw, 275px);
	}

	strong {
		font-weight: 500;
	}
}
