.app-block-single-service {
	margin: clamp(50px, 7.8125vw,  150px) 0;

	.app__block-body > *:last-child {
		margin-bottom: 0;
	}

	.app__block-inner {
		max-width: 812px;
		margin: 0 auto;
		position: relative;
	}

	.btn-back-to {
		position: absolute;
		top: 5px;
		left: -139px;

		@media(max-width: 1160px){
			left: -91px;
		}

		@include breakpoint-down(tablet) {
			position: static;
			transform: translateY(0);
		}
	}

	.btn-back-to.is-active {
		position: fixed;
		top: 130px;
		left: calc((100vw - 1090px) / 2);
		transform: translateY(0);

		@media(max-width: 1160px){
			left: 35px;
		}

		@include breakpoint-down(tablet) {
			position: static;
		}
	}

	.app__block-actions {
		@include breakpoint-down(tablet) {
			margin-bottom: 5vw;
		}
	}

	.app__block-head {
		margin-bottom: clamp(25px, 2.5vw, 48px);
	}

	.app__block-head h1 {
		font-size: clamp(37px, 5.5vw, 65px);
		line-height: 1.2308;
		color: $c-dark-blue;
		margin-bottom: clamp(10px, 2vw, 25px);
	}

	.app__block-head p {
		font-size: clamp(18px, 2vw, 26px);
		line-height: 1.3846;
		text-transform: uppercase;
		max-width: 571px;

		@include breakpoint-down(mobile) {
			max-width: calc(100% - 120px);
		}

		@include breakpoint-down(mobile-medium) {
			max-width: calc(100% - 100px);
		}
	}

	.app__blcok-image .btn-circle {
		position: absolute;
		top: -73px;
		right: 20px;
		z-index: 5;

		@include breakpoint-down(small-desktop) {
			top: -50px;
		}

		@include breakpoint-down(mobile-medium) {
			top: -43px;
		}
	}

	.app__blcok-image {
		padding-bottom: 56.4%;
		margin-bottom: clamp(50px, 6.5104vw, 125px);
	}

	.app__block-info {
		margin: clamp(50px, 6.5104vw, 125px) 0;
	}

	.app__block-info h6 {
		font-size: 18px;
		font-weight: 600;
		text-transform: uppercase;
		color: #003672;
		margin-bottom: 0;
		font-family: $ff-sans-serif;
	}

	.app__block-info p {
		margin-bottom: clamp(15px, 1.1458vw, 22px);
		font-weight: 400;
		line-height: 1.4444;
	}
	.app__block-info p + p {
		margin-top: clamp(-15px, -1.1458vw, -22px);
	}

	.app__block-entry {
		font-size: 16px;
		line-height: 1.3125;
		margin: clamp(50px, 4.6875vw, 90px) 0;
	}

	.app__block-entry strong {
		font-weight: 500;
	}

	.app__block-video {
		padding-bottom: 56.4%;
	}

	.app__block-video .btn-play {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 10;
	}

	.accordion .accordion__head h6 {
		font-weight: 500;
	}

	.app__block-accordion {
		margin: clamp(50px, 5.6771vw, 109px) 0;
	}

	.app__block-comparison {
		margin: clamp(50px, 7.6042vw, 146px) 0;
	}

	.app__block-comparison h5 {
		text-transform: uppercase;
		font-size: clamp(26px, 1.6667vw, 32px);
		margin-bottom: clamp(25px, 2.3438vw, 45px);
		font-weight: 300;
	}

	.app__block-specialists h5 {
		text-transform: uppercase;
		font-size: clamp(26px, 1.6667vw, 32px);
		margin-bottom: clamp(25px, 4.6875vw, 90px);
		font-weight: 300;
	}

	.app__block-specialists {
		margin: clamp(50px, 9.0625vw, 174px) calc((100vw - 810px)/-2) clamp(50px, 9.0625vw, 174px) 0;

		@include breakpoint-down(tablet) {
			margin-right: -35px;
		}

		@include breakpoint-down(mobile) {
			margin-right: 0;
		}
	}

}

.page-id-1614 .app-block-single-service .app__block-head h1 {
	max-width: 500px;
}