.app-block-booking-tool {
	margin-top: clamp(50px, 8.0729vw, 155px);
	margin-bottom: clamp(50px, 10.1563vw, 195px);

	.app__block-head {
		text-align: center;
		max-width: 605px;
		margin: 0 auto;
		font-size: clamp(18px, 2vw, 21px);
		color: #3B3B3B;

	}

	.app__block-head h1 {
		font-size: clamp(40px, 6vw, 70px);
		line-height: 1.2143;
		margin-bottom: clamp(20px, 2vw, 35px);
	}

	.app__block-head ol,
	.app__block-head ul,
	.app__block-head p {
		color: inherit;
		list-style-position: inside;
		font-weight: 400;
	}

	.app__block-media {
		max-width: 720px;
		margin: clamp(40px, 4.1146vw, 79px) auto 0;
	}
}
