.app-block-service-block {
	.shell {
		max-width: 1570px;
	}
	.app__block-inner {
		max-width: 1500px;
		padding-bottom: 170px;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: center;
		align-content: stretch;
		@include breakpoint-down(tablet) {
			display: block;
			padding-bottom: 20px;
		}
	}
	.app__block-image {
		width: 50.67%;
		@include breakpoint-down(tablet) {
			width: 100%;
			margin: 0 0 30px;
			text-align: center;
			img {
				margin: 0 auto;
			}
		}
	}

	.app__block-caption {
		width: 49.33%;
		padding-right: 135px;
		@include breakpoint-down(large-desktop) {
			padding: 0 30px;
		}
		@include breakpoint-down(tablet) {
			width: 100%;
			margin: 10px 0;
			padding: 0;
		}
	}
	.app__block-caption h2 {
		margin-bottom: 47px;
		font-size: 55px;
		@include breakpoint-down(tablet) {
			margin-bottom: 30px;
			font-size: 40px;
		}
		@include breakpoint-down(mobile) {
			margin-bottom: 20px;
			font-size: 30px;
		}
	}
	.app__block-caption h5 {
		margin: 0;
		font-family: $ff-sans-serif;
		font-size: 18px;
		font-weight: 700;
		line-height: 1.55em;
		text-transform: none;
	}
	.app__block-caption h6 {
		margin-bottom: 28px;
		font-family: $ff-sans-serif;
		font-size: 18px;
		font-weight: 500;
		line-height: 1.55em;
		@include breakpoint-down(tablet) {
			margin-bottom: 15px;
		}
	}
	.app__block-caption p {
		margin-bottom: 28px;
		@include breakpoint-down(tablet) {
			margin-bottom: 15px;
		}
	}
	.app__block-caption img {
		margin-bottom: 47px;
		@include breakpoint-down(tablet) {
			margin-bottom: 15px;
		}
	}

	&.full__image {
		.app__block-inner {
			align-items: stretch;
		}
		.app__block-image {
			display: flex;
			text-align: right;
			flex-direction: row-reverse;

			img {
				min-width: 890px;
				@include breakpoint-down(large-desktop) {
					min-width: 100%;
				}
			}
		}
		.app__block-caption{
			padding: 0 120px 0 78px;
			@include breakpoint-down(large-desktop) {
				padding: 0 30px;
			}
			@include breakpoint-down(tablet) {
				padding: 0;
			}
		}
		.app__block-caption h6 {
			margin-bottom: 27px;
			@include breakpoint-down(tablet) {
				margin-bottom: 15px;
			}
		}
	}
	&.revert-alt {
		.app__block-inner {
			flex-direction: row-reverse;
		}
		.app__block-image {
			padding-left: 70px;
			width: 49.33%;
			@include breakpoint-down(tablet) {
				padding: 0;
				width: 100%;
			}
		}
		.app__block-caption {
			padding: 0 0 0 260px;
			width: 50.67%;
			@include breakpoint-down(large-desktop) {
				padding: 0 30px;
			}
			@include breakpoint-down(tablet) {
				padding: 0;
				width: 100%;
			}
		}
	}
	&.revert {
		.app__block-inner {
			flex-direction: row-reverse;
		}
		.app__block-image {
			width: 54%;
			@include breakpoint-down(tablet) {
				width: 100%;
			}
		}
		.app__block-caption {
			padding: 0 55px 0 270px;
			width: 46%;
			@include breakpoint-down(large-desktop) {
				padding: 0 30px;
			}
			@include breakpoint-down(tablet) {
				padding: 0;
				width: 100%;
			}
		}
	}
}
