.app-block-book {
	margin-top: clamp(50px, 9.6354vw, 185px);
	margin-bottom: 114px;

	.app__block-head-inner {
		padding-left: clamp(40px, 7.2917vw, 140px);
		padding-bottom: clamp(60px, 7.7083vw, 148px);
		padding-right: 3vw;

		@include breakpoint-down(mobile) {
			padding: 0 0 35px;
		}
	}

	.app__block-head h2 {
		margin-bottom: clamp(25px, 3.125vw, 60px);
	}

	.app__block-head h4 {
		line-height: 1.25;
		color: #2E2E2D;
	}

	.app__block-inner {
		display: flex;
		flex-wrap: wrap;
	}

	.app__block-image {
		width: 18.8%;

		@include breakpoint-down(large-desktop) {
			width: 32%;
		}

		@include breakpoint-down(mobile) {
			width: 100%;
		}
	}

	.app__block-image-inner {
		margin: 0 0 0 calc((100vw - 1090px)/-2);

		@media(max-width: 1090px){
			margin-left: -35px;
		}

		@include breakpoint-down(mobile) {
			margin: 0;
			max-width: 500px;
		}
	}

	.app__block-image img {
		width: 100%;
	}

	.app__block-content {
		width: 81.2%;
		padding-left: clamp(35px, 3.8542vw, 74px);

		@include breakpoint-down(large-desktop) {
			width: 68%;
		}

		@include breakpoint-down(mobile) {
			width: 100%;
			padding: 35px 0 0 0 ;
		}
	}

	.app__block-content h5 {
		font-size: clamp(26px, 3vw, 32px);
		text-transform: none;
		font-weight: 300;
		color: #4B4B4B;
	}

	.app__block-content strong {
		font-weight: 600;
	}

	.app__block-content-inner {
		max-width: 812px;
	}

	.gform_wrapper.gravity-theme {
		margin-top: clamp(50px, 5.7292vw, 110px);
	}

	.app__block-notice {
		margin-left: clamp(40px, 7.2917vw, 140px);
		margin-top: clamp(30px, 3.5937vw, 69px);
		font-size: 14px;
		line-height: 1.5;
		border: 1px solid #707070;
		padding: 34px 48px;

		@include breakpoint-down(small-desktop) {
			padding: 28px;
		}

		@include breakpoint-down(mobile) {
			margin-left: 0;
			padding: 22px;
		}
	}

	.app__block-notice strong {
		font-weight: 500;
	}
}
