.app-block-timeline-slider {
	margin: clamp(50px,15.625vw, 300px) 0;

	.app__block-head {
		padding-bottom: clamp(30px, 7.0313vw, 135px);
	}

	.app__block-body {
		position: relative;
	}

	.app__block-slider {
		display: flex;
		flex-wrap: wrap;
	}
}
