//fullheight section edits
.app-block-members-slider.pp-section.pp-table {
	display: block;

	.pp-tableCell {
		display: block;
	}
}

.app-block-members-slider {
	overflow: hidden;
	position: relative;
	min-height: 500px;

	.fp-scroller {
		height: 100%;
	}

	.app__block-bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.app__block-head {
		position: relative;
		z-index: 40;
		color: $c-white;
		text-align: center;
	}

	.app__block-slider {
		width: 100%;
		margin-top: auto;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 25;

	}

	.app__block-inner {
		height: 100%;
		padding-top: 130px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: flex-start;

	}

	h2 {
		font-size: 3.906vw;
		line-height: 1;
		margin-bottom: 33px;
		color: $c-white;

		@include breakpoint-down(large-desktop) {
			margin-bottom: 15px;
		}

		@include breakpoint-down(small-desktop) {
			font-size: 5.5vw;
		}

		@include breakpoint-down(tablet) {
			font-size: 6.5vw;
		}

		@include breakpoint-down(mobile-medium) {
			font-size: 10vw;
		}
	}

	h5 {
		color: $c-white;
		font-family: $ff-sans-serif;
		text-transform: uppercase;
		font-size: 24px;
		line-height: 1.0833;
		letter-spacing: .1em;
		font-weight: 600;
		margin-bottom: 37px;

		@include breakpoint-down(large-desktop) {
			font-size: 20px;
			margin-bottom: 25px;
		}

		@include breakpoint-down(mobile) {
			margin-bottom: 15px;
			font-size: 18px;
		}
	}

	ol,
	ul,
	p {
		font-size: 18px;
		line-height: 1.3889;
		font-weight: 500;
		color: $c-white;
		list-style-position: inside;

		@include breakpoint-down(large-desktop) {
			font-size: 16px;
		}

		@include breakpoint-down(mobile-medium) {
			font-size: 15px;
		}
	}

	.app__block-head p {
		max-width: 538px;
		margin: 0 auto;
		padding: 0 22px;
	}
}
