.app-block-slider-media {
	padding: 30px 0;
	h5 {
		margin-bottom: 20px;
		font-size: 32px;
		line-height: 1;
		font-weight: 300;
		@include breakpoint-down(mobile) {
			margin-bottom: 20px;
			font-size: 26px;
		}
	}

	@include breakpoint-down(mobile) {
		padding: 15px 0;
	}
	.app-block-inner {
		@include breakpoint-down(mobile) {
			padding: 0;
		}
	}
	img {
		width: 100%;
	}
	.slider__slide-content {
		padding-top: 36px;
		@include breakpoint-down(small-desktop) {
			padding: 20px 0 40px;
		}
		@include breakpoint-down(mobile) {
			padding: 15px 0 30px;
		}
	}
	.slider__slide-content h6,
	.slider__slide-content p {
		margin-bottom: 0;
		font-family: $ff-sans-serif;
		font-size: 18px;
		line-height: 1.56;
		color: #4B4B4B;
		@include breakpoint-down(mobile) {
			font-size: 14px;
			line-height: 1.3;
		}
	}
	.slider__slide-content h6 {
		margin-bottom: 0;
		font-weight: 700;
	}
	.slider__slide-content p {
		font-weight: 500;
	}

	.video__wrap {
		position: relative;
		overflow: hidden;
		width: 100%;
		padding-top: 56.25%; 
	}
	.video__wrap iframe {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 100%;
	}

	.swiper-pagination {
		position: absolute;
		top: -12px;
		bottom: auto;
		left: calc(100% + 19px);
		width: 300px;
		text-align: left;
		z-index: 100;
		@include breakpoint-down(small-desktop) {
			top: auto;
			bottom: 0;
			left: auto;
			right: 0;
			width: auto;
			text-align: center;
		}
	}
	.swiper-pagination-bullet {
		position: relative;
		z-index: 5;
		background: #7E7E7E;
		opacity: 0.35;
		cursor: pointer;
		transition: all .6s;
		&:hover,
		&.swiper-pagination-bullet-active {
			opacity: 1;
		}
	}
	.swiper-pagination-bullets .swiper-pagination-bullet {
		margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 7px) !important;
	}
	.slider__actions {
		position: absolute;
		bottom: 96px;
		left: calc(100% + 16px);
		width: 135px;
		z-index: 10;
		opacity: 0;
		@include breakpoint-down(small-desktop) {
			bottom: 0;
			left: 0;
			right: 0;
			width: 100%;
		}
	}
	.is-visible .slider__actions {
		opacity: 1;
	}
	.swiper-button-prev,
	.swiper-button-next {
		width: 36px;
		height: 36px;
		display: inline-block;
		vertical-align: top;
		margin: 0 10px;
		position: static;

		@include breakpoint-down(tablet) {
			margin: 0 6px;
		}

		@include breakpoint-down(mobile) {
			width: 30px;
			height: 30px;
		}

		&:after {
			display: none;
		}

		&:hover {
			circle {
				fill: #2e2e2d;
			}

			path {
				stroke: $c-white
			}
		}
	}
	.swiper-button-next svg {
		position: relative;
		right: -4px;
	}

	svg {
		width: 100%;
		display: block;
		overflow: visible;
	}

	circle,
	path {
		transition: all .4s;
	}
	a.video__popup {
		position: relative;
		display: block;
		&:before {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: block;
			content: '';
			background: url(../images/video-ico.svg) no-repeat center center;
			background-size: 112px 112px;
			@include breakpoint-down(mobile) {
				background-size: 50px;
			}
		}
	}
}
