.app-block-career-single {
	padding: clamp(45px, 9.6354vw, 185px) 0;
	.app__block-inner {
		width: calc(100% - 139px);
		margin-left: auto;

		@include breakpoint-down(small-desktop) {
			width: calc(100% - 100px);
		}

		@include breakpoint-down(mobile) {
			width: 100%;
		}
	}

	.app__block-cities {
		margin-bottom: 25px;
	}

	.app__block-cities ul {
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		font-size: 18px;
		color: #4B4B4B;
		font-weight: 500;
		letter-spacing: 1.5556px;
		margin: -5px -17px;
		text-transform: uppercase;
		letter-spacing: 0;

		@include breakpoint-down(mobile) {
			font-size: 14px;
			margin: -3px -10px;

		}
	}

	.app__block-cities li {
		padding: 5px 17px;
		position: relative;

		@include breakpoint-down(mobile) {
			padding: 3px 10px;
		}

		&:after {
			content: '';
			width: 2px;
			height: 17px;
			position: absolute;
			top: 10px;
			right: 0;
			background-color: #4B4B4B;

			@include breakpoint-down(mobile) {
				width: 1px;
				top: 8px;
				height: 12px;
			}
		}

		&:last-child {
			&:after {
				display: none;
			}
		}
	}

	.app__block-title {
		font-size: clamp(36px, 5.125vw, 60px);
		line-height: 1.25;
		padding-right: 8vw;
		padding-bottom: clamp(35px, 3.9583vw, 76px);

		@include breakpoint-down(tablet) {
			padding-right: 0;
		}

		@include breakpoint-down(mobile-small) {
			font-size: 30px;
		}
	}

	.app__block-body {
		font-size: clamp(18px, 2.4vw, 21px);
		line-height: 1.5238;
		color: #3B3B3B;
		font-weight: 400;
	}

	.app__block-body * {
		color: inherit;
	}

	.app__block-body ol {
		list-style-position: inside;
	}

	.app__block-body ul {
		list-style: none;
		margin-bottom: clamp(35px, 3.3854vw, 65px);
	}

	.app__block-body ul li {
		position: relative;
		padding-left: clamp(15px, 1.3542vw, 26px);

		&:after {
			content: '';
			width: 3px;
			height: 3px;
			position: absolute;
			top: 14px;
			left: 0;
			background-color: #3B3B3B;
			border-radius: 50%;
		}
	}

	.app__block-body h5 {
		text-transform: uppercase;
		color: #003672;
		font-size: clamp(20px, 2vw, 24px);
		font-weight: 600;
		letter-spacing: 0;
		margin-bottom: clamp(20px, 1.6667vw, 32px);
	}

	.app__block-body h6 {
		font-size: clamp(18px, 3vw, 21px);
		line-height: 1.5238;
		color: #3B3B3B;
		font-weight: 600;
		font-family: $ff-sans-serif;
	}

	.app__block-body strong {
		font-weight: 500;
	}

	.app__block-body a {
		color: #003672;
	}

	.app__block-actions {
		margin-top: clamp(40px, 4.1667vw, 80px);
	}
}
