.app-block-members-type-2 {
	padding-bottom: clamp(80px, 8.75vw, 168px);

	.app__block-inner {
		@include breakpoint-down(tablet) {
			max-width: 560px;
			margin: 0 auto;
		}

		@include breakpoint-down(mobile-medium) {
			max-width: 340px;
		}
	}
}
