.app-block-menu {
	padding: 94px 0 210px;
	@include breakpoint-down(large-desktop) {
		padding: 80px 0;
	}
	@include breakpoint-down(small-desktop) {
		padding: 70px 0;
	}
	@include breakpoint-down(tablet) {
		padding: 50px 0;
	}
	@include breakpoint-down(mobile) {
		padding: 30px 0;
	}
	h2 {
		margin-bottom: 74px;
		font-family: $ff-sans-serif;
		font-size: 48px;
		line-height: 1;
		font-weight: 300;
		text-transform: uppercase;
		color: #003672;
		@include breakpoint-down(large-desktop) {
			margin-bottom: 60px;
		}
		@include breakpoint-down(small-desktop) {
			margin-bottom: 40px;
			font-size: 40px;
		}
		@include breakpoint-down(tablet) {
			margin-bottom: 30px;
			font-size: 30px;
		}
		@include breakpoint-down(mobile) {
			margin-bottom: 20px;
			font-size: 26px;
		}
	}
	.nav-categories ul li a {
		color: #003672;
		&:hover {
			color: #000;
		}
	}
	.nav-categories > .menu > li > .sub-menu a {
		color: #2E2E2D;
		&:hover {
			color: #000;
		}
	}
	.nav-categories > .menu > li > a {

	}

	.nav-categories > .menu > li > .sub-menu li.js-show > a {
		color: #2e2e2d;
	}
	.nav-categories > .menu > li {
		@include breakpoint-down(mobile) {
			width: 100%;
		}
	}

  	.button-bordered {
	  	text-decoration: none;
	  	margin: 0 0 3rem 0;
	  	padding: 1rem 2rem;
	  	display: inline-block;
	  	border: 2px solid $c-dark-blue;
		@include breakpoint-down(mobile) {
			margin-top: 1rem;
		}

		.text-main {
		  	display: block;
		  	text-transform: uppercase;
		  	font-weight: 700;
		  	color: $c-dark-blue;
		  	letter-spacing: .1em;
		}
		.text-sub {
		  	font-weight: 500;
		}


		&:hover {
		  	background-color: $c-dark-blue;
		  	color: white;
			.text-main {
			  	color: white;
			}
		}
	}
}
