.app-block-slider-boxes {
	background-color: #676D71;
	color: $c-white;
	min-height: 700px;
	display: flex;
	align-items: center;

	* {
		color: $c-white;
	}

	.app__block-inner {
		padding: 120px 0;
		@include breakpoint-down(mobile) {
			padding: 120px 0;
			min-height: 800px;
		}
	}



	.app__block-container {
		margin-left: 20.469vw;
		position: relative;
		height: 100%;
		display: flex;
		align-items: center;
		//justify-content: center;

		@include breakpoint-down(large-desktop) {
			margin-left: 60px;
		}

		@media(max-width: 1134px){
			margin-left: 0;
			width: 100%;
		}
	}

	.app__block-head {
		padding-bottom: clamp(1.8vw, 2.865vw, 55px);

		@media(max-width: 1500px){
			padding-bottom: 2vw;
		}

		@media(max-width: 1279px){
			max-width: 100vw;
			padding: 0 22px 2vw;
		}

		@include breakpoint-down(mobile) {
			padding-bottom: 9.813vw;
		}
	}

	.app__block-body {
		max-width: 1246px;
		position: relative;
		padding-bottom: clamp(25px, 3.646vw, 70px);

		&:last-child {
			padding-bottom: 0;
		}

		@media(max-width: 1500px){
			padding-bottom: 2vw;
		}

		@media(max-width: 1279px){
			max-width: 900px;
			padding: 0 22px 8vw !important;
		}

		@include breakpoint-down(tablet) {
			max-width: 100vw;
		}

		@include breakpoint-down(mobile) {
			padding-bottom: 18.692vw;
		}

		&:after {
			content: '';
			width: 1000%;
			height: calc(100% + 4px);
			position: absolute;
			top: -2px;
			right: 100%;
			background-color: #676D71;
			transform: translate3d(0,0,0);
			pointer-events: none;
		}

	  	.slider__slide-quote {
			@include breakpoint-down(mobile-medium) {
			  	font-size: 14px;
			}
		}
	  	.slider__slide-text {
		  	h5, p {
			  @include breakpoint-down(mobile-medium) {
				font-size: 14px;
			  }
			}
		}

	}
  	.app__block-button {
	  max-width: 1246px;
	  position: relative;

	  @media(max-width: 1279px){
		max-width: 900px;
		padding: 0 22px;
	  }

	  @include breakpoint-down(tablet) {
		max-width: 100vw;
	  }

	}

	.app__block-logos h5,
	.app__block-head h5 {
		font-family: $ff-sans-serif;
		text-transform: uppercase;
		font-size: 24px;
		line-height: 1.0833;
		letter-spacing: .1em;
		font-weight: 600;
		margin-bottom: clamp(1.3vw, 2.969vw, 57px);
		color: #fff;

		@media(max-width: 1500px){
			margin-bottom: 1.3vw;
			font-size: 20px;
		}

		@include breakpoint-down(mobile) {
			font-size: 18px;
			margin-bottom: 6.308vw;
		}
	}

	.app__block-head h2 {
		font-size: clamp(2.8vw, 3.906vw, 75px);
		line-height: 1;

		@media(max-width: 1500px){
			margin-bottom: 0;
			font-size: 2.8vw;
		}

		@media(max-width: 1279px){
			font-size: 5.5vw;
		}

		@include breakpoint-down(mobile-medium) {
			font-size: 11.682vw;
			line-height: 1.1;
		}
	}

	.app__block-logos {
		max-width: 1330px;
		padding-right: 22px;

		@media(max-width: 1500px){
			max-width: 1150px;
		}

		@media(max-width: 1279px){
			max-width: 100vw;
			padding: 0 0 0 22px;
		}
	}

	.app__block-logos ul {
		list-style: none;
		padding-left: 26px;

		@media(max-width: 1500px){
			padding-left: 0;
		}

		@include breakpoint-down(tablet) {
			flex-wrap: nowrap;
			overflow-x: scroll;
		}
	}

	.app__block-logos .slick-arrow {
		display: none !important;
	}

	.app__block-logos .slick-slide {
		margin-right: clamp(25px, 6.458vw, 124px);

		@include breakpoint-down(mobile) {
			margin-right: 15.654vw;
		}
	}

	.app__block-logos .slick-slide img {
		@include breakpoint-down(mobile) {
			display: none;
		}
	}

	.app__block-logos .slick-slide img ~ img {
		display: none;

		@include breakpoint-down(mobile) {
			display: block;
		}
	}

	.app__block-logos a {
		text-decoration: none;
		transition: all .4s;

		&:hover {
			opacity: .7;
		}
	}
}
