//fullheight section edits
.app-block-slider-fullheight.pp-section.pp-table {
	display: block;

	.pp-tableCell {
		display: block;
	}
}

.app-block-slider-fullheight.active {
	.slider__actions {
		opacity: 1;
	}
}

