.app-block-members-slider-related {
	position: relative;
	overflow: hidden;
	margin-bottom: clamp(50px, 10.1563vw, 157px);

	.app__block-heading {
		margin-bottom: clamp(25px,  4.6875vw, 90px);
	}

	.app__block-slider {
		position: relative;
		width: calc(100% + 142px);
		max-width: calc(100% + 142px);

		@media(max-width: 1545px){
			width: 100%;
			max-width: 100%;
		}
	}
}
