.app-block-with-accordion {
	padding: clamp(50px, 9.375vw, 180px) 0;

	.app__block-head {
		padding-bottom: 60px;

		@include breakpoint-down(tablet) {
			padding-bottom: 40px;
		}

		@include breakpoint-down(mobile) {
			padding-bottom: 25px;
		}
	}
	.app__block-head h5 {
		color: #3B3B3B;
	}

	.app__block-inner {
		display: flex;
		flex-wrap: wrap;
	}

	.app__block-image {
		width: 42%;
		padding-bottom: 31.8%;
		height: 610px;

		@include breakpoint-down(mobile) {
			height: auto;
			max-width: 550px;
			margin: 0 auto;
			width: 100%;
			padding-bottom: 80%;
		}

		@include breakpoint-down(mobile-medium) {
			padding-bottom: 120%;

		}
	}

	.app__block-content {
		width: 58%;
		padding-left: clamp(35px, 4.5vw, 64px);
		color: #4B4B4B;
		font-size: 16px;
		line-height: 1.5;
		display: flex;
		flex-wrap: wrap;

		@include breakpoint-down(tablet) {
			padding-right: 22px;
		}

		@include breakpoint-down(mobile) {
			width: 100%;
			padding: 55px 22px 0;
		}
	}

	.app__block-content strong {
		font-weight: 500;
	}

	.app__block-content-inner {
		max-width: 666px;
		padding-right: 40px;
		display: flex;
		flex-wrap: wrap;
		flex-flow: column;
		width: 100%;

		@include breakpoint-down(tablet) {
			max-width: 100%;
			padding-right: 0;
		}
	}

	.app__block-actions {
		margin-top: auto;
		padding-top: 30px;
	}

	.btn-circle {
		position: absolute;
		bottom: -74px;
		right: 114px;

		@include breakpoint-down(small-desktop) {
			bottom: -50px;
			right: 50px;
		}

		@include breakpoint-down(mobile-medium) {
			bottom: -43px;
			right: 22px;
		}
	}

	.accordion {
		padding-top: 47px;

		@include breakpoint-down(tablet) {
			padding-top: 25px;
		}
	}
}
