.app-block-grid-content {
	padding: clamp(60px, 8.5938vw, 165px) 0;

	.app__block-head {
		padding-bottom: clamp(60px, 6.5625vw, 126px);
	}

	.app__block-head ol,
	.app__block-head ul,
	.app__block-head p {
		font-size: clamp(18px, 2.5vw, 24px);
		line-height: 1.5;
		max-width: 749px;
		color: #3B3B3B;
		list-style-position: inside;
		font-weight: 400;
	}

	.app__block-head h2 {
		color: #2E2E2D;
		margin-bottom: clamp(25px, 2.6042vw, 50px);
	}

	.app__block-inner {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: clamp(45px, 4.2708vw, 82px);
	}

	.app__block-images {
		width: 49.58%;
		text-align: right;

		@include breakpoint-down(tablet) {
			width: 100%;
		}
	}

	.app__block-images > img {
		margin-bottom: clamp(40px, 4.2708vw, 82px);

		&:last-child {
			margin-bottom: 0;
		}
	}

	.app__block-content {
		width: 50.42%;
		padding-left: clamp(40px, 4vw, 76px);

		@media(max-width: 1160px){
			padding-right: 35px;
		}

		@include breakpoint-down(tablet) {
			width: 100%;
			margin-top: clamp(40px, 4.2708vw, 82px);
		}

		@include breakpoint-down(mobile) {
			padding: 0 22px;
		}
	}

	.app__block-content-inner {
		max-width: 480px;

		@include breakpoint-down(tablet) {
			max-width: 100%;
		}
	}

	.app__block-content strong {
		font-weight: 500;
	}

	.app__block-image {
		max-width: 1089px;
		margin: 0 auto;
	}

	.app__block-image > img {
		width: 100%;
		display: block;
	}
}
