.app-block-articles {
	margin-top: clamp(10px, 4.375vw, 5px);
	margin-bottom: clamp(50px, 3.8542vw, 74px);

	.shell {
		max-width: 1297px;
	}
}

.app-block-articles--media {
	margin-top: -15px;

	@include breakpoint-down(tablet) {
		margin-top: 0;
	}
}

.js-spinner {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	display: none;
}
