.app-block-heading-with-actions {
	.app__block-inner {
		padding-left: clamp(40px, 7.2917vw, 140px);
		padding-top: clamp(50px, 8.4375vw, 162px);
		padding-bottom: clamp(50px, 7.2083vw, 100px);
		display: flex;
		flex-wrap: wrap;

		@include breakpoint-down(mobile) {
			padding-left: 0;
		}
	}

	.app__block-content {
		width: calc(100% - 147px);
		padding-right: clamp(30px, 2.6042vw, 50px);

		@include breakpoint-down(small-desktop) {
			width: calc(100% - 100px);
		}

		@include breakpoint-down(mobile) {
			width: 100%;
		}
	}

	.app__block-content h2 {
		margin-bottom: clamp(25px, 4.4271vw, 85px);
	}

	.app__block-content h5 {
		color: #4B4B4B;
		text-transform: uppercase;
		font-weight: 600;
		font-size: clamp(18px, 1.25vw, 24px);
		line-height: 1.0833;
		letter-spacing: 0.1em;
	}

	.app__block-content ol,
	.app__block-content ul,
	.app__block-content p {
		font-size: clamp(18px, 1.25vw, 24px);
		line-height: 1.5;
		color: #3B3B3B;
		list-style-position: inside;
		font-weight: 400;
	}

	.app__block-actions {
		width: 147px;
		position: relative;
		right: -50px;
		margin-top: 20px;

		@include breakpoint-down(small-desktop) {
			width: 100px;
			right: 0;
		}


	}
}
