.app-block-with-accordion-type-3 {
	padding: clamp(50px, 10vw, 120px) 0;

	.shell {
		@include breakpoint-down(mobile) {
			padding: 0;
		}
	}

	.app__block-inner {
		display: flex;
		flex-wrap: wrap;
	}

	.app__block-image {
		width: 50%;
		height: 823px;
		left: -7.1354vw;

		@include breakpoint-down(mobile) {
			width: 100%;
			left: 0;
			height: auto;
			padding-bottom: 120%;
			max-width: 550px;
			margin: 0 auto;
		}
	}

	.app__block-content {
		width: 50%;
		display: flex;
		font-size: 16px;

		@include breakpoint-down(mobile) {
			width: 100%;
			font-size: 15px;
			padding-top: 55px;
			padding-left: 22px;
			padding-right: 22px;
		}
	}

	.app__block-content-inner {
		display: flex;
		flex-wrap: wrap;
		flex-flow: column;
		width: 100%;
		max-width: 483px;

		@include breakpoint-down(mobile) {
			max-width: 100%;
		}
	}

	.app__block-content p {
		max-width: 461px;

		@include breakpoint-down(mobile) {
			max-width: 100%;
		}
	}

	.app__block-actions {
		margin-top: auto;
		padding-top: 30px;
	}

	.btn-circle {
		position: absolute;
		bottom: 130px;
		right: -45px;

		@include breakpoint-down(mobile) {
			bottom: -43px;
			right: 22px;
		}
	}

	.accordion {
		padding-top: 47px;

		@include breakpoint-down(tablet) {
			padding-top: 25px;
		}
	}
}
