.app-block-contact-form {
	margin: clamp(50px, 9.6354vw, 185px) 0;

	.app__block-inner {
		max-width: 812px;
		margin: 0 auto;
	}

	.app__block-head {
		margin-bottom: clamp(20px, 2.5vw, 48px)
	}

	.app__block-head h1 {
		font-size: clamp(44px, 6.6875vw, 90px);
		margin-bottom: clamp(20px, 3.3333vw, 64px);

	}

	.app__block-head h4 {
		text-transform: none;
		font-size: clamp(20px, 3vw, 28px);
		font-weight: 400;
		line-height: 1.2857;
		color: #3B3B3B;
	}

	.app__block-entry {
		max-width: 670px;
		font-size: 16px;
		line-height: 1.5;
		font-weight: 300;
		margin-bottom: clamp(35px, 3.6458vw, 70px);
	}

	.app__block-foot {
		padding-top: clamp(35px, 4.9479vw, 95px);
		font-size: clamp(20px, 1.4583vw, 28px);
		line-height: 1.5;
		font-weight: 400;
		color: #3B3B3B;
	}

	.app__block-foot * {
		color: inherit;
	}

	.app__block-foot strong {
		font-weight: 600;
	}
}
