.app-block-careers {
	padding: clamp(50px, 10.6771vw, 205px) 0;

	.app__block-inner {
		max-width: 810px;
		margin: 0 auto;
	}

	.app__block-head {
		margin-bottom: clamp(35px, 4.3229vw, 83px);
	}

	.app__block-head h5 {
		color: #4B4B4B;
		font-size: clamp(20px, 2vw, 24px);
		margin-bottom: clamp(25px, 2.5vw, 48px);
		font-weight: 600;
		letter-spacing: 0.1em;
	}

	.app__block-head h2 {
		margin-bottom: clamp(45px, 4.6875vw, 90px);
	}

	.app__block-head ol,
	.app__block-head ul,
	.app__block-head p {
		font-weight: 400;
		font-size: clamp(18px, 2vw, 21px);
		line-height: 1.5238;
		color: #3B3B3B;
		margin-right: -50px;

		@include breakpoint-down(tablet) {
			margin-right: 0;
		}
	}

	.app__block-image-inner {
		margin: 0 calc((100vw - 810px)/-2) 0 0;

		@include breakpoint-down(tablet) {
			margin-right: -35px;
		}

		@include breakpoint-down(mobile) {
			margin-right: -22px;
		}
	}

	.app__block-list {
		margin-top: clamp(50px, 7.0833vw,  136px)
	}
}
