.app-block-bilder-slider {
	margin-bottom: clamp(50px, 10.1563vw, 157px);
	overflow: hidden;

	.app__block-heading {
		margin-bottom: 0;
	}
	.app__block-heading h6 {
		margin-bottom: 19px;
		font-family: $ff-sans-serif;
		font-size: 24px;
		line-height: 1.2;
		font-weight: 600;
		color: #4B4B4B;
		@include breakpoint-down(large-desktop) {
			margin-bottom: 40px;
		}
		@include breakpoint-down(tablet) {
			margin-bottom: 20px;
		}
		@include breakpoint-down(mobile) {
			margin-bottom: 0;
			font-size: 18px;
		}
	}

	.app__block-slider {
		position: relative;
		width: 1089px;
		max-width: 1089px;

		@media(max-width: 1545px){
			width: 100%;
			max-width: 100%;
		}
	}

	.bilder__content {
		padding-top: 27px;
		min-height: 83px;
		@include breakpoint-down(mobile) {
			padding-top: 10px;
			min-height: 10px;
		}
	}
	.bilder__content h6 {
		margin-bottom: 0;
		font-family: $ff-sans-serif;
		font-size: 18px;
		line-height: 1.56;
		color: #4B4B4B;
		font-weight: 700;
		@include breakpoint-down(mobile) {
			font-size: 16px;
		}
	}
	.bilder__content p {
		margin-bottom: 0;
		font-family: $ff-sans-serif;
		font-size: 18px;
		line-height: 1.56;
		color: #4B4B4B;
		font-weight: 600;
		@include breakpoint-down(mobile) {
			font-size: 16px;
		}
	}

	.slider__slides {
		flex-wrap: nowrap;
		margin: 0;
	}
	.swiper {
		overflow: visible !important;
	}



	.slider__actions {
		position: absolute;
		left: -161px;
		bottom: 96px;
		z-index: 94;
		width: 166px;
		margin: -24px -18px 0;
		background-color: $c-white;
		display: flex;
		&:after {
			position: absolute;
			top: -100vh;
			bottom: -100vh;
			left: -50vw;
			right: 0;
			width: auto;
			height: auto;
			display: block;
			content: '';
			background: #fff;
			@include breakpoint-down(large-desktop) {
				width: 100%;
				position: static;
			}
		}
		@include breakpoint-down(large-desktop) {
			width: 100%;
			position: static;
			margin-bottom: 5px;
		}
		@include breakpoint-down(tablet) {
			margin: 0 -6px 5px;
		}
	}

	.swiper-button-prev,
	.swiper-button-next {
		width: 47px;
		height: 47px;
		top: 0;
		margin: 0 18px;
		position: relative;
		z-index: 2;

		@include breakpoint-down(tablet) {
			margin: 0 6px;
		}

		@include breakpoint-down(mobile) {
			width: 34px;
			height: 34px;
		}

		&:after {
			display: none;
		}

		&:hover {
			circle {
				fill: #2e2e2d;
			}

			path {
				stroke: $c-white
			}
		}
	}
	.swiper-button-prev {
		left: -10px;
		@include breakpoint-down(large-desktop) {
			left: 0;
		}
		@include breakpoint-down(tablet) {
			left: -10px;
		}
	}

	svg {
		width: 100%;
		display: block;
		overflow: visible;
	}

	circle,
	path {
		transition: all .4s;
	}
	.slider__actions {
		@include breakpoint-down(tablet) {
			margin: 0 5px 5px !important;
		}
	}

	.slider-bilder.less-than-3 {
		@include breakpoint-up(mobile-medium) {
			.slider__actions,
			.swiper-slide-duplicate {
				opacity: 0;
				visibility: hidden;
			}
		}
	}
}
