.app-block-center-title {
	h4 {
		padding: 24px 0 90px;
		@include breakpoint-down(tablet) {
			padding: 20px 0;
		}
		@include breakpoint-down(mobile) {
			word-break: break-word;
			font-size: clamp(27px,3vw,48px);
		}
	}
}
