.app-block-single-member {
	padding: clamp(50px, 9.3229vw, 179px) 0 clamp(50px, 5.7813vw, 111px);

	.btn-back-to.is-active {
		position: fixed;
		top: 130px;
		left: calc((100vw - 1090px) / 2);

		@media(max-width: 1160px){
			left: 35px;
		}

		@include breakpoint-down(mobile) {
			position: static;
		}
	}

	.app__block-inner {
		padding-left: 0;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
	}

	.app__block-content {
		padding-left: 139px;
		width: 100%;

		@include breakpoint-down(small-desktop) {
			padding-left: 100px;
		}


		@include breakpoint-down(mobile) {
			padding-left: 0;
		}
	}

	.app__block-button {
		width: 139px;
		margin-bottom: -34px;

		@include breakpoint-down(small-desktop) {
			width: 100px;
		}

		@include breakpoint-down(mobile) {
			width: 100%;
			margin-bottom: 25px;
		}
	}

	.app__block-head-inner {
		width: calc(100% - 139px);
		display: flex;
		flex-wrap: wrap;
		border-bottom: 1px solid #707070;

		@include breakpoint-down(small-desktop) {
			width: calc(100% - 100px);
		}

		@include breakpoint-down(mobile) {
			width: 100%;
		}
	}

	.app__block-head {
		display: flex;
		flex-wrap: wrap;
		position: relative;
		align-items: flex-end;
	}

	.app__block-avatar {
		width:  41.77%;
		margin-top: clamp(20px, 2.1875vw, 42px);

		@include breakpoint-down(mobile) {
			width: 100%;
		}
	}

	.app__block-avatar img {
		@include breakpoint-down(mobile) {
			max-width: 90%;
			padding-left: 15px;
		}
	}

	.app__block-name {
		width: 58.23%;
		padding-left: 24px;

		@include breakpoint-down(mobile) {
			width: 100%;
			padding-left: 0;
			order: -2;
		}
	}

	.app__block-name h1 {
		font-size: clamp(38px, 5.125vw, 60px);
		margin-bottom: clamp(12px, 1.7708vw, 34px);
		line-height: 1.25;
	}

	.app__block-name p {
		color: #2E2E2D;
		font-size: clamp(18px, 2.3542vw, 26px);
		line-height: 1.3846;
		text-transform: uppercase;
		padding-right: 3vw;
	}

	.app__block-quote {
		max-width: 674px;
		margin: clamp(40px, 5.5417vw, 68px) auto;
	}

	.app__block-quote blockquote {
		font-size: clamp(22px, 3.6667vw, 32px);
		line-height: 1.4063;
		margin-bottom: clamp(20px, 1.7708vw, 34px);
		font-weight: 300;
		font-style: italic;
		color: #003672;
	}

	.app__block-quote h6 {
		font-family: $ff-sans-serif;
		font-size: 14px;
		font-weight: 700;
		color: #4B4B4B;
	}

	.app__block-quote blockquote * {
		color: inherit;
	}

	.app__block-features {
		margin: clamp(50px, 7.5521vw, 145px) 0 clamp(50px, 4.6875vw, 90px);
	}

	.app__block-features-items {
		list-style: none;
		display: block;
	}

	.app__block-features-item {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin-bottom: clamp(12px, 1.25vw, 24px);

		&:last-child {
			margin-bottom: 0;
		}
	}

	.app__block-features-item-icon {
		width: 44px;
		text-align: center;

		@include breakpoint-down(mobile) {
			width: 30px;
		}
	}

	.app__block-features-item-entry {
		width: calc(100% - 44px);
		font-size: clamp(16px, 2.0938vw, 21px);
		font-weight: 500;
		color: #676D71;
		padding-left: clamp(20px, 2.5vw, 48px);

		@include breakpoint-down(mobile) {
			width: calc(100% - 30px);
		}
	}

	.app__block-features-item-entry * {
		color: inherit;
	}

	.app__block-separator {
		margin: clamp(30px, 4.6875vw, 90px) 0;
		border-top: 1px solid #707070;
	}

	.app__block-cols {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: clamp(50px, 6.7708vw, 130px) -10px;
		padding-right: 50px;

		@include breakpoint-down(mobile) {
			padding-right: 0;
			margin: 50px 0;
		}
	}

	.app__block-col {
		width: 418px;
		padding: 0 10px;

		@include breakpoint-down(small-desktop) {
			width: 365px;
		}

		@include breakpoint-down(tablet) {
			width: 100%;
			padding: 0;
			margin-bottom: 35px;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	.app__block-col  strong {
		font-weight: 500;
	}

	.app__block-col h4 {
		color: #2E2E2D;
		font-size: clamp(18px, 2.3542vw, 26px);
		line-height: 1.3846;
		text-transform: uppercase;
		margin-bottom: clamp(12px, 2.7083vw, 52px);
	}

	.app__block-col ul {
		list-style: none;
		margin-bottom: clamp(40px, 3.75vw, 72px);

		&:last-child {
			margin-bottom: 0;
		}
	}

	.app__block-col ul li {
		margin-bottom: clamp(12px, 1.7708vw, 34px);

		&:last-child {
			margin-bottom: 0;
		}
	}

	.app__block-col h6 {
		text-transform: uppercase;
		font-size: 18px;
		font-weight: 600;
		color: #003672;
		font-family: $ff-sans-serif;
		margin-bottom: 2px;

		@include breakpoint-down(mobile) {
			font-size: 16px;
		}
	}

	.app__block-col p small {
		font-size: 14px;
		line-height: 1.5;
		display: block;
	}
}
