.app-block-map {
	background-color: #F0F0F0;

	.app__block-inner {
		display: flex;
		flex-wrap: wrap;
	}

	.app__block-content {
		width: 50%;
		padding-top: clamp(50px, 6.4583vw, 84px);
		padding-bottom: clamp(50px, 8.6458vw, 166px);
		padding-left: calc((100vw - 1095px) / 2);

		@media(max-width: 1160px){
			padding-left: 35px;
		}

		@include breakpoint-down(mobile) {
			padding: 50px 22px;
			width: 100%;
		}
	}

	.app__block-map {
		width: 50%;

		@include breakpoint-down(mobile) {
			width: 100%;
			order: -1;
		}
	}

	.app__block-heading {
		margin-bottom: clamp(35px, 3.6979vw, 56px);
	}

	.app__block-heading h3 {
		color: #2E2E2D;
		font-size: clamp(36px, 3.125vw, 60px);
	}

	.app__block-entry {
		font-size: 16px;
		line-height: 1.75;
		font-weight: 500;
		color: #2E2E2D;
		margin-bottom: clamp(45px, 4.4271vw, 57px);
	}

	.app__block-entry h6 {
		font-family: $ff-sans-serif;
		font-weight: 800;
		font-size: 16px;
		line-height: 1.5;
	}

	.app__block-entry * {
		color: inherit;
	}

	.app__block-work-time {
		color: #2E2E2D;
		font-weight: 500;
		font-size: 16px;
		line-height: 1.75;
	}

	.app__block-work-time h6 {
		font-family: $ff-sans-serif;
		font-weight: 700;
		font-size: 16px;
		line-height: 1.5;
		margin-bottom: 30px;
	}

	.app__block-work-time ul {
		list-style: none;
	}

	.app__block-work-time ul li {
		display: flex;
		flex-wrap: wrap;
	}

	.app__block-work-time strong {
		font-weight: 500;
		min-width: 140px;
	}

	.app__block-work-time * {
		color: inherit;
	}
}
