.app-block-career-single-heading {
	padding: clamp(50px, 10.6771vw, 205px) 0 0;

	.btn-back-to.is-active {
		position: fixed;
		top: 130px;
		left: calc((100vw - 1090px) / 2);

		@media(max-width: 1160px){
			left: 35px;
		}

		@include breakpoint-down(mobile) {
			position: static;
		}
	}

	.app__block-actions {
		width: 139px;
		margin-bottom: -34px;

		@include breakpoint-down(small-desktop) {
			width: 100px;
		}

		@include breakpoint-down(mobile) {
			width: 100%;
			margin-bottom: 25px;
		}
	}

	.app__block-head {
		width: calc(100% - 139px);
		padding-bottom: clamp(50px, 7.2917vw, 140px);
		position: relative;

		@include breakpoint-down(small-desktop) {
			width: calc(100% - 100px);
		}

		@include breakpoint-down(mobile) {
			width: 100%;
		}

		&:after {
			content: '';
			width: 810px;
			max-width: 100%;
			height: 1px;
			position: absolute;
			bottom: 0;
			left: 0;
			background-color: #707070;
		}
	}

	.app__block-head h5 {
		color: #4B4B4B;
		font-size: clamp(20px, 2vw, 24px);
		margin-bottom: clamp(25px, 2.5vw, 48px);
		font-weight: 600;
		letter-spacing: 0.1em;
	}

	.app__block-head h2 {
		margin-bottom: clamp(45px, 4.6875vw, 90px);
	}

	.app__block-head ol,
	.app__block-head ul,
	.app__block-head p {
		font-weight: 400;
		font-size: clamp(18px, 2vw, 21px);
		line-height: 1.5238;
		color: #3B3B3B;
		max-width: 861px;
	}

	.app__block-inner {
		display: flex;
		flex-wrap: wrap;
		position: relative;
	}
}
