.app-block-image-content-type-1 {
	margin: clamp(40px, 7.2917vw, 140px) 0;

	.app__block-inner {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		padding-left: clamp(35px, 7.2917vw, 140px);

		@include breakpoint-down(small-desktop) {
			padding-left: 35px;
		}

		@include breakpoint-down(tablet) {
			padding: 0;
		}
	}

	.app__block-image {
		width: 37.87%;

		@include breakpoint-down(tablet) {
			width: 100%;
			max-width: 768px;
			margin: 0 auto 50px;
		}

		@include breakpoint-down(mobile) {
			margin-bottom: 35px;
		}
	}

	.app__block-image img {
		width: 100%;
	}

	.app__block-content {
		width: 62.13%;
		padding-right: calc((100vw - 1090px) / 2 );
		padding-left: clamp(25px, 4.2708vw, 82px);

		@include breakpoint-down(small-desktop) {
			padding-right: 35px;
		}

		@include breakpoint-down(tablet) {
			padding: 0 35px;
			width: 100%;
		}

		@include breakpoint-down(mobile) {
			padding: 0 22px;
		}

		ul {
			list-style: none;
		}
		ul li {
			position: relative;
			font-size: 24px;
			line-height: 1.67;
			color: #4B4B4B; 
			&:before {
				position: absolute;
				top: 0;
				left: -24px;
				display: block;
				content: "-";
			}
		}
	}
}
