.app-block-image-content-type-2 {
	margin: clamp(40px, 12.5vw, 200px) 0;

	.app__block-inner {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		padding-right: clamp(35px, 7.2917vw, 140px);

		@include breakpoint-down(small-desktop) {
			padding-right: 35px;
		}

		@include breakpoint-down(tablet) {
			padding-right: 0;
		}
	}

	.app__block-image {
		width: 49.7%;

		@include breakpoint-down(tablet) {
			width: 100%;
			max-width: 768px;
			order: -2;
			margin: 0 auto 50px;
		}

		@include breakpoint-down(mobile) {
			margin-bottom: 35px;
		}
	}

	.app__block-image img {
		width: 100%;
	}

	.app__block-content {
		width: 50.3%;
		padding-left: calc((100vw - 1090px) / 2 );
		padding-right: clamp(25px, 3.4375vw, 66px);

		@include breakpoint-down(small-desktop) {
			padding-left: 35px;
		}

		@include breakpoint-down(tablet) {
			padding: 0 35px;
			width: 100%;
		}

		@include breakpoint-down(mobile) {
			padding: 0 25px;
		}
	}
}
