.app-block-slider-images {
	margin-top: clamp(60px, 8.3333vw, 160px);
	margin-bottom: clamp(60px, 11.9792vw, 230px);
	.app-block-inner {
		padding-left: calc((100vw - 1089px) / 2);

		@media(max-width: 1160px){
			padding-left: 35px;
		}

		@include breakpoint-down(mobile) {
			padding: 0;
		}
	}
}
