.app-block-with-accordion-type-2 {
	padding: clamp(70px, 10.4167vw, 200px) 0 clamp(50px, 10.4167vw, 200px);
	background-color: #F0F0F0;

	.app__block-inner {
		display: flex;
		flex-wrap: wrap;
	}

	.app__block-content {
		font-size: 16px;
		line-height: 1.5;
		width: 57.6%;
		padding-left: calc( (100vw - 1090px) / 2 );
		display: flex;
		flex-wrap: wrap;
		padding-right: 4.5vw;

		@media(max-width: 1134px){
			padding-left: 22px;
		}

		@include breakpoint-down(mobile) {
			width: 100%;
			font-size: 15px;
			padding: 45px 22px 0;
		}
	}

	.app__block-content-inner {
		max-width: 536px;
		display: flex;
		flex-wrap: wrap;
		flex-flow: column;
		width: 100%;

		@include breakpoint-down(mobile) {
			max-width: 100%;
		}
	}

	.app__block-actions {
		margin-top: auto;
		padding-top: 30px;
	}

	.app__block-image {
		width: 42.4%;
		padding-right: 3vw;

		@media(max-width: 1134px){
			padding-right: 22px;
		}

		@include breakpoint-down(mobile) {
			width: 100%;
			order: -2;
			padding: 0;
			max-width: 550px;
			margin: 0 auto;
		}
	}

	.app__block-image-holder {
		max-width: 674px;
		height: 679px;

		@include breakpoint-down(mobile) {
			height: auto;
			padding-bottom: 120%;
		}
	}

	.btn-circle {
		position: absolute;
		top: 55px;
		left: -73px;

		@include breakpoint-down(small-desktop) {
			left: -50px;
			top: 22px;
		}

		@include breakpoint-down(tablet) {
			top: -22px;
		}

		@include breakpoint-down(mobile) {
			left: 32px;
			top: -43px;
		}
	}

	.accordion {
		padding-top: 32px;

		@include breakpoint-down(mobile) {
			padding-top: 25px;
		}
	}
}
