.app-block-heading-center {
	.app__block-inner {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	.app__block-content {
		max-width: 812px;
		margin: 0 auto;
		width: 100%;
	}

	h2 {
		padding-bottom: clamp(5px, 1.8229vw, 35px);
	}

	ul,
	ol,
	p {
		font-size: clamp(16px, 1.65vw, 24px);
		line-height: 1.5;
		color: #3B3B3B;
		list-style-position: inside;
		font-weight: 400;
	}
}
