.app-block-fullwidth-image {
	position: relative;
	img {
		width: 100%;
	}

	.shell {
		position: absolute;
		top: 0;
		left: 50%;
		width: 100%;
		height: 100%;
		z-index: 4;
		transform: translateX(-50%);
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;
	}

	.btn-circle {
		width: 214px;
		height: 214px;
		font-size: 21px;
		position: relative;
		bottom: -67px;
		margin-right: 35px;

		@include breakpoint-down(large-desktop) {
			width: 184px;
			height: 184px;
			font-size: 20px;
			margin-right: 0;
		}

		@include breakpoint-down(tablet) {
			width: 120px;
			height: 120px;
			font-size: 14px;
			letter-spacing: 1.4px;
			bottom: -30px;
		}

		@include breakpoint-down(mobile-medium) {
			font-size: 12px;
			width: 100px;
			height: 100px;
		}
	}
}
