.app-block-center-text {
	text-align: center;
	margin: clamp(50px, 10.4479vw, 159px)  0;
	.app__block-content {
		max-width: 830px;
		text-align: left;
		margin: 0 auto;
	}
	p {
		font-size: 24px;
		font-weight: 400;
		line-height: 1.5;
		@include breakpoint-down(tablet) {
			font-size: 20px;
		}
		@include breakpoint-down(mobile) {
			font-size: 18px;
			line-height: 1.3;
		}
	}

	h3 {
		font-family: $ff-sans-serif;
		max-width: 640px;
		font-size: 46px;
		line-height: 1.5;
		padding-bottom: 40px;
		@include breakpoint-down(tablet) {
			font-size: 40px;
			padding-bottom: 20px;
		}
		@include breakpoint-down(mobile) {
			font-size: 26px;
		}
	}
}

.app-block-service-block + .app-block-center-text {
	h3:first-child {
		margin: -120px auto 0;
		@include breakpoint-down(tablet) {
			margin: -30px auto 0;
		}
	}
}