/* ------------------------------------------------------------ *\
	Articles
\* ------------------------------------------------------------ */

.articles {
	.articles__items {
		list-style: none;
		padding: 0;
	}

	.articles__item + .articles__item {
		margin-top: 30px;
	}
}

.articles {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	margin: 0 -12px;

	.article {
		width: 33.33%;
		padding: 0 12px;
		margin-bottom: clamp(40px, 4.7396vw, 91px);

		@include breakpoint-down(tablet) {
			width: 50%;
		}

		@include breakpoint-down(mobile-medium) {
			width: 100%;
		}
	}

	.article .article__image {
		width: 100%;
		display: block;
		margin-bottom: clamp(20px, 1.7708vw, 34px);
		overflow: hidden;

		&:hover {
			img {
				transform: scale(1.05)
			}
		}
	}

	.article .article__image img {
		width: 100%;
		display: block;
		transition: all .4s;
	}

	.article .article__image a {
		display: block;
		text-decoration: none;
	}

	.article .article__categories {
		display: flex;
		flex-wrap: wrap;
		margin: -3px;
		font-size: 12px;
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		color: #676D71;
		transition: color .4s;
		padding-bottom: 6px;
	}

	.article .article__magazine {
		font-size: 12px;
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		color: #676D71;
		padding-bottom: 6px;
	}

	.article .article__categories a {
		display: inline-block;
		text-decoration: none;
		margin: 3px;
		transition: all .4s;

		&:hover {
			opacity: .7;
		}
	}

	.article .article__magazine *,
	.article .article__categories * {
		color: inherit;
	}

	.article h4.article__title {
		font-family: $ff-serif;
		font-weight: 300;
		line-height: 1.3125;
		font-size: clamp(26px, 1.6667vw, 32px);
		text-transform: none;
		margin-bottom: 8px;
	}

	.article .article__title a {
		display: block;
		text-decoration: none;
		color: #003672;
		transition: color .4s;

		&:hover {
			color: #3B3B3B;
		}
	}

	.article .article__meta {
		margin-bottom: 20px;
	}

	.article .article__meta ul {
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		font-size: 12px;
		font-weight: 600;
		color: #676D71;
		margin: -12px;
	}

	.article .article__meta li {
		padding: 12px;
		position: relative;

		&:after {
			content: '';
			width: 1px;
			height: 12px;
			position: absolute;
			top: 15px;
			right: 0;
			background-color: #676D71;
		}

		&:last-child {
			&:after {
				display: none;
			}
		}
	}

	.article .article__meta a {
		text-decoration: none;
		transition: color .4s;

		&:hover {
			color: #003672;
		}
	}

	.article .article__entry {
		font-size: 16px;
		line-height: 1.4375;
		font-weight: 400;
		color: #3B3B3B;
	}

	.article .article__entry * {
		color: inherit;
	}
}

/*  media  */
.articles--media {
	.article {
		&:first-child {
			margin-top: clamp(50px, 11.25vw, 216px);

			@include breakpoint-down(tablet) {
				margin-top: 0;
			}
		}

		&:nth-child(3) {
			margin-top: clamp(150px, 21.7188vw, 417px);

			@include breakpoint-down(tablet) {
				margin-top: 0;
			}
		}
	}
}
