/* ------------------------------------------------------------ *\
	Article Single
\* ------------------------------------------------------------ */

.article-single {
	padding-top: clamp(50px, 5.8854vw, 113px);
	padding-bottom: clamp(50px, 11.4583vw, 220px);
	position: relative;
	max-width: 810px;
	margin: 0 auto;
	border-top: 1px solid #707070;

	.article__head {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		position: relative;
		margin-bottom: clamp(20px, 4.5833vw, 88px);
		padding-bottom: 0;
	}

	.article__head-actions {
		@include breakpoint-down(tablet) {
			margin-bottom: 3vw;
		}
	}

	.article__categories {
		display: flex;
		flex-wrap: wrap;
		margin: -3px;
		font-size: 16px;
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		color: #676D71;
		transition: color .4s;
		padding-bottom: 10px;

		&:hover {
			color: #003672;
		}
	}

	.article__magazine {
		font-size: 16px;
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		color: #676D71;
		transition: color .4s;
		padding-bottom: 10px;
	}

	.article__magazine a,
	.article__categories a {
		display: inline-block;
		text-decoration: none;
		margin: 3px;
	}

	.article__title {
		color: #003672;
		font-weight: 300;
		font-size: clamp(36px, 5.125vw, 60px);
		line-height: 1.25;
	}

	.article__inner {
		max-width: 810px;
	}

	.article__author {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		font-weight: 400;
	}

	.article__avatar {
		width: 86px;
		height: 86px;
		border-radius: 50%;

		@include breakpoint-down(mobile) {
			width: 50px;
			height: 50px;
		}
	}

	.article__avatar img {
		border-radius: 50%;
	  	object-position: top;
	}

	.article__author-content {
		width: calc(100% - 86px);
		padding-left: clamp(15px, 2.6042vw, 50px);

		@include breakpoint-down(mobile) {
			width: calc(100% - 50px);
		}
	}

	.article__author-content p {
		margin-bottom: 0;
		color: #3B3B3B;
		line-height: 1.7778;

		@include breakpoint-down(mobile) {
			line-height: 1.5;
			font-size: 14px;
		}
	}

	.article__author-content strong {
		font-weight: 600;
	}

	.article__author-content a {
		text-decoration: none;
		display: inline-block;
		transition: color .4s;

		&:hover {
			color: #003672;
		}
	}

	.article__meta {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-end;
		justify-content: space-between;
		margin-bottom: clamp(25px, 2.3438vw, 45px);
	}

	.article__socials {
		margin-bottom: 5px;

		@include breakpoint-down(tablet) {
			width: 100%;
			margin-top: 15px;
		}
	}

	.socials ul {
		@include breakpoint-down(tablet) {
			justify-content: flex-start;
		}
	}

	.socials {
		margin-top: 0;
	}

	.socials a {
		&:hover {
			color: #003672;
		}
	}

	.article__entry {
		font-size: clamp(18px, 2.4vw, 24px);
		line-height: 1.5;
		font-family: $ff-serif;
	}

	.article__entry h2,
	.article__entry h3 {
		font-size: clamp(30px, 5.125vw, 48px);
		line-height: 1.25;
	}
  	.article__entry h4 {
	  	font-size: clamp(26px, 3vw, 38px);
	  	line-height: 1.25;
	}

	.article__entry a {
		color: #003672;
	}

	.article__entry strong {
		font-weight: 600;
	}

	.article__entry h6 {
		font-weight: 700;
		font-size: clamp(18px, 2.4vw, 24px);
		line-height: 1.5;
		font-family: $ff-serif;
		margin-bottom: 1.5556em;
	}

	.article__foot {
		border-top: 1px solid #707070;
		padding-top: clamp(25px, 1.9792vw, 38px);
		margin-top: clamp(35px, 4.375vw, 84px);
	}

	.article__entry p img,
	.wp-block-image {
		margin-top: 61px;
		margin-bottom: clamp(35px, 3.1771vw, 61px);

		@include breakpoint-down(tablet) {
			margin-top: 35px;
		}
	}

	.js-sticky-el {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: -139px;

		@media(max-width: 1160px){
			left: -91px;
		}

		@include breakpoint-down(tablet) {
			position: static;
			transform: translateY(0);
		}
	}

	.js-sticky-el.is-active {
		position: fixed;
		top: 130px;
		left: calc((100vw - 1100px) / 2);
		transform: translateY(0);

		@media(max-width: 1500px){
			left: calc((100vw - 1090px) / 2);
		}

		@media(max-width: 1160px){
			left: 16px;
			top: 156px;
		}

		@include breakpoint-down(tablet) {
			position: static;
		}
	}

	.article__head-actions {
		@include breakpoint-down(tablet) {
			width: 100%;

		}
	}

	.article__head-actions-inner {
		@include breakpoint-down(tablet) {
			width: 100%;
		}
	}

	.article__head-actions-inner img {
		display: block;
		position: absolute;
		top: 150px;
		left: -170px;
		width: 273px;
		max-width: 273px;
		object-fit: cover;
		border: 1px solid #707070;

		@media(max-width: 1500px){
			left: -70px;
			width: 183px;
			max-width: 273px;
		}

		@include breakpoint-down(small-desktop) {
			display: none;
		}

		@include breakpoint-down(tablet) {
			position: static;
			display: block;
			margin-top: 14px;
		}
	}
}

/*  article-single--media  */
.article-single--media {
	border-top: none;
	padding-top: 0;

	.article__head {
		margin-bottom: clamp(20px, 2.5vw, 48px);
	}
}
