/* ------------------------------------------------------------ *\
	- Block Video
\* ------------------------------------------------------------ */

.block-video {
	width: 100%;
	position: relative;
	overflow: hidden;

	&.alignleft {
		width: calc(50% + 200px);
		margin-right: 17px;
		float: left;

		@include breakpoint-down(tablet) {
			float: none;
			width: 100%;
			padding-right: 0;
		}
	}

	iframe {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}

	& > a {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 20;
		font-size: 0;
		line-height: 0;
	}

	& > a i {
		@util center;
	}

	.block__image {
		width: 100%;
		height: 0;
		padding-top: 56.25%;
		position: relative;
		overflow: hidden;
	}
}
