/* ------------------------------------------------------------ *\
	- Block Iframe
\* ------------------------------------------------------------ */

.block-iframe {
	width: 100%;
	height: 0;
	padding-top: 56.25%;
	position: relative;
	overflow: hidden;

	iframe {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
}
