/* ------------------------------------------------------------ *\
	- Btn Slide
\* ------------------------------------------------------------ */

.btn-slide {
	width: 46px;
	height: 46px;
	border-radius: 50%;
	background-color: white;
	border: 1px solid #2e2e2d;
	display: inline-block;
	vertical-align: top;
	position: relative;
	transition: background $t-duration;

	svg {
		@util center;

		width: 6px;
		height: 12px;
	}

	path {
		fill: none;
		stroke: #2e2e2d;
		stroke-miterlimit: 10;
		stroke-width: 1;
		transition: stroke $t-duration;
	}
}

/* ------------------------------------------------------------ *\
	-- Next
\* ------------------------------------------------------------ */

.btn-slide--next {
	svg {
		transform: translate(-50%,-50%) rotate(180deg);
	}
}

/* ------------------------------------------------------------ *\
	- Hover
\* ------------------------------------------------------------ */

@media (-ms-high-contrast: none), (-ms-high-contrast: active), (-moz-touch-enabled: 0), (hover) {
	.btn-slide:hover {
		background-color: #2e2e2d;

		path {
			stroke: white;
		}
	}
}
