/* ------------------------------------------------------------ *\
	Btn
\* ------------------------------------------------------------ */

.btn {
	display: inline-block;
	text-align: center;
	text-decoration: none;
	border: 0;
	box-shadow: none;
	border-radius: 0;
	appearance: none;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: .1em;
	border: 1px solid $c-white;
	background-color: transparent;
	min-width: 268px;
	color: $c-white;
	text-transform: uppercase;
	transition: all .4s;
	padding: 14px;
	transition: all .4s;

	@include breakpoint-down(small-desktop) {
		min-width: 220px;
	}

	@include breakpoint-down(mobile-medium) {
		font-size: 13px;
		padding: 14px;
		min-width: 200px;
	}

	&:hover {
		background-color: $c-white;
		color: $c-base;
	}
}

/* Btn Block */

.btn--block {
	display: block;
	padding-left: 0;
	padding-right: 0;
}

/*  btn--dark-border  */
.btn--dark-border {
	border: 1px solid #585858;
	color: #585858;

	&:hover {
		background-color: #585858;
		color: $c-white;
	}
}

/*  btn--blue-border  */
.btn--blue-border {
	border: 1px solid #003672;
	color: #003672;

	&:hover {
		background-color: #003672;
		color: $c-white;
	}
}


/*  btn-icon  */
.btn-icon {
	display: inline-block;
	text-decoration: none;
	transition: opacity .4s;

	&:hover {
		opacity: .7;
	}
}

.btn--icon-search {
	position: absolute;
	top: 15px;
	right: 83px;

	@include breakpoint-down(tablet) {
		right: 33px;
	}
	@include breakpoint-down(mobile) {
		right: 45px;
		top: 6px;
	}
}

/*  btn-menu  */
.btn-menu {
	text-decoration: none;
	width: 24px;
	display: block;
	transition: opacity .4s;
	position: absolute;
	top: 50%;
	right: 35px;
	transform: translateY(-50%);

	@include breakpoint-down(tablet) {
		right: 0;
	}

	&:hover {
		opacity: .7;
	}

	img {
		width: 100%;
		display: block;
	}
}

/*  btn-close-menu  */
.btn-close-menu {
	text-decoration: none;
	display: block;
	width: 19px;
	height: 19px;
	transition: opacity .4s;

	&:hover {
		opacity: .7;
	}

	svg {
		width: 100%;
		display: block;
	}

	img {
		display: block;
	}
}

/*  btn-circle  */
.btn-circle {
	width: 147px;
	height: 147px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	font-size: 18px;
	line-height: 1.44;
	text-transform: uppercase;
	color: $c-white;
	font-weight: 600;
	letter-spacing: 1.8px;
	text-align: center;
	border: 1px solid $c-white;
	border-radius: 50%;
	transition: all .4s;

	@include breakpoint-down(small-desktop) {
		width: 100px;
		height: 100px;
		font-size: 14px;
		letter-spacing: 1.4px;
	}

	@include breakpoint-down(mobile-medium) {
		font-size: 12px;
		width: 86px;
		height: 86px;
	}

	span {
		transform: rotate(16deg);
	}

	&:hover {
		background-color: $c-white;
		color: $c-base;
	}
}

/*  btn-circle--dark  */
.btn-circle--dark {
	background-color: #3C3C3C;
	border-color: #3C3C3C;
	color: $c-white;

	&:hover {
		border-color: $c-white;
	}
}

/*  btn-circle--dark  */
.btn-circle--dark {
	background-color: #3C3C3C;
	border-color: #3C3C3C;
	color: $c-white;

	&:hover {
		border-color: $c-white;
	}
}

/*  btn-circle--blue  */
.btn-circle--blue {
	border-color: #003672;
	color: #003672;

	&:hover {
		background-color: #003672;
		color: $c-white;
	}
}

/*  .btn-circle--reversed  */

.btn-circle--reversed {
	span {
		transform: rotate(-16deg);
	}
}

/*  btn-with-border  */
.btn-with-border {
	display: inline-block;
	text-align: center;
	text-decoration: none;
	border: 0;
	box-shadow: none;
	border-radius: 0;
	appearance: none;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #7E7E7E;
	border: 1px solid #7E7E7E;
	min-width: 140px;
	text-align: center;
	padding: 9px;
	transition: all .4s;

	&:hover {
		background-color: #7E7E7E;
		color: $c-white;
	}
}

/*  btn-back-to  */
.btn-back-to {
	width: 69px;
	display: block;
	text-decoration: none;

	@include breakpoint-down(mobile) {
		width: 50px;
	}

	&:hover {
		circle {
			fill: #2e2e2d;
		}

		path {
			stroke: $c-white
		}
	}

	svg {
		width: 100%;
		height: 100%;
		display: block;
		overflow: visible;
	}

	circle,
	path {
		transition: all .4s;
	}
}

/*  btn-play  */
.btn-play {
	width: 112px;
	text-decoration: none;
	display: block;
	transition: all .4s;

	&:hover {
		opacity: .8;
	}

	@include breakpoint-down(mobile) {
		width: 72px;
	}
}
