.career {
	border-bottom: 1px solid #707070;
	padding-bottom: clamp(45px, 3.8021vw, 73px);
	padding-top: clamp(50px, 7.6042vw, 146px);

	&:first-child {
		padding-top: 0;
	}

	.career__cities {
		margin-bottom: 25px;
	}

	.career__cities ul {
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		font-size: 18px;
		color: #4B4B4B;
		font-weight: 500;
		letter-spacing: 1.5556px;
		margin: -5px -17px;
		text-transform: uppercase;
		letter-spacing: 0;

		@include breakpoint-down(mobile) {
			font-size: 14px;
			margin: -3px -10px;

		}
	}

	.career__cities li {
		padding: 5px 17px;
		position: relative;

		@include breakpoint-down(mobile) {
			padding: 3px 10px;
		}

		&:after {
			content: '';
			width: 2px;
			height: 17px;
			position: absolute;
			top: 10px;
			right: 0;
			background-color: #4B4B4B;

			@include breakpoint-down(mobile) {
				width: 1px;
				top: 8px;
				height: 12px;
			}
		}

		&:last-child {
			&:after {
				display: none;
			}
		}
	}

	.career__title {
		font-size: clamp(36px, 3.125vw, 60px);
	}

	.career__title a {
		text-decoration: none;
		display: block;

		&:hover {
			color: #4B4B4B;
		}
	}

	.career__actions {
		margin-top: clamp(35px, 2.8646vw, 55px);
	}

	.btn--dark-border {
		border-color: #7E7E7E;
		color: #7E7E7E;

		&:hover {
			color: $c-white;
			background-color: #7E7E7E;
		}
	}
}
