.copyright {
	font-size: 11px;
	font-weight: 600;
	color: $c-white;

	* {
		color: inherit;
	}
}

.labor {
  font-size: 11px;
  font-weight: 300;
  display: flex;
  align-items: baseline;
  position: relative;
  width: 140px;
  text-decoration: none;

  @include breakpoint-down(mobile) {
	margin-top: 5rem;
  }

  img {
	max-width: 118px;
	position: absolute;
	top: -39px;
	right: 0;
  }
}
