/* ------------------------------------------------------------ *\
	Footer
\* ------------------------------------------------------------ */

.footer {
	width: 100%;
	background-color: #383838;
	padding: clamp(120px, 7.5521vw, 145px) 0;
	color: $c-white;
	position: relative;
	z-index: 14;

	@include breakpoint-down(mobile) {
		padding: 120px 0 50px;
	}

	ol,
	ul,
	p {
		color: $c-white;
	}

	.shell {

	}

	.footer__inner {
		position: relative;
		/*display: flex;
		flex-flow: column;
		justify-content: center;*/
	}

	.footer__text {
		font-size: 21px;
		line-height: 1.3333;
		position: relative;
		display: flex;
		flex-wrap: wrap;
		padding-right: 10%;
		font-weight: 400;

		@include breakpoint-down(large-desktop) {
			font-size: 18px;
			line-height: 1.4;
		}

		@include breakpoint-down(small-desktop) {
			padding-right: 0;
		}

		@include breakpoint-down(mobile) {
			font-size: 16px;
		}
	}

	.footer__text p {
		max-width: 736px;

		@include breakpoint-down(tablet) {
			max-width: 650px;
		}
	}

	.footer__text h2 {
		line-height: 1;
		max-width: 90%;
		margin-bottom: 4.166vw;
		font-size: 3.906vw;
		line-height: 1;
		color: $c-white;

		@include breakpoint-down(large-desktop) {
			margin-bottom: 2.5vw;
		}


		@include breakpoint-down(small-desktop) {
			font-size: 5.5vw;
		}

		@include breakpoint-down(tablet) {
			font-size: 6.5vw;
		}

		@include breakpoint-down(mobile-medium) {
			font-size: 10vw;
			margin-bottom: 15px;
		}
	}

	.footer__text-entry {
		width: calc(100% - 147px);

		@include breakpoint-down(tablet) {
			width: calc(100% - 100px);
		}

		@include breakpoint-down(mobile) {
			width: 100%;
		}
	}

	.footer__text-actions {
		width: 147px;
		margin-top: -25px;

		@include breakpoint-down(tablet) {
			width: 100px;
		}

		@include breakpoint-down(mobile) {
			width: 100%;
			order: -2;
			margin-top: 0;
			margin-bottom: 5vw;
		}
	}

	.footer__logo {
		max-width: 177px;
		margin-top: 6.406vw;
		margin-bottom: 2.188vw;

		@include breakpoint-down(large-desktop) {
			margin-top: 2.5vw;
		}

		@include breakpoint-down(tablet) {
			margin: 4vw 0 4.5vw;
		}

		@include breakpoint-down(mobile) {
			padding: 10px 0;
		}
	}

	.footer__logo a {
		display: block;
		text-decoration: none;
	}

	.footer__addresses ul {
		display: flex;
		list-style: none;
		font-size: 14px;
		line-height: 1.5;
		font-weight: 500;
		margin: -6px;

		@include breakpoint-down(tablet) {
			flex-wrap: wrap;
		}
	}

	.footer__addresses li {
		flex-basis: 100%;
		padding: 6px;

		@include breakpoint-down(tablet) {
			flex-basis: 50%;
			max-width: 50%;
		}
	}

	.footer__phone {
		margin-top: 1.927vw;
		font-size: 16px;
		font-weight: 800;

		@include breakpoint-down(tablet) {
			margin-top: 3vw;
		}

		@include breakpoint-down(mobile) {
			margin-top: 20px;
		}
	}

	.footer__phone a {
		text-decoration: none;
		display: inline-flex;
		align-items: center;
	}

	.footer__phone img {
		width: 14px;
		margin-right: 6px;
	}

	.footer__cta {
		margin-top: 1.927vw;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		max-width: 990px;

		@include breakpoint-down(mobile) {
			display: block;
			margin-top: 20px;
		}
	}

	.socials {
		margin-top: 6px;
	}

	.socials h5 {
		font-size: 14px;
		font-weight: 500;
		font-family: $ff-sans-serif;
		color: $c-white;
		text-transform: none;
	}

	.socials ul {
		justify-content: flex-start;
	}

	.socials ul a {
		color: $c-white;
		transition: all .4s;

		&:hover {
			opacity: .7;
		}
	}

	.socials ul i {
		display: block;
	}

	.socials  .fa-facebook-f {
		font-size: 18px;
	}

	.footer__form {
		margin-left: 134px;
		width: 336px;

		@include breakpoint-down(tablet) {
			margin-left: 70px;
		}

		@include breakpoint-down(mobile) {
			margin-left: 0;
			margin-top: 25px;
			width: 100%;
			max-width: 336px;
		}
	}

	.footer__form p {
		font-size: 14px;
		font-weight: 500;
		line-height: 1.2857;
		margin-bottom: 8px;
	}

	.footer__btn {
		margin-left: auto;
		align-self: flex-end;

		@include breakpoint-down(mobile) {
			margin-left: 0;
			margin-top: 25px;
		}
	}

	.footer__btn a {
		text-decoration: none;
		border: 1px solid $c-white;
		display: inline-block;
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 600;
		letter-spacing: .1em;
		min-width: 140px;
		padding: 9px;
		text-align: center;
		transition: all .4s;

		&:hover {
			color: #383838;
			background-color: $c-white;
		}
	}

	.footer__bar {
		padding-top: 5rem;
		display: flex;
		flex-wrap: wrap;
	  	align-items: baseline;
	  	justify-content: space-between;
	  	max-width: 990px;

		@include breakpoint-down(mobile) {
			padding-top: 25px;
			display: block;
		}
	}

	.footer__bar ul {
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		font-size: 11px;
		font-weight: 300;
		//margin: 0 -14px;
		//padding-left: 25px;

		@include breakpoint-down(mobile) {
			margin-top: 20px;
			padding-left: 0;
		}
	}

	.footer__bar ul li {
		padding: 0 14px;
		position: relative;

		&:after {
			content: '';
			position: absolute;
			top: 2px;
			left: 0;
			background-color: $c-white;
			width: 1px;
			height: 10px;
		}

	  	&:first-of-type {
		  padding-left: 0;
		  &:after {
			display: none;
		  }
		}

		&:first-child {
			&:after {
				width: 2px;

				@include breakpoint-down(tablet) {
					display: none;
				}
			}
		}

	}

	.footer__bar ul a {
		text-decoration: none;
		display: block;
		color: $c-white;
		transition: color .4s;

		&:hover {
			color: #7E7E7E;
		}
	}
}

.footer.fp-section {
	.shell {
		opacity: 0;
		transition: opacity .4s;
	}
}

.footer.fp-section.active.fp-completely {
	.shell {
		opacity: 1;
	}
}
