.form-newsletter-custom-styles_wrapper.form-newsletter-custom-styles_wrapper.gform_wrapper.gform_wrapper.gravity-theme {
	max-width: 336px;
	position: relative;

	@include breakpoint-down(tablet) {
		max-width: 80%;
	}

	@include breakpoint-down(mobile) {
		max-width: 500px;
		margin: 0 auto;
	}

	.gfield_label {
		display: none;
	}

	form {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
	}

	.gform_body .gform_fields {
		margin: 0 !important;
	}

	.gform_body .gform_fields .gfield,
	.gform_body .gform_fields .gfield.gfield_error {
		margin: 0 !important;
		padding: 0 !important;
	}

	.gform_body.gform-body {
		width: calc(100% - 60px);
	}

	.gform_footer {
		width: 60px;
		padding: 0;
		margin: 0 0 0 -1px;

		@include breakpoint-down(mobile) {
			position: absolute;
			top: 0;
			right: 0;
			height: 41px;
		}
	}

	.gfield_label {
		font-size: 14px;
		font-weight: 700;
		color: $c-white;
	}

	.gfield_required {
		display: none;
	}


	.gform_body .gform_fields .gfield .ginput_container input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
	input[type=color],
	input[type=date],
	input[type=datetime-local],
	input[type=datetime],
	input[type=email],
	input[type=month],
	input[type=number],
	input[type=password],
	input[type=search],
	input[type=tel],
	input[type=text],
	input[type=time],
	input[type=url],
	input[type=week],
	textarea {
		background-color: transparent;
		border: 1px solid $c-white;
		border-radius: 0;
		font-size: 12px;
		padding: 0 20px;
		height: auto;
		line-height: 1.3 !important;
		min-height: 1px !important;
		min-height: 41px !important;
		color: $c-white;
		font-weight: 400;
	}

	.gform_footer.gform_footer .gform_button.button,
	.gform_footer.gform_footer button,
	.gform_footer.gform_footer input {
		background-color: $c-white;
		font-size: 10px;
		color: #4B4B4B;
		width: 100%;
		font-weight: 400;
		min-height: 41px;
		transition: all .4s;
		appearance: none;
		display: block;
		line-height: 1.3 !important;
		min-height: 41px !important;
		border: none;
		padding: 0;
		min-width: 1px;

		&:hover {
			background-color: #4B4B4B;
			color: $c-white;
		}
	}

	.gfield_description.gfield_validation_message {
		font-size: 12px;
		line-height: 1.3;
		padding: 10px;
		margin: 3px 0 0 0;
		border: none;
		background-color: transparent;
		padding: 0;
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: 1.5px;
		font-size: 9px;
	}

	.gform_validation_errors {
		display: none;
	}
}

.gform_confirmation_wrapper.form-newsletter-custom-styles {
	.gform_confirmation_message {
		text-align: left;
		font-size: 13px;
	}
}



