/* ------------------------------------------------------------ *\
	Grid
\* ------------------------------------------------------------ */

.grid {
	.grid__row {
		display: flex;
		flex-wrap: wrap;
		margin: -15px;
	}

	.grid__col {
		width: 100%;
		padding: 15px;
	}

	.grid__col--1of2 {
		width: 50%;
	}
}
