/* ------------------------------------------------------------ *\
	Header
\* ------------------------------------------------------------ */

/*body.home {
	.header {
		background-color: transparent;
	}
}

body.home.has-small-header {
	.header {
		background: rgba(#676D71,.75);
	}
}*/

.header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	background: rgba(#676D71,.75);
	transition: all .4s;
	padding-bottom: 32px;

	@include breakpoint-down(large-desktop) {
		padding-bottom: 15px;
	}

	@include breakpoint-down(tablet) {
		padding-bottom: 0;
	}

	.header__bar {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		padding: 15px 38px;
		position: relative;
		z-index: 100;

		@include breakpoint-down(tablet) {
			padding: 15px 0 0;
		}

		@include breakpoint-down(mobile) {
			padding: 5px 0 0;
		}
	}

	.header__content {
		position: relative;
		text-align: center;
		padding: 20px 0;
		transition: all .4s;

		@include breakpoint-down(large-desktop) {
			padding: 20px 0;
		}

		@include breakpoint-down(tablet) {
			padding: 15px 0;
		}
	}
}

/*  header--white-bg  */
.header--white-bg {
	background-color: rgba($c-white, .75);
	.nav-utilities li > a {
		color: #2E2E2D;
	}
}

body.has-small-header {
	.header {
		transform: translateY(-58px);
		padding-bottom: 0;

		@include breakpoint-down(tablet) {
			transform: translateY(-43px);
		}

		@include breakpoint-down(mobile) {
			transform: translateY(-29px);
		}
	}


	.header .header__content {
		padding: 20px 0;

		@include breakpoint-down(mobile) {
			padding: 15px 0;
		}
	}

	.header .btn-menu {
		top: 50%;
	}

	.header .logo {
		max-width: 210px;

		@include breakpoint-down(mobile) {
			max-width: 156px;
		}
	}
}

/* ------------------------------------------------------------ *\
	Admin Bar (if header is fixed)
\* ------------------------------------------------------------ */

/*remove comments for fixed hader*/

body.admin-bar {
	#wpadminbar {
		position: fixed;
	}

	.header {
 		margin-top: 32px;

 		@include breakpoint-down(admin-bar){
 			margin-top: 46px;
 		}
 	}
 }

/* Dark Header */
.darkHeader {
	.header {
		background-color: rgba(255,255,255,0.8);
	}
	.nav-utilities a {
		color: #000;
	}
	.btn-icon {
		background: url(../images/ico-pin-dark.svg) no-repeat center;
		background-size: contain;
		img {
			opacity: 0;
		}
	}

	.btn--icon-search {
		background: url(../images/ico-search-dark.svg) no-repeat center;
		background-size: contain;
	}
	.btn--icon-search + .btn-icon {
		background: url(../images/ico-phone-new-dark.svg) no-repeat center;
		background-size: contain;
	}
	.btn-menu {
		background: url(../images/ico-btn-menu-dark-alt.svg) no-repeat center;
		background-size: contain;
		img {
			opacity: 0;
		}
	}
}
