/* ------------------------------------------------------------ *\
	- Ico Play Video
\* ------------------------------------------------------------ */

.ico-play-video {
	width: 108px;
	height: 108px;
	border-radius: 50%;
	background-color: color(#262626 a(38%));
	display: inline-block;
	vertical-align: top;
	font-size: 0;
	line-height: 0;
	transition: background $t-duration;

	&:before {
		@util center;

		content: ' ';
		width: 32px;
		height: 44px;
		background-image: url(../images/ico-play-video.svg);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 32px 44px;
		margin-left: 2px;
	}
}

@media (-ms-high-contrast: none), (-ms-high-contrast: active), (-moz-touch-enabled: 0), (hover) {
	a:hover .ico-play-video {
		background-color: color(#262626 a(60%));
	}
}
