/* ------------------------------------------------------------ *\
	Icons
\* ------------------------------------------------------------ */

.ico {
	font-size: 0;
	line-height: 0;
	text-indent: -4004px;
	display: inline-block;
	vertical-align: top;
	position: relative;
}
