/* ------------------------------------------------------------ *\
	- Ico Circle text
\* ------------------------------------------------------------ */

.ico-circle-text {
	display: inline-block;
	vertical-align: top;
	width: 152px;
	height: 152px;
	background-color: $c-base;
	transition: background $t-duration;
	border-radius: 50%;
	color: white;
	font-style: normal;
	position: relative;

	@include breakpoint-down(mobile) {
		width: 120px;
		height: 120px;
	}

	span {
		position: absolute;
		left: 10px;
		right: 10px;
		top: 50%;
		transform: translateY(-50%) rotate(-20deg);
		text-align: center;
		font-size: 18px;
		line-height: 1.4444;
		font-weight: 600;
		letter-spacing: 1px;
		text-transform: uppercase;

		@include breakpoint-down(mobile) {
			font-size: 16px;
		}
	}

	& > a {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: 10;
		font-size: 0;
		line-height: 0;
		text-indent: -4000px;
	}

	@media (-ms-high-contrast: none), (-ms-high-contrast: active), (-moz-touch-enabled: 0), (hover) {
		&:hover {
			background-color: $c-dark-blue;
		}
	}
}

/* ------------------------------------------------------------ *\
	-- Right
\* ------------------------------------------------------------ */

.ico-circle-text--right {
	span {
		transform: translateY(-50%) rotate(20deg);
	}
}
