/* ------------------------------------------------------------ *\
	Image Fit
\* ------------------------------------------------------------ */

.image-fit {
	position: relative;
	background-size: cover;
	background-position: center;

	> img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.image-fit--contain {
	background-size: contain;

	> img {
		object-fit: contain;
	}
}
