/* ------------------------------------------------------------ *\
	- List About
\* ------------------------------------------------------------ */

.list-about {
	.list__body {
		& > ul {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			margin: -30px -20px;
			list-style: none;

			@include breakpoint-down(mobile) {
				margin: -15px;
			}
		}

		& > ul > li {
			width: calc(100% / 3);
			padding: 30px 20px;

			@include breakpoint-down(mobile) {
				width: 100%;
				padding: 15px;
			}
		}
	}

	.list__image {
		width: 100%;
		min-height: 129px;
		max-height: 129px;
		max-width: 129px;
		margin-bottom: 34px;
		margin-left: auto;
		margin-right: auto;

		@include breakpoint-down(mobile) {
			min-height: 103px;
			max-height: 103px;
			max-width: 103px;
			margin-bottom: 27px;
		}
	}

	.list__content {
		width: 100%;
		max-width: 235px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;

		h3 {
			font-family: $ff-sans-serif;
			font-weight: 700;
			margin-bottom: 0;
		}

		h4 {
			font-size: 28px;
			line-height: 1.10;
			font-weight: 500;
			margin-bottom: 14px;
			color: $c-dark-blue;
			text-transform: none;

			@include breakpoint-down(mobile) {
				font-size: 22px;
			}
		}

		p {
			font-size: 14px;
			line-height: 1.2857;
		}
	}

	.list__foot {
		text-align: center;
		width: 100%;
		max-width: 810px;
		margin-left: auto;
		margin-right: auto;

		p {
			font-size: 18px;
			line-height: 1.3333;
			font-weight: 600;
			color: $c-dark-blue;

			@include breakpoint-down(mobile) {
				font-size: 16px;
			}
		}

		&:not(:first-child) {
			margin-top: 100px;
		}
	}
}
