/* ------------------------------------------------------------ *\
	- List Content
\* ------------------------------------------------------------ */

.list-content {
	width: 100%;

	& > ul {
		list-style: none;
		position: relative;
		margin: -21px;
		display: flex;
		flex-wrap: wrap;
	}

	& > ul > li {
		padding: 21px;
		width: calc(100% / 3);

		@include breakpoint-down(tablet) {
			width: 50%;
			flex-grow: 1;
		}

		@include breakpoint-down(mobile) {
			width: 100%;
		}
	}

	blockquote {
		padding-top: 48px;
		position: relative;
		font-weight: 500;

		@include breakpoint-down(mobile) {
			padding-top: 30px;
		}

		&:before {
			content: ' ';
			position: absolute;
			left: 0;
			top: 0;
			width: 112px;
			height: 3px;
			background-color: $c-dark-blue;
		}

		h6 {
			font-size: 26px;
			line-height: 1.2308;
			color: $c-dark-blue;
			font-family: $ff-sans-serif;
			font-weight: 600;
			margin-bottom: 25px;

			@include breakpoint-down(tablet) {
				font-size: 20px;
			}
		}

		& > *:last-child {
			margin-bottom: 0;
		}

		ul {
			list-style: none;
			margin-left: 0;
			font-weight: 400;
		}

		li {
			position: relative;
			padding-left: 15px;

			&:before {
				content: ' ';
				width: 4px;
				height: 4px;
				border-radius: 50%;
				background-color: $c-dark;
				position: absolute;
				left: 0;
				top: 12px;

				@include breakpoint-down(tablet) {
					top: 9px;
				}
			}
		}

		ul,
		p {
			font-size: 18px;
			line-height: 1.5556;
			margin-bottom: 0;

			@include breakpoint-down(tablet) {
				font-size: 16px;
			}
		}
	}
}
