/* ------------------------------------------------------------ *\
	Logo
\* ------------------------------------------------------------ */

.logo {
	font-size: 0;
	line-height: 0;
	text-indent: -4004px;
	position: relative;
	text-decoration: none;
	width: 100%;
	display: block;
	max-width: 210px;
	margin: 0 auto;
	transition: all .4s;

	@include breakpoint-down(tablet) {
		max-width: 210px;
	}

	@include breakpoint-down(mobile) {
		max-width: 156px;
	}

	> img {
		display: block;
		width: 100%;
	}
}
