/* ------------------------------------------------------------ *\
	Main
\* ------------------------------------------------------------ */

.main {
	width: 100%;
	flex-grow: 1;
	flex-shrink: 0;

	> *:not([class]):not(div):not(section):not(aside) {
		max-width: 1160px;
		padding-right: 35px;
		padding-left: 35px;
		margin-left: auto;
		margin-right: auto;

		@include breakpoint-down(mobile) {
			padding: 0 22px;
		}

	}

	> p:not([class]),
	> ol:not([class]),
	> ul:not([class]) {
		font-size: 18px;
		line-height: 1.5556;

		@include breakpoint-down(mobile) {
			font-size: 16px;
		}

		&:lsat-child {
			padding-bottom: 0;
		}
	}

	> ol:not([class]),
	> ul:not([class]) {
		list-style-position: inside;
	}

	> ul:not([class]) {
		list-style: none;
		margin-bottom: clamp(35px, 3.3854vw, 65px);
	}

	> ul:not([class]) li {
		position: relative;
		padding-left: clamp(15px, 1.3542vw, 26px);

		&:after {
			content: '';
			width: 3px;
			height: 3px;
			position: absolute;
			top: 14px;
			left: 0;
			background-color: #3B3B3B;
			border-radius: 50%;
		}
	}
}

body.error404 {
	.main {
		display: flex;
		flex-wrap: wrap;

		> section {
			width: 100%;
		}
	}
}
