.members {
	display: flex;
	flex-wrap: wrap;
	margin: -35px -8px;

	@include breakpoint-down(tablet) {
		margin: -20px -8px;
	}

	@include breakpoint-down(mobile) {
		margin: -10px -6px;
	}

	.member {
		width: 25%;
		padding: 35px 8px;

		@include breakpoint-down(tablet) {
			width: 33.33%;
			padding: 20px 8px;
		}

		@include breakpoint-down(mobile) {
			width: 50%;
			padding: 10px 6px;
		}
	}

	.member .member__image {
		padding-bottom: 124.4%;
		margin-bottom: clamp(8px, 1.5104vw, 29px);
	}

	.member .member__name {
		font-size: clamp(18px, 1.0938vw, 21px);
		color: #2E2E2D;
		font-weight: 500;
	}
}
