.members-type-2 {
	display: flex;
	flex-wrap: wrap;
	margin: -35px -8px;

	@include breakpoint-down(mobile) {
		margin: -15px -8px;
	}

	.member {
		width: 33.33%;
		padding: 35px 8px;

		@include breakpoint-down(tablet) {
			width: 50%;
		}

		@include breakpoint-down(mobile) {
			padding: 15px 8px;
		}

		@include breakpoint-down(mobile-medium) {
			width: 100%;
		}
	}

  	.member > a {
	  text-decoration: none;
	}

	.member .member__image {
		margin-bottom: clamp(25px, 2.2396vw, 43px);
		display: flex;
		align-items: flex-end;
		text-align: center;
		justify-content: center;

		@include breakpoint-down(mobile-medium) {
			height: auto !important;
		}
	}

	.member .member__city {
		font-size: 12px;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		font-weight: 600;
		color: #676D71;
		margin-bottom: 12px;

		@include breakpoint-down(mobile) {
			margin-bottom: 6px;
		}

		> * {
			color: inherit;
		}
	}

	.member .member__name {
		font-size: clamp(18px, 1.0938vw, 21px);
		color: #2E2E2D;
		font-weight: 500;

		> * {
			color: inherit;
		}
	}

	.member .member__pos {
		font-size: clamp(16px, 1.0938vw, 18px);
		line-height: 1.1667;
		color: #003672;
		font-weight: 500;
		margin-top: 12px;

		@include breakpoint-down(mobile) {
			margin-top: 6px;
		}

		> * {
			color: inherit;
		}
	}

	.member .member__inner > a {
		text-decoration: none;
		display: block;
		transition: all .4s;

		&:hover {
			opacity: .8;
		}
	}
}
