.nav-utilities {
	ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0 -40px;

		@include breakpoint-down(tablet) {
			margin: 0 -20px;
		}

		@include breakpoint-down(mobile) {
			display: none;
		}
	}

	li {
		padding: 0 40px;

		@include breakpoint-down(tablet) {
			padding: 0 20px;
		}

		&:first-child {
			padding-left: 88px;

			@include breakpoint-down(tablet) {
				padding-left: 40px;
			}

		}

		&:last-child {
			padding-right: 88px;

			@include breakpoint-down(tablet) {
				padding-right: 40px;
			}


		}
	}

	a {
		font-family: $ff-sans-serif-alt;
		text-transform: uppercase;
		font-weight: 600;
		font-size: 14px;
		color: $c-white;
		display: inline-block;
		text-decoration: none;
		letter-spacing: 0.1em;
		transition: opacity .4s;

		@include breakpoint-down(tablet) {
			font-size: 12px;
		}

		&:hover {
			opacity: .7;
		}
	}
}

/* ------------------------------------------------------------ *\
	-- Dropdown
\* ------------------------------------------------------------ */

.nav-utilities--dropdown {
	& > ul {
		align-items: center;
	}

	& > ul > li {
		position: relative;

		& > a {
			display: flex;
		}

		&.menu-item-has-children:hover > ul {
			opacity: 1;
			visibility: visible;
		}

		&.menu-item-has-children:hover > a:after {
			opacity: 0;
		}

		&.menu-item-has-children > a {
			display: flex;
			align-items: center;
			gap: 8px;
			position: relative;

			&:before {
				content: ' ';
				pointer-events: auto;
				position: absolute;
				left: 0;
				right: 0;
				top: 100%;
				height: 12px;
			}
		}

		&.menu-item-has-children > a:after {
			content: ' ';
			width: 0;
			height: 0;
			border-left: 6px solid transparent;
			border-right: 6px solid transparent;
			border-top: 6px solid white;
			transition: opacity $t-duration;

			header.header--white-bg & {
				border-top-color: #2e2e2d;
			}
		}
	}

	& > ul > li > ul {
		position: absolute;
		top: calc(100% + 10px);
		left: calc(50% + 20px);
		transform: translateX(-50%);
		box-shadow: 0 3px 6px #2e2e2d;
		background-color: white;
		padding: 22px;
		color: $c-dark;
		min-width: 250px;
		margin: 0;
		display: block;
		opacity: 0;
		visibility: hidden;
		transition: opacity $t-duration, visibility $t-duration;
	}

	& > ul > li > ul ul {
		margin: 0;
		display: block;
	}

	& > ul > li > ul li {
		padding: 0 !important;
	}

	& > ul > li > ul a {
		color: #2e2e2d;
		font-family: $ff-sans-serif;
		letter-spacing: 0;
		transition: color $t-duration, background $t-duration, border $t-duration;

		@media (-ms-high-contrast: none), (-ms-high-contrast: active), (-moz-touch-enabled: 0), (hover) {
			&:hover {
				opacity: 1;
			}
		}
	}

	& > ul > li > ul > li:first-child:not(:last-child) > a {
		font-size: 15px;
		line-height: 1.2;
		text-transform: uppercase;
		font-weight: 500;
		margin-bottom: 19px;

		@media (-ms-high-contrast: none), (-ms-high-contrast: active), (-moz-touch-enabled: 0), (hover) {
			&:hover {
				color: $c-dark-blue;
			}
		}
	}

	& > ul > li > ul > li:last-child:not(:first-child) > a {
		display: block;
		text-align: center;
		border: 1px solid #585858;
		padding: 9px 12px;
		margin-top: 34px;
		font-weight: 600;
		font-size: 12px;
		line-height: 1.3333;
		width: 100%;
		letter-spacing: 0.75px;

		@media (-ms-high-contrast: none), (-ms-high-contrast: active), (-moz-touch-enabled: 0), (hover) {
			&:hover {
				background-color: #585858;
				color: white;
			}
		}
	}

	& > ul > li > ul ul {
		display: block;
	}

	& > ul > li > ul ul li:not(:last-child) {
		margin-bottom: 9px;
	}

	& > ul > li > ul ul li.current-menu-item > a {
		text-decoration: underline;
	}

	& > ul > li > ul ul li a {
		display: block;
		text-align: left;
		font-size: 12px;
		line-height: 1.25;
		text-transform: none;
		font-weight: 500;
		letter-spacing: 0;

		@media (-ms-high-contrast: none), (-ms-high-contrast: active), (-moz-touch-enabled: 0), (hover) {
			&:hover {
				text-decoration: underline;
				opacity: 1;
			}
		}
	}
}


.header--white-bg .nav-utilities--dropdown {
  & > ul > li {
	&.menu-item-has-children > a:after {
	  border-top: 6px solid black;
	}
  }
}
