/* ------------------------------------------------------------ *\
	Nav
\* ------------------------------------------------------------ */

.nav {
	margin-bottom: 35px;
	margin-top: 48px;

	@include breakpoint-down(tablet) {
		margin: 30px 0;
	}

	@include breakpoint-down(mobile) {
		text-align: center;
	}

	ul {
		list-style: none;
		font-size: 16px;
		display: inline-flex;
		flex-flow: column;
	}

	.menu > li {
		margin-bottom: 13px;

		@include breakpoint-down(mobile) {
			margin-bottom: 10px;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	.menu > li.current-menu-item > a {
		color: $c-white;
		text-shadow: 1px 0 0 currentColor;
	}

	.menu > li.menu-item-has-children {
		position: relative;

		> a {
			&:before {
				content: '';
				width: 49vw;
				height: 15vh;
				position: absolute;
				top: 0;
				right: -49vw;
				display: block;
				opacity: 0;
				pointer-events: none;

				@include breakpoint-down(mobile) {
					display: none;
				}

			}
		}

		@media(min-width: 767px){
			&:hover {
				> a {
					color: $c-white;
					text-shadow: 1px 0 0 currentColor;

					@include breakpoint-down(tablet) {
						text-shadow: none;
					}

					&:after {
						opacity: 1;
						right: -52px;

						@include breakpoint-down(tablet) {
							right: -32px;
						}
					}

					&:before {
						pointer-events: auto;
					}
				}

				.sub-menu {
					opacity: 1;
					pointer-events: auto;
					left: calc(100% + 88px);

					@include breakpoint-down(tablet) {
						left: calc(100% + 46px);
					}
				}
			}
		}
	}

	.menu > li.menu-item-has-children > a {
		position: relative;

		&:after {
			content: '';
			background: url(../images/ico-arrow-right-white.svg) no-repeat 0 0;
			background-size: contain;
			width: 16px;
			height: 16px;
			position: absolute;
			top: 50%;
			right: -32px;
			transform: translateY(-50%);
			transition: all .4s;
			opacity: 0;

			@include breakpoint-down(mobile) {
				transform: translateY(0);
				opacity: 1;
				display: inline-block;
				width: 14px;
				height: 14px;
				margin-left: 5px;
				position: relative;
				top: 2px;
				right: 0 !important;
			}
		}
	}

	.menu > li.menu-item-has-children.js-show > a {
		&:after {
			transform: rotate(90deg);
		}
	}

	.sub-menu {
		position: absolute;
		top: 0;
		left: calc(100% + 48px);
		text-align: left;
		z-index: 10;
		opacity: 0;
		pointer-events: none;
		transition: all .4s;

		@include breakpoint-down(mobile) {
			position: static;
			text-align: center;
			pointer-events: auto;
			opacity: 1;
			margin-top: 15px;
			display: none;
			transition: none;
		}
	}

	.sub-menu li {
		padding-bottom: 14px;
	}

	.sub-menu a {
		text-decoration: none;
		font-size: 16px;
		font-weight: 500;
		color: #ACACAC;
		white-space: nowrap;
		transition: all .4s;

		&:hover {
			color: $c-white;
		}
	}

	.menu > li > a {
		text-decoration: none;
		text-transform: uppercase;
		font-size: 16px;
		letter-spacing: 2.4px;
		font-family: $ff-sans-serif-alt;
		font-weight: 600;
		color: #7E7E7E;
		transition: all .4s;
		display: block;

		&:hover {
			color: $c-white;
			text-shadow: 1px 0 0 currentColor;

			@include breakpoint-down(tablet) {
				text-shadow: none;
			}
		}
	}
}
