.nav-categories {
	> .menu {
		display: flex;
		flex-wrap: wrap;
		margin: -15px;

		@include breakpoint-down(mobile) {
			margin: 0;
		}
	}

	> .menu > li {
		width: 25%;
		padding: 15px;

		@include breakpoint-down(tablet) {
			width: 50%;
		}

		@include breakpoint-down(mobile) {
			width: 100% !important;
			padding: 0;
			margin-bottom: 30px;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	> .menu > li > a {
		text-transform: uppercase;
		font-weight: 600;
		font-family: $ff-sans-serif-alt;
		text-decoration: none;
		display: inline-block;
		color: $c-white;
		font-size: 20px;
		letter-spacing: .1em;
		margin-bottom: 30px;
		transition: all .4s;
		pointer-events: none;

		@include breakpoint-down(tablet) {
			font-size: 18px;
			margin-bottom: 25px;
		}

		@include breakpoint-down(mobile) {
			font-size: 16px;
			margin-bottom: 15px;
		}

		&:hover {
			color: $c-base;
		}
	}

	> .menu > li > .sub-menu > li {
		margin-bottom: 8px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	> .menu > li > .sub-menu li.current-menu-item a {
		color: $c-white;
		text-decoration: underline;
	}

	> .menu > li > .sub-menu a {
		display: inline-block;
		text-decoration: none;
		font-size: 17px;
		line-height: 1.0588;
		font-weight: 500;
		color: #D1D1D1;
		transition: all .4s;

		@include breakpoint-down(tablet) {
			font-size: 16px;
			line-height: 1.3;
		}

		@include breakpoint-down(mobile) {
			font-size: 14px;
		}

		&:hover {
			color: $c-white;
			text-decoration: underline;
		}
	}

	> .menu > li > .sub-menu li.menu-item-has-children > a {
		&:after {
			content: '+';
			display: inline-block;
			margin-left: 3px;
			position: relative;
			top: 1px;
		}
	}

	> .menu > li > .sub-menu li.js-show > a {
		color: $c-white;
		text-decoration: underline;

		&:after {
			content: '-';
		}
	}

	> .menu > li > .sub-menu .sub-menu {
		padding: 13px 13px 7px 13px;
		display: none;
	}

	> .menu > li > .sub-menu .sub-menu li {
		line-height: 1;
	}

	> .menu > li > .sub-menu .sub-menu li.current-menu-item a {
		color: #D1D1D1;
	}

	> .menu > li > .sub-menu .sub-menu  a {
		font-size: 15px;

		&:hover {
			color: #D1D1D1;
		}
	}
}

.nav__categories {
	padding-bottom: 50px;
	@include breakpoint-down(mobile) {
		padding-bottom: 30px;
	}
	ul {
		list-style: none;
		@include breakpoint-down(mobile) {
			text-align: center;
		}
	}
	ul li {
		display: inline-block;
		vertical-align: middle;
		margin-right: 78px;
		@include breakpoint-down(small-desktop) {
			margin-right: 50px;
		}
		@include breakpoint-down(tablet) {
			margin-right: 30px;
		}
		@include breakpoint-down(mobile) {
			margin: 0 7px 5px;
		}
	}
	ul li.current a {
		font-weight: 700;
		color: #003672;
	}
	ul li a {
		font-size: 16px;
		line-height: 2;
		color: #7E7E7E;
		font-weight: 500;
		text-transform: uppercase;
		text-decoration: none;
		transition: all .6s;
		@include breakpoint-down(mobile) {
			font-size: 14px;
		}
		&:hover {
			color: #003672;
		}
	}
}