.nav-tabs {
	font-family: $ff-serif;
	font-size: 60px;
	line-height: 1.1667;
	color: #B7B7B7;

	@include breakpoint-down(tablet) {
		font-size: 50px;
	}

	@include breakpoint-down(mobile) {
		font-size: 38px;
	  	text-align: center;
	}

	li {
		margin-bottom: 20px;

		@include breakpoint-down(tablet) {
			margin-bottom: 10px;
		}
	}

	a {
		text-decoration: none;
		display: inline-block;
		transition: color .4s;
		color: #B7B7B7;

		@media(min-width: 1025px){
			&:hover {
				color: $c-white;
			}
		}
	}
}

/* ------------------------------------------------------------ *\
	-- Dropdown
\* ------------------------------------------------------------ */

.nav-tabs--dropdown {
	& > ul > li.is-current > ul {
		opacity: 1;
		visibility: visible;
		max-height: 9999px;
		padding-bottom: 22px;

		@include breakpoint-down(mobile) {
			padding-top: 28px;
			margin-bottom: 40px;
		}
	}

	& > ul > li > ul {
		position: relative;
		overflow: hidden;
		max-height: 0;
		color: $c-dark;
		margin: 0;
		display: block;
		opacity: 0;
		visibility: hidden;
		transition: opacity $t-duration, visibility $t-duration, padding $t-duration, margin $t-duration;
	}

	& > ul > li > ul ul {
		margin: 0;
		display: block !important;
	}

	& > ul > li > ul li {
		padding: 0 !important;
		margin-bottom: 0;
	}

	& > ul > li > ul a {
		font-family: $ff-sans-serif;
		letter-spacing: 0;
		transition: color $t-duration, background $t-duration, border $t-duration;

		@media (-ms-high-contrast: none), (-ms-high-contrast: active), (-moz-touch-enabled: 0), (hover) {
			&:hover {
				opacity: 1;
			}
		}
	}

	& > ul > li > ul > li:first-child:not(:last-child) > a {
		font-size: 15px;
		line-height: 1.2;
		text-transform: uppercase;
		font-weight: 500;
		margin-bottom: 25px;
		letter-spacing: 1px;

		@include breakpoint-down(mobile) {
			line-height: 1.4667;
			margin-bottom: 29px;
			letter-spacing: 0.8px;
		}
	}

	& > ul > li > ul > li:last-child:not(:first-child) > a {
		display: inline-block;
		text-align: center;
		border: 1px solid #585858;
		padding: 9px 12px;
		margin-top: 20px;
		font-weight: 600;
		font-size: 12px;
		line-height: 1.3333;
		width: auto;
		letter-spacing: 0.75px;

		@include breakpoint-down(mobile) {
			text-transform: uppercase;
			margin-top: 32px;
			padding: 10px 22px;
		}

		@media (-ms-high-contrast: none), (-ms-high-contrast: active), (-moz-touch-enabled: 0), (hover) {
			&:hover {
				background-color: #585858;
				color: white;
			}
		}
	}

	& > ul > li > ul ul {
		display: block;
	}

	& > ul > li > ul ul li:not(:last-child) {
		margin-bottom: 9px;

		@include breakpoint-down(mobile) {
			margin-bottom: 11px;
		}
	}

	& > ul > li > ul ul li.current-menu-item > a {
		text-decoration: underline;
		color: white !important;
	}

	& > ul > li > ul ul li a {
		display: block;
		text-align: left;
		font-size: 12px;
		line-height: 1.25;
		text-transform: none;
		font-weight: 500;
		letter-spacing: 0;
		text-align: right;

		@include breakpoint-down(mobile) {
			text-align: center;
			font-size: 15px;
		}

		@media (-ms-high-contrast: none), (-ms-high-contrast: active), (-moz-touch-enabled: 0), (hover) {
			&:hover {
				text-decoration: underline;
				color: white !important;
				opacity: 1;
			}
		}
	}
}
