/* ------------------------------------------------------------ *\
	- Post
\* ------------------------------------------------------------ */

.post {
	.post__entry {
		@util clearfix;

		h3 {
			margin-bottom: 47px;

			@include breakpoint-down(tablet) {
				margin-bottom: 37px;
			}

			@include breakpoint-down(mobile) {
				margin-bottom: 20px;
			}
		}

		p {
			font-size: 24px;
			line-height: 1.50;

			@include breakpoint-down(tablet) {
				font-size: 19px;
			}

			@include breakpoint-down(mobile) {
				font-size: 16px;
			}
		}

		img.alignfull {
			margin-left: -141px;
			min-width: calc(100% + 282px);
			max-width: calc(100% + 282px);

			@include breakpoint-down(tablet) {
				margin-left: -35px;
				min-width: calc(100% + 70px);
				max-width: 100%;
			}
		}

		ul:not([class]) {
			margin-left: 0;
			font-size: 24px;
			line-height: 1.60;
			margin-bottom: 100px;
			list-style: none;

			@include breakpoint-down(tablet) {
				font-size: 19px;
			}

			@include breakpoint-down(mobile) {
				font-size: 16px;
				margin-bottom: 45px;
			}

			li:not(:last-child) {
				margin-bottom: 12px;

				@include breakpoint-down(tablet) {
					margin-bottom: 9px;
				}

				@include breakpoint-down(mobile) {
					margin-bottom: 6px;
				}
			}

			li {
				position: relative;
				padding-left: 20px;

				@include breakpoint-down(mobile) {
					padding-left: 16px;
				}

				&:before {
					content: ' ';
					width: 4px;
					height: 4px;
					border-radius: 50%;
					background-color: $c-dark;
					position: absolute;
					left: 0;
					top: 15px;

					@include breakpoint-down(tablet) {
						top: 12px;
					}

					@include breakpoint-down(mobile) {
						top: 10px;
					}
				}
			}
		}

		& > *:last-child {
			margin-bottom: 0;
		}
	}
}
