/* ------------------------------------------------------------ *\
	- Section Slider before After
\* ------------------------------------------------------------ */

.section-slider-before-after {
	margin: 180px 0 245px;

	@include breakpoint-down(mobile) {
		margin: 45px 0;
	}

	.section__head {
		text-align: center;
		margin-bottom: 102px;

		@include breakpoint-down(mobile) {
			margin-bottom: 45px;
		}

		h3 {
			margin-bottom: 44px;

			@include breakpoint-down(mobile) {
				margin-bottom: 30px;
			}
		}

		p {
			width: 100%;
			max-width: 824px;
			margin-left: auto;
			margin-right: auto;
		}

		& > *:last-child {
			margin-bottom: 0;
		}
	}
}
