/* ------------------------------------------------------------ *\
	- Section About
\* ------------------------------------------------------------ */

.section-about {
	padding: 186px 0;
	background-color: #e6e6e6;
	position: relative;
	z-index: 100;
	margin-bottom: 426px;

	@include breakpoint-down(tablet) {
		padding: 120px 0;
	}

	@include breakpoint-down(mobile) {
		padding: 45px 0;
		margin-bottom: 100px;
	}

	.section__head {
		margin-bottom: 100px;

		h5 {
			font-size: 36px;
			line-height: 1.5278;
			text-transform: uppercase;
			font-family: $ff-sans-serif;
			font-weight: 500;
			color: $c-dark-blue;
			margin-bottom: 40px;

			@include breakpoint-down(tablet) {
				font-size: 28px;
			}

			@include breakpoint-down(mobile) {
				font-size: 22px;
			}
		}

		p {
			font-size: 18px;
			line-height: 1.5556;

			@include breakpoint-down(tablet) {
				font-size: 16px;
			}
		}

		p strong {
			color: $c-dark-blue;
			font-weight: 600;
		}

		& > *:last-child {
			margin-bottom: 0;
		}

		ul:not([class]),
		ol:not([class]) {
			margin-left: 24px;
		}
	}

	.section__video {
		margin-bottom: calc(-186px - 226px);

		@include breakpoint-down(mobile) {
			margin-bottom: -100px;
		}

		&:not(:first-child) {
			margin-top: 198px;

			@include breakpoint-down(mobile) {
				margin-top: 45px;
			}
		}
	}
}
