/* ------------------------------------------------------------ *\
	- Section Intro
\* ------------------------------------------------------------ */

.section-intro {
	background-color: $c-dark-blue;
	color: white;
	min-height: 100vh;
	display: flex;
	align-items: flex-end;
	flex-direction: column;
	position: relative;

	body.admin-bar & {
		min-height: calc(100vh - 32px);

		@include breakpoint-down(admin-bar) {
			min-height: calc(100vh - 46px);
		}
	}

	.shell {
		padding-top: 200px;
		padding-bottom: 130px;
		position: relative;

		@include breakpoint-down(mobile) {
			padding-bottom: 100px;
		}
	}

	.ico-circle-text {
		position: absolute;
		left: 91px;
		bottom: 0;
		transform: translateY(50%);
		z-index: 10;

		@include breakpoint-down(mobile) {
			left: 45px;
		}
	}

	.section__image {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		pointer-events: none;

		span {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
		}
	}

	.section__body {
		margin-top: auto;
		width: 100%;

		h1 {
			font-size: 90px;
			line-height: 1.0556;
			font-family: $ff-sans-serif;
			font-weight: 600;
			margin-bottom: 42px;
			color: white;

			@include breakpoint-down(small-desktop) {
				font-size: 72px;
				margin-bottom: 33px;
			}

			@include breakpoint-down(tablet) {
				font-size: 57px;
				margin-bottom: 26px;
			}

			@include breakpoint-down(mobile) {
				word-break: break-all;
				font-size: 45px;
				margin-bottom: 20px;
			}
		}

		h6 {
			font-size: 42px;
			line-height: 1.10;
			letter-spacing: 2.0px;
			font-family: $ff-sans-serif;
			font-weight: 600;
			color: white;
			text-transform: uppercase;

			@include breakpoint-down(small-desktop) {
				font-size: 33px;
			}

			@include breakpoint-down(tablet) {
				font-size: 26px;
			}

			@include breakpoint-down(mobile) {
				font-size: 20px;
			}
		}

		& > *:last-child {
			margin-bottom: 0;
		}
	}
}
