/* ------------------------------------------------------------ *\
	- Section Content
\* ------------------------------------------------------------ */

.section-content {
	background-color: #7e7e7e;
	color: white;

	.shell {
		padding-top: 85px;
		padding-bottom: 85px;

		@include breakpoint-down(mobile) {
			padding-top: 45px;
			padding-bottom: 80px;
		}
	}

	.ico-circle-text {
		position: absolute;
		right: 50px;
		bottom: 0;
		transform: translateY(50%);
		z-index: 10;
	}

	.block-video {
		max-width: 674px;

		@include breakpoint-down(small-desktop) {
			max-width: 500px;
		}

		@include breakpoint-down(tablet) {
			max-width: 100%;
		}
	}

	h3 {
		margin-bottom: 13px;
		color: white;
	}

	h5 {
		font-size: 36px;
		line-height: 1.5278;
		font-weight: 500;
		color: white;
		margin-bottom: 41px;

		@include breakpoint-down(tablet) {
			font-size: 28px;
		}

		@include breakpoint-down(mobile) {
			font-size: 22px;
		}
	}

	p,
	ul,
	ol {
		font-size: 18px;
		line-height: 1.5556;
		color: white;

		@include breakpoint-down(tablet) {
			font-size: 14px;
		}
	}

	ul:not([class]),
	ol:not([class]) {
		float: right;
		width: calc(100% - ( 674px + 20px ));
		padding-left: 20px;

		@include breakpoint-down(small-desktop) {
			width: calc(100% - (500px + 20px));
		}

		@include breakpoint-down(tablet) {
			width: 100%;
			float: none;
		}
	}

	.section__body {
		@util clearfix;

		& > *:last-child {
			margin-bottom: 0;
		}
	}
}
