/* ------------------------------------------------------------ *\
	Section Default
\* ------------------------------------------------------------ */

.section-default {
	margin: 50px 0;

	.section__content{
		margin-bottom: 40px;

		&:last-child{
			margin-bottom: 0;
		}
	}

	.section__title {
		margin-bottom: 20px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

/* Section Default 404 */

.section-default--404 {
	display: flex;
	width: 100%;
	text-align: center;

	.section__shell {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.section__btn {
		margin-top: 20px;
	}
}
