.section-category {
	background-color: #676D71;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 105;
	overflow: auto;
	opacity: 0;
	pointer-events: none;
	transition: all .4s;

	.section__bar {
		text-align: center;
		position: relative;
	  	padding-top: 78px;

		@include breakpoint-down(tablet) {
			padding: 59px 0;
		}

		@include breakpoint-down(mobile) {
		  	padding: 45px 0 39px 0;
		}
	}

	.btn-close-menu {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 0;

		@include breakpoint-down(tablet) {
			right: 3px;
			top: 51%;
		}

		@include breakpoint-down(mobile) {
			top: 54%;
		}
	}

	.logo {
		max-width: 210px;

		@include breakpoint-down(mobile) {
			max-width: 156px;
		}
	}

	.section__inner {
		padding-bottom: 45px;
		padding-left: 35px;
		padding-right: 35px;

		@include breakpoint-down(tablet) {
			padding-left: 0;
			padding-right: 0;
		}

	}

	.section__body {
		color: $c-white;
		display: flex;
		flex-wrap: wrap;
		padding-top: 90px;

		@include breakpoint-down(small-desktop) {
			padding-right: 0;
			padding-top: 30px;
		}

		@include breakpoint-down(tablet) {
			padding-top: 0;
		}
	}

	.section__body h2 {
		font-family: $ff-serif;
		font-size: 80px;
		font-weight: 400;
		margin-bottom: 65px;
		color: $c-white;

		@include breakpoint-down(small-desktop) {
			font-size: 68px;
			margin-bottom: 45px;
		}

		@include breakpoint-down(tablet) {
			font-size: 60px;
			margin-bottom: 30px;
		}

		@include breakpoint-down(mobile) {
			font-size: 40px;
			line-height: 1.2;
			margin-bottom: 20px;
		}
	}

	.section__body p {
		font-size: 18px;
		line-height: 1.3889;
		font-weight: 500;
		color: $c-white;

		@include breakpoint-down(tablet) {
			font-size: 16px;
		}

		@include breakpoint-down(mobile) {
			font-size: 15px;
		}
	}

	.section__body .btn-with-border {
		min-width: 268px;
		border: 1px solid $c-white;
		color: $c-white;
		font-size: 14px;
		letter-spacing: .1em;
		padding: 16px;
		margin-top: 40px;

		@include breakpoint-down(small-desktop) {
			margin-top: 20px;
		}

		@include breakpoint-down(tablet) {
			min-width: 240px;
		}

		@include breakpoint-down(mobile) {
			min-width: 220px;
			margin-top: 5px;
		}

		&:hover {
			background-color: $c-white;
			color: #676D71;
		}
	}

	.section__content {
		width: calc(100% - 147px);
		padding-top: 23px;

		@include breakpoint-down(mobile) {
			width: 100%;
			padding-top: 10px;
		}
	}

	.section__actions {
		width: 147px;

		@include breakpoint-down(mobile) {
			width: 100%;
			order: -2;
		}
	}

	.section__nav {
		margin-top: 74px;

		@include breakpoint-down(small-desktop) {
			margin-top: 50px;
			padding-right: 50px;
		}

		@include breakpoint-down(tablet) {
			padding-right: 0;
		}

		@include breakpoint-down(mobile) {
			margin-top: 30px;
		}
	}

	.mCSB_inside > .mCSB_container {
		margin: 0;
	}

	.mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
		background-color: $c-base;
	}
}

.section-category.is-current {
	opacity: 1;
	pointer-events: auto;
}
body.has-small-header {
	.section-category {
		.section__bar {
			padding: 19px 0;

			@include breakpoint-down(mobile) {
				padding: 16px 0;
			}
		}
	}
}
