.section-search-overlay {

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 101;
	overflow: auto;
	opacity: 0;
	pointer-events: none;
	transition: all .4s;

	.section__overlay {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #2E2E2D;
		opacity: .85;
	}

	.section__inner {
		padding: 0 35px;

		@include breakpoint-down(tablet) {
			padding: 0;
		}
	}

	.section__bar {
		text-align: right;
		position: relative;
		padding: 52px 0;

		@include breakpoint-down(tablet) {
			padding: 59px 0;
		}

		@include breakpoint-down(mobile) {
			padding: 39px 0;
		}
	}

	.btn-close-menu {
		margin-left: auto;
	}

	.search-form {
		max-width: 479px;
		margin: 0 auto;
		margin-bottom: clamp(35px, 4.4792vw, 86px);

		@include breakpoint-down(tablet) {
			margin-bottom: 30px;
		}
	}

	.search-form label {
		display: block;
	}

	.search-form .search__field {
		background-color: transparent;
		border: none;
		border-bottom: 1px solid $c-white;
		color: $c-white;
		padding: 12px 30px 12px 0;
		font-size: 20px;
		font-weight: 300;
		border-radius: 0;

		&::-webkit-input-placeholder { color: rgba($c-white, .58); }
		&::-moz-placeholder { color: rgba($c-white, .58); }
		&:-moz-placeholder { color: rgba($c-white, .58); }
		&:-ms-input-placeholder { color: rgba($c-white, .58); }

		&:focus {
			color: $c-white;
		}

		@include breakpoint-down(mobile) {
			font-size: 16px;
			padding: 10px 20px 10px 0;
		}
	}

	.search-form .search__btn {
		width: 21px;
		height: 21px;
		border-radius: 0;
		appearance: none;
		border: none;
		background: url(../images/ico-search-white-large.svg) no-repeat 0 0;
		background-size: contain;
		font-size: 0;
		line-height: 0;
		text-indent: -4004px;
		position: absolute;
		bottom: 15px;
		right: 0;
		transition: opacity .4s;

		@include breakpoint-down(mobile) {
			width: 18px;
			height: 18px;
			bottom: 11px;
		}

		&:hover {
			opacity: .7;
		}
	}

	.section__popular-terms {
		text-align: center;
		color: $c-white;

		* {
			color: inherit;
		}
	}

	.section__popular-terms h5 {
		font-size: 18px;
		font-weight: 500;
		line-height: 1.3889;
		font-family: $ff-sans-serif;
		text-transform: none;
		margin-bottom: clamp(15px, 2vw, 25px);

		@include breakpoint-down(mobile) {
		 	font-size: 16px;
		 }
	}

	.section__popular-terms ul {
		list-style: none;
		font-size: clamp(26px, 4vw, 45px);
		font-family: $ff-serif;
		font-weight: 400;
	}

	.section__popular-terms ul li {
		padding-bottom: 1px;
	}

	.section__popular-terms ul a {
		text-decoration: none;
		transition: all .4s;

		&:hover {
			opacity: .7;
		}
	}
}

body.has-search-overlay {
	.section-search-overlay ~ * {
		filter: blur(3px);
	}

	.section-search-overlay {
		opacity: 1;
		pointer-events: auto;
	}
}
