.section-navigation {
	background-color: #272727;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 101;
	overflow: auto;
	opacity: 0;
	pointer-events: none;
	transition: all .4s;

	.section__inner {
		padding: 0 35px;

		@include breakpoint-down(tablet) {
			padding: 0;
		}
	}

	.section__bar {
		text-align: center;
		position: relative;
	  	padding-top: 78px;

		@include breakpoint-down(tablet) {
			padding: 59px 0;
		}

		@include breakpoint-down(mobile) {
		  	padding: 45px 0 39px 0;
		}
	}

	.btn-close-menu {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 0;

		@include breakpoint-down(tablet) {
			right: 3px;
			top: 51%;
		}

		@include breakpoint-down(mobile) {
			top: 54%;
		}
	}

	.logo {
		max-width: 210px;

		@include breakpoint-down(mobile) {
			max-width: 156px;
		}
	}

	.section__content {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		padding-top: 58px;
		padding-bottom: 35px;

		@include breakpoint-down(tablet) {
			padding-top: 35px;
		}

		@include breakpoint-down(mobile) {
			padding-top: 0;
		}
	}

	.section__aside {
		width: 50%;
		text-align: right;
		transform: translateX(-20px);
		opacity: 0;
		transition: all .4s;

		@include breakpoint-down(mobile) {
			width: 100%;
			transform: translateX(20px);
		  	text-align: center;
		}
	}

	.section__actions {
		width: 50%;
		padding-top: 10px;
		padding-left: 135px;
		transform: translateX(20px);
		opacity: 0;
		transition: all .4s;

		@include breakpoint-down(mobile) {
			width: 100%;
			padding: 0 0 35px 0;
			order: -2;
		}
	}

	.section__actions .btn-circle {
		@include breakpoint-down(mobile) {
			margin-left: auto;
			margin-right: auto;
		}
	}

	.search-form {
		max-width: 338px;
		margin-left: auto;
		margin-bottom: 46px;

		@include breakpoint-down(tablet) {
			margin-bottom: 30px;
		}

		@include breakpoint-down(mobile) {
		  	margin-right: auto;
		}
	}

	.search-form  label {
		display: block;
	}

	.search-form .search__field {
		background-color: transparent;
		border: none;
		border-bottom: 1px solid $c-white;
		color: $c-white;
		padding: 12px 40px 12px 0;
		font-size: 20px;
		font-weight: 300;
		border-radius: 0;

		&::-webkit-input-placeholder { color: rgba($c-white, .24); }
		&::-moz-placeholder { color: rgba($c-white, .24); }
		&:-moz-placeholder { color: rgba($c-white, .24); }
		&:-ms-input-placeholder { color: rgba($c-white, .24); }

		&:focus {
			color: $c-white;
		}

		@include breakpoint-down(mobile) {
			font-size: 18px;
			padding: 10px 40px 10px 0;
		}
	}

	.search-form .search__btn {
		width: 18px;
		height: 18px;
		border-radius: 0;
		appearance: none;
		border: none;
		background: url(../images/ico-search.svg) no-repeat 0 0;
		font-size: 0;
		line-height: 0;
		text-indent: -4004px;
		position: absolute;
		bottom: 15px;
		right: 10px;
	}

	.section__title {
		font-size: 60px;
		line-height: 1.17;
		color: #B7B7B7;
		margin-bottom: 25px;
		font-family: $ff-serif;
		font-weight: 400;

		@include breakpoint-down(tablet) {
			font-size: 50px;
		}

		@include breakpoint-down(mobile) {
			font-size: 40px;
			margin-bottom: 20px;
		}
	}

	.mCSB_inside > .mCSB_container {
		margin: 0;
	}

	.mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
		background-color: $c-base;
	}

	.section__foot {
		padding-top: 50px;
		display: flex;
		justify-content: flex-end;
		flex-wrap: wrap;

		@include breakpoint-down(tablet) {
			display: block;
		}

		@include breakpoint-down(mobile) {
			padding-top: 30px;
		}
	}

	.section__foot ul {
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		font-size: 11px;
		font-weight: 300;
		margin: 0 -14px;
		padding-left: 25px;

		@include breakpoint-down(tablet) {
			justify-content: flex-end;
			margin-top: 20px;
		}

		@include breakpoint-down(mobile) {
		  justify-content: center;
		  padding-left: 0;
		}
	}

	.section__foot ul li {
		padding: 0 14px;
		position: relative;

		&:after {
			content: '';
			position: absolute;
			top: 2px;
			left: 0;
			background-color: $c-white;
			width: 1px;
			height: 10px;
		}

		&:first-child {
			&:after {
				width: 2px;

				@include breakpoint-down(tablet) {
					display: none;
				}
			}
		}
	}

	.section__foot ul a {
		text-decoration: none;
		display: block;
		color: $c-white;
		transition: color .4s;

		&:hover {
			color: #7E7E7E;
		}
	}
}

body.has-navigation {
	.section-navigation {
		opacity: 1;
		pointer-events: auto;

		.section__aside {
			opacity: 1;
			transform: translateX(0);
		}

		.section__actions {
			opacity: 1;
			transform: translateX(0);
		}
	}
}

body.has-small-header {
	.section-navigation {
		.section__bar {
			padding: 19px 0;

			@include breakpoint-down(mobile) {
				padding: 16px 0;
			}
		}
	}
}
