/* ------------------------------------------------------------ *\
	- Section List Content
\* ------------------------------------------------------------ */

.section-list-content {
	margin: 190px 0;

	@include breakpoint-down(mobile) {
		margin: 45px 0;
	}
}
