/* ------------------------------------------------------------ *\
	- Section Image and Content
\* ------------------------------------------------------------ */

.section-image-and-content {
	margin: 243px 0;

	@include breakpoint-down(mobile) {
		margin: 45px 0;
	}

	.ico-circle-text {
		position: absolute;
		right: 84px;
		bottom: 0;
		transform: translateY(50%);
		z-index: 10;

		@include breakpoint-down(mobile) {
			right: 40px;
		}
	}

	.section__head {
		max-width: 988px;
		margin-left: auto;
		margin-bottom: 114px;

		@include breakpoint-down(mobile) {
			margin-bottom: 45px;
		}

		h3 {
			line-height: 1.4615;
		}
	}

	.section__body {
		display: flex;

		@include breakpoint-down(mobile) {
			flex-wrap: wrap;
		}
	}

	.section__body-image {
		width: 50%;
		position: relative;
		padding-right: 88px;

		@include breakpoint-down(tablet) {
			padding-right: 44px;
		}

		@include breakpoint-down(mobile) {
			padding-right: 0;
			width: 100%;
			margin-bottom: 100px;
		}

		& > span {
			display: block;
			margin-left: -280px;
			position: relative;

			@include breakpoint-down(tablet) {
				margin-left: -35px;
			}
		}

		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}

	.section__body-content {
		width: 50%;

		@include breakpoint-down(mobile) {
			width: 100%;
		}

		p {
			font-size: 18px;
			line-height: 1.5556;

			@include breakpoint-down(tablet) {
				font-size: 16px;
			}
		}

		p strong {
			font-weight: 600;
		}
	}
}
