/* ------------------------------------------------------------ *\
	- Section Content About
\* ------------------------------------------------------------ */

.section-content-about {
	margin: 146px 0 191px 0;

	@include breakpoint-down(mobile) {
		margin: 75px 0;
	}

	.ico-circle-text {
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);

		@include breakpoint-down(mobile) {
			position: relative;
			top: 0;
			transform: none;
			margin-left: auto;
			margin-right: auto;
		}
	}

	blockquote {
		max-width: 910px;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		padding-right: 270px;

		@include breakpoint-down(tablet) {
			padding-right: 200px;
		}

		@include breakpoint-down(mobile) {
			padding-right: 0;
			text-align: center;
		}
	}

	p {
		color: $c-dark-blue;
		font-size: 28px;
		line-height: 1.2857;
		font-weight: 500;

		@include breakpoint-down(tablet) {
			font-size: 22px;
		}

		@include breakpoint-down(mobile) {
			font-size: 17px;
		}
	}
}
