/* ------------------------------------------------------------ *\
	- Section Entry
\* ------------------------------------------------------------ */

.section-entry {
	padding: 117px 0;
	position: relative;
	overflow: hidden;

	@include breakpoint-down(mobile) {
		padding-bottom: 45px;
	}

	.post {
		.post__entry {
			ul,
			ol {
				font-weight: 400;
			}

			p:not(:last-child) img {
				margin-bottom: 60px;
			}
		}
	}
}
