/* ------------------------------------------------------------ *\
	- Section Slider Articles
\* ------------------------------------------------------------ */

.section-slider-articles {
	padding: 162px 0 96px 0;

	@include breakpoint-down(mobile) {
		padding: 100px 0 45px 0;
	}

	.section__head {
		margin-bottom: 119px;

		@include breakpoint-down(tablet) {
			margin-bottom: 95px;
		}

		@include breakpoint-down(mobile) {
			margin-bottom: 45px;
		}

		h3 {
			margin-bottom: 37px;

			@include breakpoint-down(mobile) {
				margin-bottom: 25px;
			}
		}

		p {
			font-size: 24px;
			line-height: 1.4167;
			font-weight: 400;

			@include breakpoint-down(tablet) {
				font-size: 19px;
			}

			@include breakpoint-down(mobile) {
				font-size: 15px;
			}
		}

		blockquote {
			max-width: 830px;
			margin-left: auto;
			margin-right: auto;

			& > *:last-child {
				margin-bottom: 0;
			}
		}

		ul:not([class]),
		ol:not([class]) {
			margin-left: 24px;
		}
	}
}
