/* ------------------------------------------------------------ *\
	Shell
\* ------------------------------------------------------------ */

.shell {
	position: relative;
	max-width: calc( #{$shell-max-width} + #{$shell-gutter} * 2);
	padding-left: $shell-gutter;
	padding-right: $shell-gutter;
	margin: auto;
	width: 100%;

	@include breakpoint-down(mobile) {
		padding: 0 22px;
	}
}

/* Shell Fluid */

.shell--fluid {
	max-width: none;
}
