.slider-members {
	position: relative;
	overflow: hidden;

	@include breakpoint-down(mobile) {
		margin: 0 -4.5vw;
	}

	.swiper-slide-visible.swiper-slide-active {
		width: 12vw;
	}

	.swiper-button-prev,
	.swiper-button-next  {
		pointer-events: none;
		opacity: 0;
		transition: all .6s;
	}

	.swiper-button-prev.enabled,
	.swiper-button-next.enabled {
		pointer-events: auto;
		opacity: 1;
	}

	.slider__clip {
		@media(max-width: 1279px){
			overflow: visible;
		}
	}

	.slider__slide {
		padding-top: 50px;
		cursor: pointer;

		&:hover {
			z-index: 55;

			.slider__slide-member-content {
				opacity: 1 !important;
			}

			.slider__slide-member-image > img {
				transform: scale(1.03);
			}
		}
	}

	.slider__slide-member-content {
		width: 353px;
		text-align: center;
		border: 1px solid #FFF;
		background: rgba(#393939,.65);
		color: $c-white;
		padding: 50px;
		position: absolute;
		top: 60%;
		left: 50px;
		z-index: 10;
		transform: translateY(-50%);
		opacity: 0;
		z-index: 175;
		transition: all .4s;

		@media(max-width: 1200px) {
			width: 314px;
		    top: 70%;
			left: 50%;
			transform: translate(-50%, -50%);
			padding: 20px;
		}
		@media(max-height: 500px) {
			max-height: calc(100vh - 200px);
		}
		@media(max-height: 350px) {
			top: 50%;
			transform: translate(-50%,-50%) scale(0.7);
		}
	}
	.slider__slide-member-content .btn {
		@media(max-width: 1200px) {
			padding: 5px 14px 3px;
		}
	}

	.slider__slide-member-content h5 {
		font-size: 18px;
		font-weight: 600;
		letter-spacing: 0;
		text-transform: none;
		font-family: $ff-sans-serif;
		margin-bottom: 0;
	}

	.slider__slide-member-content p {
		font-size: 15px;
		line-height: 1.6;
	}

	.slider__slide-member-content .btn {
		font-size: 11px;
		font-weight: 600;
		letter-spacing: .1em;
		min-width: 170px;
	}

	.slider__slide-member-image {
		position: relative;
		top: 0;
		transition: all .4s;
		width: 22vw;
		min-width: 400px;
		margin: 0 -1vw;
		@media(max-width: 1199px) {
			min-width: 350px;
			margin: 0 -5vw;
		}
		@media(max-width: 1023px) {
			width: 47vw;
			margin: 0 -6vw;
		}
		@media(max-width: 766px) {
			width: 20vw;
			margin: 0 -45vw;
    		min-width: 60vw;
		}
		@media(max-width: 400px) {
			width: 71vw;
			margin: 0 -40vw 0 -57vw;
			min-width: 280px;
		}
		@media(max-width: 350px) {
			margin: 0 -62vw;
		}
	}

	.slider__slide-member-image > img {
		transition: all .4s;
		width: 100%;
		max-height: calc(100vh - 260px);
		object-fit: contain;
		@media(max-width: 767px) {
			max-height: calc(100vh - 200px);
		}
		@media(max-width: 340px) {
			max-height: calc(100vh - 150px);
		}
		@media(max-height: 500px) {
			max-height: 90vh;
		}
	}

	.slider__slides {
		align-items: flex-end;
		margin-left: -1.198vw;

		@media(max-width: 767px) {
			margin-left: 0;
		}
	}

	.slider__actions {
		max-width: 1134px;
		padding-left: 22px;
		padding-right: 22px;
		margin-bottom: 5.646vw;
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 100%;
		z-index: 19;
		min-height: 48px;
		display: none;
		opacity: 0;
		transition: all .4s 1s;
	}

	.swiper-button-prev,
	.swiper-button-next {
		width: 48px;
		height: 48px;
		top: 0;
		margin: 0;

		&:after {
			display: none;
		}

		&:hover {
			circle {
				fill: $c-white;
			}

			path {
				stroke: $c-base
			}
		}
	}
	.swiper-button-prev {
		opacity: 0 !important;
	}

	.swiper-button-next {
		right: 22px;
	}

	.swiper-button-prev {
		left: 22px;
	}

	circle,
	path {
		transition: all .4s;
	}
	.swiper-slide-active + .slider__slide {
		@media(max-width: 1023px) {
			z-index: 10;
			.slider__slide-member-content {
				opacity: 1;
			}
			.slider__slide-member-image > img {
				transform: scale(1.1);
			}
			pointer-events: auto;
		}
		@media(max-width: 766px) {
			z-index: 1;
			.slider__slide-member-content {
				opacity: 0;
			}
			.slider__slide-member-image > img {
				transform: scale(1);
			}
			pointer-events: none;
		}
	}

	.swiper-slide-active + .slider__slide + .slider__slide {
		@media(max-width: 1199px) {
			z-index: 10;
			.slider__slide-member-content {
				opacity: 1;
			}
			.slider__slide-member-image > img {
				transform: scale(1.1);
			}
			pointer-events: auto;
		}
		@media(max-width: 1023px) {
			z-index: 1;
			.slider__slide-member-content {
				opacity: 0;
			}
			.slider__slide-member-image > img {
				transform: scale(1);
			}
			pointer-events: none;
		}
		@media(max-width: 766px) {
			z-index: 10;
			.slider__slide-member-content {
				opacity: 1;
			}
			.slider__slide-member-image > img {
				transform: scale(1.1);
			}
			pointer-events: auto;
		}
	}
	.slider__slide {
		@media(max-width: 1023px) {
			pointer-events: none;
		}

	}
}

.slider-members.is-visible {
	.slider__actions {
		opacity: 1;
		pointer-events: none;
		display: block;
		@media(max-width: 1200px) {
			opacity: 0;
		}
	}
}
