.slider-boxes {
	max-width: 100%;
	position: relative;

	.slick-slide {
		padding: 0 8px;

		@media(max-width: 1279px){
			padding: 0 11px;
		}
	}

	.slider__slide-quote {
		border: 1px solid $c-white;
		padding: 39px 22px 36px 32px;
		font-size: 18px;
		line-height: 1.3889;
		font-weight: 600;


		@include breakpoint-down(mobile) {
			font-size: 18px;
		}
	}

	.slider__slide-text {
		margin-top: clamp(10px, 1.823vw, 35px);
		font-size: 18px;
		line-height: 1.3889;
		font-weight: 500;
		max-width: 250px;


		@include breakpoint-down(mobile) {
			margin-top: 6.308vw;
		}

	}

	.slider__slide-text h5 {
		font-size: 18px;
		font-weight: 600;
		text-transform: none;
		margin-bottom: 3px;

		@include breakpoint-down(mobile) {
			font-size: 16px;
		}
	}

	.slider__slide-text a {
		text-decoration: none;
		display: inline-block;
	}

	.slider__slide-image {
		height: 100%;
		padding-top: 56.25%;
	}

	.slider__slide-image iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%
	}

	.slider__slide-image span,
	.slider__slide-image a {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 5;
		transition: all .4s;

		&:hover {
			background-color: #676D71;
			opacity: .2;
		}
	}

	.slick-list {
		overflow: visible;
		margin: 0 -8px;

		@media(max-width: 1279px){
			margin: 0 -11px;
		}
	}


	.swiper-button-prev,
	.btn-next,
	.swiper-button-next {
		width: 48px;
		height: 48px;
		top: 0;
		margin: 0;
		display: block;
		text-decoration: none;

		@include breakpoint-down(mobile) {
			width: 43px;
			height: 43px;
		}

		&:after {
			display: none;
		}

		&:hover {
			circle {
				fill: $c-white;
			}

			path {
				stroke: $c-base
			}
		}
	}

	.swiper-button-next {
		display: block;

	}

	.slick-prev.slick-arrow,
	.swiper-button-prev {
		display: none !important;
	}

	circle,
	path {
		transition: all .4s;
	}

	.btn-next svg{
		width: 100%;
		display: block;
		height: 100%;
	}

	.slider__actions {
		position: absolute;
		top: 0;
		transform: translateY(-50%);
		left: -94px;
		z-index: 6;

		@include breakpoint-down(large-desktop) {
			left: -26px;
		}

		@media(max-width: 1200px){
			left: 0;
		}

		@include breakpoint-down(tablet) {
			right: 0;
			left: auto;
			top: auto !important;
			bottom: 10px;
			transform: translateY(0);
		}


	}
}
