.slider-timeline-actions {
	width: calc((100vw - 1090px) / 2);
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	margin: -16px -18px 0;
	background-color: $c-white;
	position: relative;
	z-index: 94;
	padding-right: clamp(10px, 1.6458vw, 70px);
	padding-left: 35px;

	@media(max-width: 1545px){
		width: 100%;
		justify-content: flex-start;
		padding-left: calc((100vw -1090px) / 2 );
		padding-bottom: clamp(35px, 5.2083vw, 100px);
		margin-top: 0;
	}

	@media(max-width: 1160px){
		padding-left: 35px;
	}

	@include breakpoint-down(tablet) {
		margin: 0 -6px;
	}

	@include breakpoint-down(mobile) {
		padding-left: 22px;
	}

	.swiper-button-prev,
	.swiper-button-next {
		width: 47px;
		height: 47px;
		top: 0;
		margin: 0 18px;
		position: static;

		@include breakpoint-down(tablet) {
			margin: 0 6px;
		}

		@include breakpoint-down(mobile) {
			width: 34px;
			height: 34px;
		}

		&:after {
			display: none;
		}

		&:hover {
			circle {
				fill: #2e2e2d;
			}

			path {
				stroke: $c-white
			}
		}
	}

	svg {
		width: 100%;
		display: block;
		overflow: visible;
	}

	circle,
	path {
		transition: all .4s;
	}
}

.slider-timeline {
	position: relative;
	width: calc((100vw + 1090px) / 2);
	z-index: 400;
	margin-left: auto;

	@media(max-width: 1160px){
		padding-left: 35px;
	}

	@include breakpoint-down(mobile) {
		padding-left: 22px;
	}

	&:after {
		content: '';
		width: 1000%;
		height: 3px;
		top: 7px;
		left: 1;
		background-color: #707070;
		position: absolute;
	}


	.slider__clip {
		display: flex;
		flex-wrap: wrap;
	}

	.slider__slide {
		max-width: 348px;
		margin-right: clamp(25px, 3.4375vw, 66px);
		padding-top: 87px;
		position: relative;

		@include breakpoint-down(small-desktop) {
			max-width: 310px;
		}

		@include breakpoint-down(mobile) {
			padding-top: 40px;
			max-width: 220px;
		}

		&:after {
			content: '';
			width: 16px;
			height: 16px;
			position: absolute;
			top: 0;
			left: 0;
			background-color: #2E2E2D;
			border-radius: 50%;
		}
	}

	.slider__slide-year {
		padding-bottom: 23px;

		@include breakpoint-down(mobile) {
			padding-bottom: 10px;
		}
	}

	.slider__slide-year h4 {
		font-weight: 500;
		font-size: clamp(30px, 1.875vw, 36px);
		color: #4B4B4B;
	}

	.slider__slide-entry {
		font-size: clamp(16px, 1.0417vw, 20px);
		line-height: 1.3;
	}

	/*.swiper {
		overflow: visible;
	}*/
}
