.slider-members-related {
	.slider__slides {
		flex-wrap: nowrap;
		margin: 0;
	}
	.swiper {
		overflow: visible !important;
	}

	.members-type-2 .member {
		width: 100%;
		padding: 0;
	}

	.members-type-2 .member .member__image {
		justify-content: flex-start;

		@media(max-width: 575px){
			justify-content: center;
		}
	}

	.slider__actions {
		margin: -24px -18px 0;
		background-color: $c-white;
		position: relative;
		z-index: 94;
		position: absolute;
		left: -202px;
		width: 166px;
		display: flex;

		@media(max-width: 1545px){
			width: 100%;
			position: static;
		}


		@include breakpoint-down(tablet) {
			margin: 0 -6px;
		}
	}

	.swiper-button-prev,
	.swiper-button-next {
		width: 47px;
		height: 47px;
		top: 0;
		margin: 0 18px;
		position: static;

		@include breakpoint-down(tablet) {
			margin: 0 6px;
		}

		@include breakpoint-down(mobile) {
			width: 34px;
			height: 34px;
		}

		&:after {
			display: none;
		}

		&:hover {
			circle {
				fill: #2e2e2d;
			}

			path {
				stroke: $c-white
			}
		}
	}

	svg {
		width: 100%;
		display: block;
		overflow: visible;
	}

	circle,
	path {
		transition: all .4s;
	}
}

.app-block-members-slider-related {
	.shell {
		position: relative;
		&:before {
			position: absolute;
			top: 0;
			bottom: 0;
			right: 100%;
			width: 100vw;
			height: auto;
			display: block;
			content: '';
			background: #fff;
			z-index: 5;
		}
	}
}