/* ------------------------------------------------------------ *\
	- Slider Before After
\* ------------------------------------------------------------ */

.slider-before-after {
	width: 100%;

	.slide {
		width: 100%;
		position: relative;
		overflow: hidden;
	}

	.slide__images {
		position: relative;
		display: flex;
		margin: -5px;
	}

	.slide__image {
		width: 50%;
		padding: 5px;

		span {
			display: block;
			width: 100%;
			position: relative;
			height: 0;
			padding-top: 114%;
		}
	}

	.slider__actions {
		width: 100%;
		margin-top: 37px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 0;
		line-height: 0;
		gap: 37px;

		@include breakpoint-down(mobile) {
			margin-top: 30px;
		}
	}
}
