.slider-fullheight {
	height: 100%;
	position: relative;
	min-height: inherit;

	.slider__slide,
	.slider__slides,
	.slider__clip {
		height: 100%;
		min-height: inherit;
	}

	.slider__slide {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
	}

	h1 {
		font-size: clamp(60px, 4.688vw, 90px);
		line-height: 1;
		margin-bottom: 20px;
		color: $c-white;

		@include breakpoint-down(large-desktop) {
			margin-bottom: 15px;
		}

		@include breakpoint-down(small-desktop) {
			font-size: 6vw;
		}

		@include breakpoint-down(tablet) {
			font-size: 7vw;
		}

		@include breakpoint-down(mobile-medium) {
			font-size: 11vw;
		}
	}

	h2 {
		font-size: clamp(45px, 3.906vw, 75px);
		line-height: 1;
		margin-bottom: 33px;
		color: $c-white;

		@include breakpoint-down(large-desktop) {
			margin-bottom: 15px;
		}

		@include breakpoint-down(small-desktop) {
			font-size: 5.5vw;
		}

		@include breakpoint-down(tablet) {
			font-size: 6.5vw;
		}

		@include breakpoint-down(mobile-medium) {
			font-size: 10vw;
		}
	}

	h5 {
		font-family: $ff-sans-serif;
		text-transform: uppercase;
		font-size: 24px;
		line-height: 1.0833;
		letter-spacing: .1em;
		font-weight: 600;
		margin-bottom: 37px;
		color: $c-white;

		@include breakpoint-down(large-desktop) {
			font-size: 20px;
			margin-bottom: 25px;
		}

		@include breakpoint-down(mobile) {
			margin-bottom: 15px;
			font-size: 18px;
		}
	}

	ol,
	ul,
	p {
		font-size: 18px;
		line-height: 1.3889;
		font-weight: 500;
		color: $c-white;
		list-style-position: inside;


		@include breakpoint-down(large-desktop) {
			font-size: 16px;
		}

		@include breakpoint-down(mobile-medium) {
			font-size: 15px;
		}
	}

	.slider__slide-inner {
		padding: 190px 0 100px;
	}

	.slider__slide-content {
		width: 100%;
		position: relative;
		z-index: 10;
		max-width: 31.250vw;
		text-align: center;
		color: $c-white;
		margin: 0 auto;

		@include breakpoint-down(small-desktop) {
			max-width: 50vw;
		}

		@include breakpoint-down(tablet) {
			max-width: 60vw;
		}

		@include breakpoint-down(mobile) {
			max-width: 95vw;
		}
	}

	.slider__slide-content  > img {
		margin-bottom: 2.604vw;

		@include breakpoint-down(mobile) {
			margin-bottom: 5vw;
			max-width: 220px;
		}
	}

	.slider__actions {
		max-width: 1134px;
		padding-left: 22px;
		padding-right: 22px;
		margin-bottom: 3.646vw;
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 100%;
		z-index: 19;
		min-height: 48px;
		display: none;
		opacity: 0;
		transition: all .4s 1s;

		@include breakpoint-down(mobile) {
			min-height: 34px;
			margin-bottom: 5vw;
		}
	}

	.swiper-button-prev,
	.swiper-button-next {
		width: 48px;
		height: 48px;
		top: 0;
		margin: 0;

		@include breakpoint-down(mobile) {
			width: 34px;
			height: 34px;
		}

		&:after {
			display: none;
		}

		&:hover {
			circle {
				fill: $c-white;
			}

			path {
				stroke: $c-base
			}
		}
	}

	.swiper-button-next {
		right: 22px;
	}

	.swiper-button-prev {
		left: 22px;
	}

	circle,
	path {
		transition: all .4s;
	}

	.swiper-pagination {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		bottom: auto;
		top: 50%;
		margin-top: -4px;
		width: 100%;
	}

	.swiper-pagination-bullet {
		width: 8px;
		height: 8px;
		background-color: $c-white;
		margin: 0 14px !important;
		display: block;
		opacity: 1 !important;
		transition: all .4s;

		@include breakpoint-down(mobile) {
			margin: 0 8px !important;
		}

		&:hover {
			opacity: .7 !important;
		}
	}

	.btn {
		margin-top: 1.823vw;
	}
}

.slider-fullheight.is-visible {
	 .slider__actions {
		display: block;
	}

	.slider__slide-inner {
		padding: 100px 0;

		@include breakpoint-down(large-desktop) {
			padding: 80px 0;
		}
	}
}

/*  type 1 */
.slider-fullheight--type-1 {
	.btn-circle {
		background-color: #3C3C3C;
		border-color: #3C3C3C;
		position: absolute;
		top: -6vw;
		left: -10vw;

		@include breakpoint-down(large-desktop) {
			top: -6vw;
			left: -10vw;
		}

		@include breakpoint-down(mobile) {
			position: static;
			margin: 0 auto 3vw;
		}

		&:hover {
			background-color: $c-white;
			border-color: $c-white;
			color: #3C3C3C;
		}
	}

	.slider__slide-content p {
		max-width: 500px;
		margin-left: auto;
		margin-right: auto;
	}
}

/*  type 2  */
.slider-fullheight--type-2 {
	.slider__slide-content {
		max-width: 36.458vw;

		@include breakpoint-down(large-desktop) {
			max-width: 50vw;
		}

		@include breakpoint-down(tablet) {
			max-width: 60vw;
		}

		@include breakpoint-down(mobile) {
			max-width: 95vw;
		}
	}

	.slider__slide-content p {
		max-width: 25.833vw;
		margin: 0 auto 20px;

		@include breakpoint-down(large-desktop) {
			max-width: 50vw;
		}

		@include breakpoint-down(tablet) {
			max-width: 90%;
		}

		@include breakpoint-down(mobile) {
			max-width: 100%;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	.btn-circle {
		position: absolute;
		bottom: -110px;
		right: -135px;

		@include breakpoint-down(large-desktop) {
			bottom: -70px;
			right: -95px;
		}

		@include breakpoint-down(mobile) {
			position: static;
			margin: 4vw auto 0;
		}
	}
}

/*  type 3  */
.slider-fullheight--type-3 {
	.slider__slide-content {
		max-width: 617px;
		text-align: left;
		margin: 0 0 0 140px;

		@include breakpoint-down(tablet) {
			margin-left: 25px;
			max-width: 70vw;
		}

		@include breakpoint-down(mobile) {
			margin-left: 0;
			max-width: 98vw;
		}
	}

	.slider__slide-content p {
		max-width: 494px;
		margin: 0 0 20px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.slider__slide-content h2 {
		max-width: 92%;

		@include breakpoint-down(mobile) {
			max-width: 100%;
		}
	}

	.btn-circle {
		margin-left: auto;
		margin-bottom: -20px;
		position: relative;
		z-index: 45;

		@include breakpoint-down(mobile) {
			margin-bottom: 20px;

		}
	}
}

/*  type-4  */
.slider-fullheight--type-4 {
	.slider__slide-content {
		max-width: 28.333vw;
		margin: 0 0 0 auto;
		padding: 0 32px;

		@include breakpoint-down(large-desktop) {
			max-width: 45vw;
		}

		@include breakpoint-down(tablet) {
			max-width: 50vw;
		}

		@include breakpoint-down(mobile) {
			max-width: 95vw;
		}

		.slider__slide-actions {
			a {
				@include breakpoint-down(mobile) {
				  margin-top: 1rem;
				}
			}
		}
	}

	.slider__slide-bg {
		@include breakpoint-down(mobile) {
			opacity: .2;
		}
	}
}

/*  type-5  */
.slider-fullheight--type-5 {
	.slider__slide-inner {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		padding: 190px 95px 100px;

		@include breakpoint-down(tablet) {
			padding: 110px 15px 100px;
		}
	}

	.slider__slide-content {
		text-align: left;
		max-width: 100%;
		width: 57%;
		margin: 0;

		@include breakpoint-down(large-desktop) {
			width: 65%;
		}

		@include breakpoint-down(mobile) {
			width: 100%;
		}
	}

	.slider__slide-content p {
		max-width: 328px;

		@include breakpoint-down(tablet) {
			max-width: 100%;
		}
	}

	.slider__slide-image {
		width: 43%;
		padding-left: 25px;

		@include breakpoint-down(large-desktop) {
			width: 35%;
		}

		@include breakpoint-down(mobile) {
			display: none;
		}
	}

	.btn {
		min-width: 191px;
	}
}

/*  type-6  */
.slider-fullheight--type-6 {

	.slider__slide-logo {
		margin: 4.688vw auto 4.167vw;

		@include breakpoint-down(tablet) {
			max-width: 230px;
		}

		@include breakpoint-down(mobile) {
			margin: 2vw auto;
		}

		@include breakpoint-down(mobile-medium) {
			margin: 4vw auto 6vw;
		}
	}

	.slider__slide-inner {
		padding: 150px 0;

		@include breakpoint-down(mobile) {
			padding: 100px 0;
		}
	}

	.slider__slide-content {
		position: relative;
	}

	.slider__slide-content p {
		max-width: 492px;
		margin-left: auto;
		margin-right: auto;
	}

	.btn-circle {
		margin-left: auto;
		position: relative;
		right: -155px;
		top: 0;

		@include breakpoint-down(tablet) {
			right: -120px;
			top: -25px;
		}

		@include breakpoint-down(mobile) {
			right: 0;
			top: 0;
			margin: 0 auto 3vw;
		}
	}
}
