/* ------------------------------------------------------------ *\
	- Slider Articles
\* ------------------------------------------------------------ */

.slider-articles {
	width: 100%;
	max-width: calc(400px + 15px);
	position: relative;

	@include breakpoint-down(mobile) {
		max-width: calc(280px + 15px);
	}

	&:before {
		content: ' ';
		position: absolute;
		left: -900px;
		top: 0;
		bottom: 0;
		z-index: 10;
		width: 900px;
		background-color: white;
	}

	.slick-track {
		display: flex;

		&:before,
		&:after {
			display: none;
		}
	}

	.slick-list {
		overflow: visible;
	}

	.slider__actions {
		width: 100%;
		margin-top: 50px;
		font-size: 0;
		line-height: 0;
		display: flex;
		gap: 37px;

		@include breakpoint-down(mobile) {
			margin-top: 30px;
		}
	}

	.slick-slide {
		min-height: 100%;
		height: auto;
		float: none;

		& > * {
			display: flex;
			min-height: 100%;
		}
	}

	.slide {
		padding-right: 15px;
		display: flex !important;
		min-height: 100%;
	}

	.slick-current .slide,
	.slick-current ~ * .slide {
		opacity: 1;
		visibility: visible;
	}

	.slide__group {
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	.slide__caption {
		background-color: $c-base;
		color: white;
		font-size: 18px;
		letter-spacing: 2px;
		font-weight: 600;
		text-transform: uppercase;
		padding: 4px 20px;
		text-align: center;

		@include breakpoint-down(mobile) {
			font-size: 16px;
		}

		p {
			color: white;
		}
	}

	.slide__image {
		width: 100%;
		min-height: 260px;
		position: relative;
		overflow: hidden;

		@include breakpoint-down(mobile) {
			min-height: 208px;
		}

		& > a {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			z-index: 10;

			@media (-ms-high-contrast: none), (-ms-high-contrast: active), (-moz-touch-enabled: 0), (hover) {
				&:hover ~ img {
					transform: scale(1.1);
				}
			}
		}

		img {
			transition: transform $t-duration;
		}
	}

	.slide__content {
		width: 100%;

		&:not(:first-child) {
			padding-top: 40px;

			@include breakpoint-down(mobile) {
				padding-top: 32px;
			}
		}

		h5 {
			font-size: 22px;
			line-height: 1.2727;
			text-transform: none;
			font-weight: 500;
			margin-bottom: 12px;

			@include breakpoint-down(mobile) {
				font-size: 17px;
			}
		}

		h5 a {
			text-decoration: none;

			@media (-ms-high-contrast: none), (-ms-high-contrast: active), (-moz-touch-enabled: 0), (hover) {
				&:hover {
					color: $c-dark-blue;
				}
			}
		}

		p {
			font-size: 16px;
			line-height: 1.50;

			@include breakpoint-down(mobile) {
				font-size: 14px;
			}
		}

		& > *:last-child {
			margin-bottom: 0;
		}
	}

	.slide__actions {
		width: 100%;
		margin-top: auto;
		padding-top: 35px;

		a {
			display: inline-block;
			vertical-align: top;
			font-size: 14px;
			line-height: 1.4286;
			font-weight: 600;
			letter-spacing: 2px;
			color: #585858;
			text-transform: uppercase;
			padding: 14px 20px;
			border: 1px solid #575757;
			min-width: 259px;
			text-decoration: none;
			text-align: center;
			transition: color $t-duration, background $t-duration;
			letter-spacing: 1.5px;

			@media (-ms-high-contrast: none), (-ms-high-contrast: active), (-moz-touch-enabled: 0), (hover) {
				&:hover {
					background-color: #585858;
					color: white;
				}
			}
		}
	}
}
