.slider-specialists {
	position: relative;
	padding-right: clamp(45px, 10.8958vw, 210px);

	@media(max-width: 574px){
		padding-right: 0;
	}

	.slider__specialists-line {
		position: absolute;
		left: 0;
		width: calc(100% - 26px);
		height: 1px;
		background-color: #707070;

		@include breakpoint-down(mobile) {
			width: 100%;
		}

		@media(max-width: 574px){
			display: none;
		}
	}

	.slider__actions {
		background-color: transparent;
		position: relative;
		z-index: 94;
		position: absolute;
		right: clamp(35px, 8.1771vw, 157px);
		width: 47px;
		display: flex;

		@include breakpoint-down(mobile) {
			right: 25px;
			margin: -20px auto 20px;
		}

		@media(max-width: 574px){
			position: static;
			justify-content: center;
			width: 166px;
			margin: -20px auto 20px;
		}
	}

	.swiper-button-prev,
	.swiper-button-next {
		width: 47px;
		height: 47px;
		top: 0;
		position: static;
		display: block;

		@include breakpoint-down(tablet) {
			margin: 0 6px;
		}

		@include breakpoint-down(mobile) {
			width: 34px;
			height: 34px;
		}

		&:after {
			display: none;
		}

		&:hover {
			circle {
				fill: #2e2e2d;
			}

			path {
				stroke: $c-white
			}
		}
	}
	.swiper-button-next {
		position: relative;
		left: 15px;
		@include breakpoint-down(small-desktop) {
			left: 25px;
		}
		@include breakpoint-down(mobile) {
			left: 10px;
		}
	}

	.swiper-button-prev {
		display: none;

		@media(max-width: 574px){
			display: block;
		}
	}

	svg {
		width: 100%;
		display: block;
		overflow: visible;
	}

	circle,
	path {
		transition: all .4s;
	}
}
