.slider-images {
	position: relative;

	.slider__actions {
		display: flex;
		margin: 0 -18px;
		position: absolute;
		bottom: 0;
		left: 0;

		@include breakpoint-down(tablet) {
			margin: 0 -6px;
		}

		@include breakpoint-down(mobile) {
			position: static;
			padding: 0 22px;
		}
	}

	.swiper-button-prev,
	.swiper-button-next {
		width: 47px;
		height: 47px;
		top: 0;
		margin: 0 18px;
		position: static;

		@include breakpoint-down(tablet) {
			margin: 0 6px;
		}

		@include breakpoint-down(mobile) {
			width: 34px;
			height: 34px;
		}

		&:after {
			display: none;
		}

		&:hover {
			circle {
				fill: #2e2e2d;
			}

			path {
				stroke: $c-white
			}
		}
	}

	svg {
		width: 100%;
		display: block;
		overflow: visible;
	}

	circle,
	path {
		transition: all .4s;
	}

	.slider__slide-inner {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-end;
	}

	.slider__slide-content {
		width: 277px;
		padding-bottom: 107px;

		@include breakpoint-down(tablet) {
			padding-bottom: 65px;
			width: 230px;
		}

		@include breakpoint-down(mobile) {
			width: 100%;
			order: 2;
			padding: 25px 22px;
		}
	}

	.slider__slide-content h5 {
		font-size: 18px;
		color: #4B4B4B;
		font-weight: 600;
		font-family: $ff-sans-serif;
		margin-bottom: 5px;

		@include breakpoint-down(mobile) {
			font-size: 16px;
			line-height: 1.2;
		}
	}

	.slider__slide-content p {
		line-height: 1;
	}

	.slider__slide-image {
		width: calc(100% - 277px);

		@include breakpoint-down(tablet) {
			width: calc(100% - 230px);
		}

		@include breakpoint-down(mobile) {
			width: 100%;
		}
	}

	.slider__slide-image-inner img {
		width: 100%;
		min-height: 500px;
		object-fit: cover;

		@include breakpoint-down(mobile) {
			min-height: 300px;
		}
	}
}
