.socials {
	margin-top: 36px;

	ul {
		list-style: none;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		color: #7C7C7C;
		margin: 0 -12px;

		@include breakpoint-down(mobile) {
			margin: 0 -8px;
		  	justify-content: center;
		}
	}

	li {
		padding: 0 12px;

		@include breakpoint-down(mobile) {
			padding: 0 8px;
		}
	}

	a {
		text-decoration: none;
		display: block;
		font-size: 20px;
		transition: color .4s;

		&:hover {
			color: $c-white;
		}
	}

	.fa-youtube {
		font-size: 24px;
	}
}
