.specialist {
	margin-right: clamp(30px, 5.3125vw, 102px);

	@media(max-width: 574px){
		margin-right: 0;
	}

	.specialist__content {
		text-align: center;
	}

	.specialist__inner {
		position: relative;
		transition: all .4s;

		&:hover {
			opacity: .8;
		}
	}

	.specialist__link {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.specialist__image {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-end;
		justify-content: center;
		text-align: center;

		@media(max-width: 574px){
			border-bottom: 1px solid #707070;
		}
	}

	.specialist__content {
		margin-top: 15px;
	}

	.specialist__name {
		font-size: 18px;
		font-weight: 700;
		margin-bottom: 5px;
	}

	.specialist__pos {
		font-size: 14px;
		line-height: 1.5;
		font-weight: 500;
	}
}

.app__block-specialists {
	.slider__actions {
		opacity: 0;
	}
	.slider__slide {
		max-width: 386px;
		@media(max-width: 1020px) {
			max-width: 345px;
		}
	}
	.hasSlider {
		.slider__actions {
			opacity: 1;
		}
		.slider__slide {
			max-width: 100%;
		}
	}
}