/* ------------------------------------------------------------ *\
	Wrapper
\* ------------------------------------------------------------ */

.wrapper {
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	overflow: hidden;

	.wrapper__inner {
		width: 100%;
		display: flex;
		flex-direction: column;
		min-height: 100vh;
	}
}

body.admin-bar {
	.wrapper {
		.wrapper__inner {
			min-height: calc( 100vh - 32px);

			@include breakpoint-down(admin-bar){
				min-height: calc( 100vh - 46px);
			}
		}
	}
}

