@for $i from 1 through 100 {
	.animation-parent > *:nth-child(#{$i}) {
		transition: all 400ms ease-out (#{$i*.10s});
	}
}

.animation-parent > * {
	transition: all .3s ease-out;
	opacity: 0;
	transform: translate3d(0px, 100px, 0px);
}

.animation-parent.is-active > * {

	opacity: 1;
	transform: translate3d(0px, 0px, 0px);
}
