.nav-lang {
	padding-top: 46px;

	@include breakpoint-down(mobile) {
		padding-top: 30px;
	}

	ul {
		display: flex;
		justify-content: flex-end;
		margin: 0 -16px;
	}

	 li {
	 	padding: 0 13px;
	 }

	 a {
	 	text-decoration: none;
	 	font-size: 16px;
	 	letter-spacing: .15em;
	 	font-family: $ff-sans-serif-alt;
	 	font-weight: 400;
	 	color: #7E7E7E;
	 	transition: color .4s;

	 	&:hover {
	 		color: $c-white;
	 	}
	 }
}
